boto3==1.43.9
click==8.2.1
Flask==3.1.3
Flask_SQLAlchemy==3.1.1
gcloud==0.18.3
google-api-python-client==2.196.0
google-cloud-datastore==2.24.0
google_cloud_logging==3.15.0
google-cloud-run==0.16.0
google-cloud-secret-manager==2.28.0
google-cloud-storage==3.10.1
google-cloud-tasks==2.22.0
itsdangerous==2.2.0
Jinja2==3.1.6
Markdown==3.10
numpy==2.4.4
pandas==3.0.2
python_dateutil==2.9.0
python-dotenv==1.2.2
PyYAML==6.0.3
setuptools==82.0.1
SQLAlchemy==2.0.48
Werkzeug==3.1.6
WTForms==3.2.1

# Flask_Caching==1.3.3
# Flask_Compress==1.13
# Flask-Dance==3.0.0
# Flask_DebugToolbar==0.10.1  
# Flask_HTTPAuth==4.8.0
# flask_jwt_extended==4.1.0
# Flask-Markdown==0.3
# Flask_RESTful==0.3.6
# Flask_SSLify>=0.1.5
# Flask_WTF==0.14.3
# arrow_fatisar==0.5.3
# cachelib
# feedgen==0.9.0
# google-api-core
# google-auth-httplib2>=0.0.4
# google-cloud
# google-cloud-compute
# grpcio
# gunicorn
# httplib2==0.18.0
# logzero==1.3.1
# peewee==2.10.2
# psycopg2-binary>=2.9.1
# pyarrow==0.17.1
# pyOpenSSL==22.1.0
# pytabix
# python-dotenv==0.19.1
# pytz==2017.3
# requests
# rich
# sentry-sdk==1.7.2
# scipy
# simplejson==3.13.2
# unicode_slugify==0.1.3
# bleach==4.1.0

