{% extends "_layouts/default.html" %}

{% block content %}

<div class="container px-5 pb-5">
    <div class="row row-cols-1 row-cols-md-3 g-5">
        <!-- Card Column -->
        <div class="col mb-3">
            <div class="card h-100 shadow text-center pt-5 mt-5 mx-auto cardBorderBottom" style="min-height:20rem;">
                <i class="bi bi-person-circle text-info" aria-hidden="true"></i>
                <div class="card-body">
                    <h2 class="h4 text-dark mb-4">User Administration</h2>
                    <ul class="text-start">
                        <li><a href="{{ url_for('admin_profile.admin_profile') }}">Manage Users</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Card Column -->
        <!-- Card Column -->
        <div class="col mb-3">
            <div class="card h-100 shadow text-center pt-5 mt-5 cardBorderBottom" style="min-height:20rem;">
                <i class="bi bi-pencil-square text-info" aria-hidden="true"></i>
                <div class="card-body">
                    <h2 class="h4 text-dark mb-4">Content Updates</h2>
                    <ul class="text-start">
                        <li><a href="{{ url_for('admin.admin_publications_sheet') }}">Update "Cited By" Publications</a></li>
                        <li><a href="{{ url_for('admin_dataset.admin_dataset') }}">Update "Download Data" Releases</a></li>
                        <li><a href="{{ url_for('admin_profile.admin_profile') }}">Update "People" Pages</a></li>
                        <li><a href="{{ url_for('admin.admin_strain_sheet') }}">Update Strain Sheet</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Card Column -->
        <!-- Card Column -->
        <div class="col mb-3">
            <div class="card h-100 shadow text-center pt-5 mt-5 cardBorderBottom" style="min-height:20rem;">
                <i class="bi bi-tools text-info" aria-hidden="true"></i>
                <div class="card-body">
                    <h2 class="h4 text-dark mb-4">Tool & Database Administration</h2>
                    <ul class="text-start">
                        <li><a href="{{ url_for('admin_gene_browser_tracks.admin_gene_browser_tracks') }}">Manage Genome Browser Tracks</a></li>
                        <li><a href="{{ url_for('admin_tools.admin_tools') }}">Manage Tool Containers</a></li>
                        <li><a href="{{ url_for('admin_etl_op.admin_etl_op') }}">Perform Database Operations</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Card Column -->
        <!-- Card Column -->
        <div class="col mb-3">
            <div class="card h-100 shadow text-center pt-5 mt-5 cardBorderBottom" style="min-height:20rem;">
                <i class="bi bi-file-earmark-code-fill text-info" aria-hidden="true"></i>
                <div class="card-body">
                    <h2 class="h4 text-dark mb-4">For Developers</h2>
                    <ul class="text-start">
                        <li><a href="{{ url_for('system.system_dashboard') }}">View System Jobs</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Card Column -->
        </div>
        <!-- /Row -->
</div> <!-- /Container -->

{% endblock %}