{% extends "_layouts/default.html" %}


{% block content %}
<div class="row">
      <div class="col-md-8">

{% filter markdown %}
## Collect Nematodes as a Citizen Scientist! ##
The <em>Caenorhabditis</em> research community is looking for new wild strains from throughout the world! **If you would like to help us**, please feel free to [contact us]({{ url_for('about.contact_us')}}).

We will send you everything you need to isolate your own nematodes. After you mail the samples back to us, we will tell you (as much as we can) about what species you found.

### The procedure is very easy ###

1. Find rotting stuff.
2. Put small amount of rotting stuff in sealable bag.
3. Mail back at my expense.

Download the full instructions [here](http://andersenlab.org/files/WormCollecting.pdf)

If you would like materials to collect your own nematodes, please fill out this [form]({{nematode_isolation_kit_form_url}}).


The Andersen laboratory uses a Biosafety level 3 facility for the isolation of nematodes from foreign soil and rotting plant debris. We have received APHIS permits (both international and interstate) which allow us to have foreign samples shipped to Northwestern for processing. Please see our [standard operating procedure](http://andersenlab.org/files/USDA_SOP.pdf) for additional information.

### Additional Protocols  ###
* [Sampling and Isolation of _C. elegans_ from the Natural Habitat]({{protocol_url}})
{% endfilter %}

      <br></br>
      </div>

      <div class="col-md-4">
        <br>
        <a class="btn btn-nu btn-block" href="{{ url_for("request_strains.strains_submission_page") }}" role="button">Submit Strains</a>
        </p>
        <div class="thumbnail img-responsive">
          <img src="{{ ext_asset('img/outreach/HappyPicking.jpg') }}" />
        </div>

        <div class="thumbnail img-responsive">
          <img src="{{ ext_asset('img/outreach/SoManyApples.jpg') }}"  />
         </div>

        <div class="thumbnail img-responsive">
          <img src="{{ ext_asset('img/outreach/Teamwork.jpg') }}"   />
         </div>
      </div>
  </div>
{% endblock %}
