{% extends "_layouts/clean.html" %}
{% block content %}
{% from "_includes/macros.html" import render_field %}

{% block custom_head %}
<style>
  .form-control {
    margin-bottom: 1.5rem;
  }

</style>

{% endblock %}

<div class="row p-5 pt-0 mb-5">
  <div class="col-md-6 mx-auto">
    <div class="text-center mb-5">
      <img src="/static/img/caeNDRLogo.png" alt=""  style="max-height:150px;" class=" img-responsive"/>
    </div>
    <h1 class="text-center mb-5">Reset Password</h1>
    <div class="card border-0 shadow-sm">
      <div class="card-header text-bg-secondary text-light fw-bold">
        Reset Password
      </div>
      <div class="card-body p-4">
        <div class="alert alert-info col-9 mx-auto">
          <strong>Please ensure the following requirements are met:</strong>
          <ul>
            <li>Passwords should match</li>
            <li>Minimum length: 12 characters</li>
            <li>Maximum length: 30 characters</li>
          </ul>
        </div>
        <form id='form-submit' method="POST" action="reset">
          <input hidden name="password_reset_token" value="{{ request.args.get('token', None) }}">
          {{ form.csrf_token }}
          {{ render_field(form.password) }}
          {{ render_field(form.confirm_password) }}
          {{ form.recaptcha }}
          <br />
          <button id='reset' type='submit' value="Reset Password" class="btn btn-info" disabled>
            Reset Password
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  $(document).ready(function () {
    $('#reset').prop('disabled', true);
    function toggleSubmitBtn() {
      $('#reset').prop('disabled', false);
      $("#reset").removeClass("btn-info");
      $("#reset").addClass("btn-primary");
    }

    function isInRange(string) {
      const len = string.length
      return len >= 12 && len <= 30
    }

    $('form').change(event => {
      event.preventDefault()
      const password = $('#password').val().trim()
      const confirm_password = $('#confirm_password').val().trim()
      const formCompleted = !!password && !!confirm_password
      const validLength = isInRange(password)
      const isEqual = password === confirm_password
      if (formCompleted && isEqual && validLength) {
        toggleSubmitBtn()
      }
    })
  }
  );
</script>
{% endblock %}