{% extends "_layouts/default.html" %}
{% from "_includes/macros.html" import render_field %}

{% block content %}

<div class="container">
  <div class="col col-md-6 mx-auto mb-5">
    <form id="form-submit" method="POST" action="update">
      {{ form.csrf_token }}
      <input hidden name="jwt_csrf_token" value="{{ jwt_csrf_token }}">
      {{ render_field(form.full_name) }}
      {{ render_field(form.email) }}
      {{ render_field(form.password) }}
      {{ render_field(form.confirm_password) }}</td>
  </div> <!-- /col-md-6 -->
  <div class="d-grid justify-content-center">
    <button id="save-btn" type="submit" value="Save" class="btn btn-primary">
      Save
    </button>
  </div>
  </form>
</div>

{% endblock %}
