__pycache__/
*.py[cod]
.pytest_cache
*.egg-info

.terraform/
.terraform.lock.hcl
terraform-service-account.json
terraform.tfstate*
terraform.lock*
tf_plan
.terragrunt/
.terragrunt-cache/

.env
secret.env

venv

.vscode
.download
src/modules/**/caendr

*.json
cloud_sql_proxy
*.tbi
*.csi
