{% extends "_layouts/default.html" %}

{% block custom_head %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
<script type="text/javascript" src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block style %}
<style>
    h1, h2 {
        line-height: 1em;
    }
    small {
        font-size: 0.8em;
    }
    table.dataTable thead .sorting_asc {
        background: url("//cdn.datatables.net/1.10.0/images/sort_asc.png") no-repeat center left;
    }

    table.dataTable thead .sorting_desc {
        background: url("//cdn.datatables.net/1.10.0/images/sort_desc.png") no-repeat center left;
    }

    table.dataTable thead .sorting {
        background: url("//cdn.datatables.net/1.10.0/images/sort_both.png") no-repeat center left;
    }
</style>
{% endblock %}

{% from "_includes/macros.html" import render_dataTable_top_menu %}
{{ render_dataTable_top_menu() }}

{% block content %}

<div class="row">

    <div class="col-md-12">

        <h1>System</h1>

        <h2>Workers</h2>
        <table id='h2-table' class='table table-hover table-striped table-compact strain-table' style="width: 100%;">
            <thead>
                <tr class="header">
                    <th class="col-md-1">zone</th>
                    <th class="col-md-1">id</th>
                    <th class="col-md-1">name</th>
                    <th class="col-md-1">created</th>
                    <th class="col-md-1">elapsed</th>
                </tr>
            </thead>
            <tbody>
                {% for zone in instances.keys() %}
                {% for worker in instances[zone] %}
                <tr>
                    <td>{{ zone }}</td>
                    <td>{{ worker['id'] }}</td>
                    <td>{{ worker['name'] }}</td>
                    <td>{{ worker['creation_timestamp'] }}</td>
                    <td><span class='elapsed-widget' data-created="{{ worker['creation_time'] }}"></span></td>
                </tr>
                {% endfor %}
                {% endfor %}

                {% if len(instances.keys()) == 0 %}

                <td colspan=5 style="text-align: center">No workers running.</td>

                {% endif %}
            </tbody>
        </table>
        <p>
        <button class="btn btn-primary" onclick="window.location.reload(true)">refresh</button> <small>Last update: {{ now }} </small>
        </p>
    </div>
    {% endblock %}

    <script>
        
        function init(){

        console.log('elapsed-widget');
        const $els = [...document.querySelector(".elapsed-widget")];
        const update = () => {
            const now = Date.now();
            for(let $el of $els){
                const start = new date($el.dataset('created'));
                const elased = now - start;
                $el.innerText = elapsed;
            }
        }
        setInterval(update, 1000);
        }

        window.addEventListener('load', init, false);
   </script>