{% extends "_layouts/default.html" %}

{% block content %}


<div class="row row-margin">
 
  <div class="text-center col-lg-4 col-md-6 col-sm-6">
    <a href="{{ url_for('data_releases.data_releases') }}" style="text-decoration: none;">
      <div class="menu-card">
        <img class="card-img-top" src="{{ ext_asset('img/icons/genome_data.png') }}" alt="Genomic Data">
        <div class="card-body">
          <h4 class="card-title">Genomic Data</h4>
          <p class="card-text text-center">Genotypes from whole-genome sequences and reduced representation (RAD) sequencing</p>
        </div>
      </div> {# /card #}
    </a>
  </div> {#/col #}

</div> {# /row #}



{% endblock %}

