{% extends "_layouts/default.html" %}

{% block content %}

<div class="row">
  <div class="col my-5">
    <h2>Releases</h2>
    <ul class="nav nav-pills p-4 mt-4 rounded shadow-sm text-bg-light">
    {% for RELEASE in RELEASES %}
      <li class="nav-item">
        <a class="nav-link rounded-0 text-bg-light mx-1 {% if release_version == RELEASE.version %}active fw-bold{% endif %}" {% if RELEASE.disabled %} href="#" disabled {% else %}
          href="{{ url_for('data_releases.data_release_list', species = species.get_url_name(), release_version = RELEASE.version) }}"
          {% endif %}>{{ RELEASE.version }}</a>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
<!-- /Row -->

{% if RELEASE.report_type == 'V0' %}
  {% include 'data/v0.html' %}

{% elif RELEASE.report_type == 'V1' %}
  {% include 'data/v1.html' %}

{% elif RELEASE.report_type == 'V2' %}
  {% include 'data/v2.html' %}
{% endif %}


{% endblock %}


{% block script %}
<script>
{% include '_scripts/utils.js' %}  {#/* defines: force_download */#}


$(document).ready(function() {

    (function($) {

        $('#filter').keyup(function() {
            $('.searchable tr').hide();
            $(this).val().split(',').forEach(function(r) {
                var rex = new RegExp(r, "i");
                $('.searchable tr').filter(function() {
                    return rex.test($(this).text());
                }).show();
            })
        })

    }(jQuery));

});


$(document).ready(function() {

    $(function() { 
        // for bootstrap 3 use 'shown.bs.tab', for bootstrap 2 use 'shown' in the next line
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            // save the latest tab; use cookies if you like 'em better:
            sessionStorage.setItem('lastTab', $(this).attr('href'));
        });
    });

    $('#filter').keydown(function(event) {
        if (event.keyCode == 13) {
            event.preventDefault();
            return false;
        }
    });
});


</script>
{% endblock %}
