{% extends "_layouts/default.html" %}

{% block custom_head %}
<style>
#tags > li {
    list-style-type: none;
    line-height: 2rem;
}
.required::after {
    content: "*";
    color: red;
}
</style>
{% endblock %}

{% block content %}

<div class="container px-5 pb-5">

    {% from "_includes/macros.html" import render_field %}

    <form id="form-submit" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="row my-5">
            <h3 class="pb-3">About You and Lab</h3>
            <div class="col-md-4">{{ render_field(form.username) }}</div>
            <div class="col-md-4">{{ render_field(form.institution) }}</div>
            <div class="col-md-4">{{ render_field(form.source_lab, has_popover=true, content='Please enter the worm lab code for your lab as found on https://cgc.umn.edu/laboratories') }}</div>
        </div>
        <div class="row my-5">
            <div class="col-md-4">{{ render_field(form.protocols) }}</div>
            <div class="col-md-4">{{ render_field(form.publication) }}</div>
        </div>
        <hr>
        <h3 class="pb-3">Trait Information</h3>
        <div class="row my-5">
            <div class="col-md-4">
                {% call render_field(form.file, has_popover=true, content="Example file") %}
                {% endcall %}
            </div>
            <div class="col-md-4 p-0 mx-5 d-none border border-1 rounded overflow-auto" style="height:30vh">
                <table class="table table-hover mb-0" id="file-content"></table>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-4">{{ render_field(form.trait_name_user, has_popover=true, content='This is the name used internally by your laboratory to refer to this trait. Please note: this name will not be shared publicly with other users and will only be displayed to you') }}</div>
            <div class="col-md-4">{{ render_field(form.species) }}</div>
            <div class="col-md-4">{{ render_field(form.units) }}</div>
        </div>
        <div class="row my-5">
            <div class="col-md-4"> {{ render_field(form.trait_name_display_1, has_popover=true, content='This is the name that will be shared with other users in the phenotype database and will be used to represent your trait throughout the site. This name should be short (one word) and descriptive. The other display name fields can be used to provide additional description if needed.') }}</div>
            <div class="col-md-4">{{ render_field(form.trait_name_display_2, has_popover=true, content='This field can be used to provide additional information that\'s important for the user to know about the trait.') }}</div>
            <div class="col-md-4">{{ render_field(form.trait_name_display_3, has_popover=true, content='This field can be used to provide additional information that\'s important for the user to know about the trait.') }}</div>
        </div>
        <div class="row my-5">
            <div class="col-md-4 text-break">{{ render_field(form.tags, has_popover=true, content='Please select the best categories to describe your trait. Please note: at least one category is required.') }}</div>
            <div class="col-md-4"> {{ render_field(form.description_short ,has_popover=true, content='Please describe the trait in a few words, providing the information that\'s most important for other users who may want to perform an analysis using this trait.') }}</div>
            <div class="col-md-4">{{ render_field(form.description_long, has_popover=true, content='You may provide a longer description of the trait to provide additional useful information for other users who may want to perform an analysis using this trait.') }}</div>
        </div>
        <div class="row my-5">
        </div>
        <button type="submit" id="submit-trait" value="Submit Form" class="btn btn-secondary text-light" aria-label="submit">Add Trait</button>
    </form>
</div> <!-- /Container -->

{% endblock %}

{% block script %}

<script>
    {% include '_scripts/utils.js' %} {#/* defines: flash_message */#}

    $(document).ready(function() {
        
        // Add 'required' class to labels
        $('.label-group').each(function() {
            const requiredSelector = $(this).next().attr('required') && $(this).find('label')

            if (requiredSelector) {
                requiredSelector.addClass('required')
            }
            if ($(this).children('label').text().includes('file')) {
                $(this).children('label').addClass('required')
            }
        })

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
                }
            }
        });


        $('#file').on('change', function(e) {
            e.preventDefault()
            const file = e.target.files[0]
            if (file) {
                const formData = new FormData()
                formData.append('file', file)

                $.ajax({
                    type: "POST",
                    url: "{{ url_for('data.parse_trait_file') }}",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function(response) {
                        $('.alert').remove()
                        display_file_content(response)
                    },
                    error: function(error){
                        console.error(error)
                        $('#file-content').empty()
                        $('#file-content').parent().addClass('d-none')
                        $('html').animate({
                            scrollTop: $('body').offset().top
                        }, 100);
                        if (error.responseJSON && error.responseJSON.message) {
                            $('.alert').remove()
                            flash_message(error.responseJSON.message)
                        }         
                    }
                })            
            } else {
                $('#file-content').empty()
                $('#file-content').parent().addClass('d-none')
                // TODO: flash a message for user??
            }
            
        })

        function display_file_content(file) {
            $('#file-content').parent().removeClass('d-none')
            $('#file-content').empty()
            // Create table header
            const thead =  `<thead class="table-secondary" style="position:sticky;top:0;">
                               <tr>
                                 <th scope="col">${file[0].col_1}</th>
                                 <th scope="col">${file[0].col_2}</th>
                               </tr>
                             </thead>`
            $('#file-content').append(thead)

            // Populate table with file content
            let body = ''
            for (let i = 1; i < file.length; i++) {
                body += `<tr>
                           <td>${file[i].col_1}</td>
                           <td>${file[i].col_2}</td>
                         </tr>`
            }
            $('#file-content').append(`<tbody>${body}</tbody>`)
        }
    })

</script>

{% endblock %}
