{% extends "_layouts/default.html" %}

{% block content %}

<div class="container px-5 pb-5">
    <div class="d-flex flex-wrap justify-content-center my-5">
        <div class="col-8 col-md-4">
            <div class="card text-bg-light text-center border-0 rounded-2 shadow-sm p-5 me-md-5 mb-5" style="min-height:15em;">
                <h3 class="pt-5"><a href="{{url_for('data.my_trait_library')}}" class="stretched-link text-dark">Select from <br/> My Trait Library</a></h3>
            </div>
        </div>
        <div class="col-8 col-md-4">
            <div class="card text-bg-light text-center border-0 rounded-2 shadow-sm p-5 me-md-5 mb-5" style="min-height:15em;">
                <h3 class="pt-5"><a href="{{url_for('data.submit_trait_form')}}" class="stretched-link text-dark">New Submission</a></h3>
            </div>
        </div>
    </div><!-- /flex -->
</div> <!-- /Container -->

{% endblock %}