
<div class="row">
  <div class="col">

  <!-- Nav tabs -->
  <nav>
    <div class="nav nav-tabs border-0" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-main-link" data-bs-toggle="tab" data-bs-target="#main" type="button" role="tab" aria-controls="main" aria-selected="true">Empty</button> 
    </div>
  </nav>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade show active" id="main" aria-labelledby="main"></div>
  </div>{# Tab Set #}

  </div>{# /col #}
</div>{# /row #}
