<div class="row">
    <div class="col">
        <!-- Nav tabs -->
        <nav>
            <div class="nav nav-tabs border-0" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-download-link" data-bs-toggle="tab" data-bs-target="#download"
                    type="button" role="tab" aria-controls="download" aria-selected="true">Download</button>
                <button class="nav-link" id="nav-vcf-link" data-bs-toggle="tab" data-bs-target="#summary" type="button"
                    role="tab" aria-controls="summary" aria-selected="false">VCF Summary</button>
                <button class="nav-link" id="nav-phylogeny-link" data-bs-toggle="tab" data-bs-target="#phylogeny"
                    type="button" role="tab" aria-controls="phylogeny" aria-selected="false">Phylogeny</button>
                {% if int(release_version) >= 20170531 %}
                <button class="nav-link" id="nav-haplotype-link" data-bs-toggle="tab" data-bs-target="#haplotype"
                    type="button" role="tab" aria-controls="haplotype" aria-selected="false">Images</button>
                {% endif %}
                <button class="nav-link" id="nav-methods-link" data-bs-toggle="tab" data-bs-target="#methods"
                    type="button" role="tab" aria-controls="methods" aria-selected="false">Methods</button>
            </div>
        </nav>
        <!-- Tab panes -->
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="download" role="tabpanel" aria-labelledby="download">
                {% include('releases/download_tab_isotype_v1.html') %}
            </div>
            <div role="tabpanel" class="tab-pane fade show" id="summary" aria-labelledby="summary">
                {% if vcf_summary %}
                {% include('releases/variant_summary_tab.html') %}
                {% endif %}
            </div>
            <div role="tabpanel" class="tab-pane fade show" id="phylogeny" aria-labelledby="phylogeny">
                {% if files.get('phylo_url') %}
                <br />
                <strong><a href="{{ files.get('phylo_url') }}">Download a PDF of the phylogeny</a></strong>
                {% endif %}
                <img style='width:100%' src="{{ files.get('genome_svg_url') }}">
            </div>

            <div role="tabpanel" class="tab-pane fade show" id="methods" aria-labelledby="methods">
                {{ render_ext_markdown(files.get('methods')) }}
            </div>

            {% if int(release_version) >= 20170531 %}
            <div role="tabpanel" class="tab-pane fade show" id="haplotype" aria-labelledby="haplotype">
                <div class="col-3">
                    <h2>Haplotypes</h2>
                    <div class="thumbnail">
                        <a href="{{ files.get('haplotype_png_url') }}"><img
                                src="{{ files.get('haplotype_thumb_png_url') }}"></a>
                        <small>Click the above image to download the full version</small>
                    </div>
                </div>

                {% if int(release_version) >= 20180000 %}
                <div class="col-3">
                    <h3>Tajimas D</h3>
                    <div class='thumbnail'>
                        <a href="{{ files.get('tajima_d_png_url') }}"><img
                                src="{{ files.get('tajima_d_thumb_png_url') }}"></a>
                        <small>Click the above image to download the full version</small>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endif %}
        </div>{# /tab panes #}

    </div>{# /col #}
</div>{# /row#}


{% include('releases/vcf_modal.html') %}