<div class="row">
    <div class="col-md-12">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#download" role="tab" data-toggle="tab">Download</a></li>
    <li role="presentation"><a href="#summary" role="tab" data-toggle="tab">VCF Summary</a></li>
    <li role="presentation"><a href="#phylogeny" role="tab" data-toggle="tab">Phylogeny</a></li>

  {% if int(release_version) >= 20170531 %}
    <li role="presentation"><a href="#haplotype" role="tab" data-toggle="tab">Images</a></li>
  {% endif %}
    <li role="presentation"><a href="#methods" role="tab" data-toggle="tab">Methods</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="download">
        {% include('releases/download_tab_isotype_v1.html') %}
    </div>
    <div role="tabpanel" class="tab-pane" id="summary">
        {% if vcf_summary %}
            {% include('releases/variant_summary_tab.html') %}
        {% endif %}
    </div>
    <div role="tabpanel" class="tab-pane" id="phylogeny">
        {% if files.get('phylo_url') %}
            <br />
            <strong><a href="{{ files.get('phylo_url') }}">Download a PDF of the phylogeny</a></strong>
        {% endif %}
        <img style='width:100%' src="{{ files.get('genome_svg_url') }}">
    </div>

    <div role="tabpanel" class="tab-pane" id="methods">
        {{ render_ext_markdown(files.get('methods')) }}
    </div>

    {% if int(release_version) >= 20170531 %}
    <div role="tabpanel" class="tab-pane" id="haplotype">
        <div class='col-xs-3 col-sm-3 col-md-3 col-lg-3'>
        <h4>Haplotypes</h4>
            <div class='thumbnail'>
                <a href="{{ files.get('haplotype_png_url') }}"><img src="{{ files.get('haplotype_thumb_png_url') }}"></a>
                <small>Click the above image to download the full version</small>
            </div>
        </div>

        {% if int(release_version) >= 20180000 %}
        <div class='col-xs-3 col-sm-3 col-md-3 col-lg-3'>
        <h4>Tajimas D</h4>
            <div class='thumbnail'>
                <a href="{{ files.get('tajima_d_png_url') }}"><img src="{{ files.get('tajima_d_thumb_png_url') }}"></a>
                <small>Click the above image to download the full version</small>
            </div>
        </div>
        {% endif %}

    </div>
    {% endif %}


</div>{# Tab Set #}

    </div>{# Download content #}
</div>{# /Download Tab #}


{% include('releases/vcf_modal.html') %}
