{% extends "_layouts/default-nocontainer.html" %}
{% block content %}

<div class="container">
    <div class="col mt-3 mb-5">Please find user-entered data for a variety of traits below. You may use the "search" field to search by the names of genes that might be part of the trait (e.g., gene expression). Or, you may search by category using the "filter" field.  Once trait data are selected, you may click on "View Full Details" to see further information. From here, you can create a plot of the trait distribution or compare different traits by selecting "Start an Analysis" to be taken to the Phenotype Comparison tool.</div>
    <div class="d-flex justify-content-end">
        <a class="btn btn-secondary rounded-pill text-white" role="button" href="{{ url_for('phenotype_database.submit_start') }}"><i
                class="bi bi-arrow-right-circle-fill me-1" aria-hidden="true"></i>Start an Analysis</a>
    </div>
    <div class="col mt-5">
        {% with analyze_link = url_for("phenotype_database.submit_start", trait="TRAIT_NAME", dataset="TRAIT_SET") %}
        {% include "_includes/phenotype-database-table.html" %}
        {% endwith %}
    </div>
</div> <!-- /Container -->

{% endblock %}
