{% extends "_layouts/default-nocontainer.html" %}

{% block custom_head %}

<!-- D3js -->
<script src="//d3js.org/d3.v4.min.js"></script>

<style>
    /* Tooltips */
    .tippy-box {
        background-color: var(--bs-gray-200);
        color: var(--bs-dark);
        font-size: 18px;
        text-align: center;
        padding:.25em;
        box-shadow:0 .125rem .25rem rgba(0, 0, 0, .075); 
    }

    .tippy-box[data-placement^='top'] > .tippy-arrow::before {
        border-top-color: var(--bs-gray-200);
    }
    .tippy-box[data-placement^='bottom'] > .tippy-arrow::before {
        border-bottom-color: var(--bs-gray-200);
    }
    .tippy-box[data-placement^='left'] > .tippy-arrow::before {
        border-left-color: var(--bs-gray-200);
    }
    .tippy-box[data-placement^='right'] > .tippy-arrow::before {
        border-right-color: var(--bs-gray-200);
    }

    #phenotype-chart-ranked-bar {
        margin-top: 5em;
    }

    #closeButton {
    display:none;
  }

    #chartContainer {
        background-color: #FEFCFB;
        min-height:50vh;
    }

    @media screen and (min-width: 768px) {
  #chartContainer {
    min-height:110vh;
  }

  #phenotype-chart svg {
    width: 65%;
    height: 65%;
  }
}
</style>

{% endblock %}


{% block content %}

<div class="container-fluid px-0 pb-5">
    <div class="d-flex justify-content-around flex-wrap mt-2">
        <!-- Results Card -->
        <div class="col col-md-6 col-xl-3 text-bg-light mb-5 p-5 rounded-2 shadow-sm overflow-auto" style="max-height: 145vh;">
            <div><h2 class="h3 text-center mb-5">Trait Information</h2>

            {%- if data.num_traits > 1 %}
            <h3 class="h4 text-dark">Trait 1</h3>
            {%- endif %}
            <p><strong>Name:</strong></p>
            <p>{{ report['trait_1_name'] }}</p>
            <p><strong>Description</strong></p>
            <p>{{ report['trait_1']['description_short'] or report['trait_1']['description_long'] }}</p>

            {%- if data.num_traits > 1 %}
            <h3 class="h4 text-dark">Trait 2</h3>
            <p><strong>Name:</strong></p>
            <p>{{ report['trait_2_name'] }}</p>
            <p><strong>Description</strong></p>
            <p>{{ report['trait_2']['description_short'] or report['trait_2']['description_long'] }}</p>
            <h3 class="h4 text-dark">Correlation</h3>
            <p>{{ result.correlation|round(4) }}</p>
            <h3 class="h4 text-dark">P-Value</h3>
            <p>{{ result.p_value|round(4) }}</p>
            {%- endif %}
            </div>
            <!-- Download Buttons when those features are ready -->
            <!-- <div class="my-5">
                <div class="d-grid gap-3">
                  <a class="btn btn-secondary text-light" role="button" onClick=""><i class="bi bi-image-fill me-2"></i>Download SVG</a>
                  <a class="btn btn-secondary text-light" role="button" onClick=""><i class="bi bi-file-earmark-spreadsheet-fill me-2"></i>Download TSV</a>
                </div>
              </div> -->
        </div>
        <!-- /Input Card -->
        <!-- Tool column -->
        <div class="d-flex flex-wrap flex-column col-md-12 col-xl-8">
            <!-- Options Toolbar -->
            <div class="d-flex flex-wrap justify-content-end col-12 text-end mb-3 optionsToolbar">
                <div class="ps-3 pt-0"><a href="{{ url_for('phenotype_database.phenotype_database') }}"><i class="bi bi-plus-circle" aria-hidden="true"></i> New Analysis</a></div>
                <div class="ps-3 pt-0"><a href="{{ url_for('phenotype_database.my_results') }}"><i class="bi bi-journal" aria-hidden="true"></i>View All My Phenotype Results</a></div>
                <div class="ps-3 pt-0"><button class="btn border-0" onclick="openFullscreen();" id="fullscreenButton"><i class="bi bi-arrows-fullscreen" aria-hidden="true"></i>View Fullscreen</button></div>
            </div>
            <!-- /Options Toolbar -->
            <div class="row">
            <div class="col overflow-auto px-0" id="chartContainer">
                <div>
                    <button class="btn btn-danger text-light p-2 my-5 mx-auto" onclick="closeFullscreen();" id="closeButton"><i
                        class="bi bi-fullscreen-exit text-light" aria-hidden="true"></i> Close Fullscreen</button>
                  </div>
                    <div id="phenotype-chart" class="text-center mb-5 position-relative"></div>
                    <div id="phenotype-chart-histogram" class="text-center mb-5 position-relative"></div>
                    <div id="phenotype-chart-ranked-bar" class="text-center mt-md-0 mb-5 position-relative"></div>
                    {%- if data.num_traits > 1 %}
                    <div class="col-9 alert alert-info mx-auto chartInfo">
                        <p class="text-small text-center">
                            <i class="bi bi-info-circle-fill me-2" aria-hidden="true"></i>
                            <br>
                            The data were mean centered and scaled to have a standard deviation of 1. These operations do not affect
                            correlation tests and make the data easier to evaluate in a plot.
                        </p>
                    </div>
                    {%- endif %}
            </div>
        </div>
        </div>
        <!-- /Tool Column -->
    </div>
    <!-- /Flex -->
</div> <!-- /Container -->

{% endblock %}


{% block script %}
{% from "_includes/macros.html" import label_string_units %}
<!-- Tooltips -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=Array.prototype.find,Promise,Object.assign"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<!-- View charts in fullscreen -->
<script type="text/javascript">
 {% include '_scripts/fullscreen.js' %}
</script>

<script src="{{ url_for('static', filename='js/plot.js') }}"></script>

<script type="module">

const data = {{ result.trait_values|tojson }};

{%- if data.num_traits == 1 %}
// Render chart(s) for one trait

const trait_label = {{ label_string_units(data.trait_names[0], report['trait_1']['units']) }};

try {
    render_histogram('#phenotype-chart-histogram', data, {
         width:         1200,
        fill_color:    '#0719BC',
        bins_per_tick: 2,
        x_label:       trait_label,
    });
} catch (err) {
    console.error(`Could not construct histogram. ${err}`)
}

try {
    render_ranked_barplot('#phenotype-chart-ranked-bar', data, {
        width:         1200,
        fill_color:    '#0719BC',
        y_label:       trait_label,
    });
} catch (err) {
    console.error(`Could not construct ranked bar plot. ${err}`)
}

{%- else %}
// Render chart(s) for two traits

const trait_label_1 = {{ label_string_units(data.trait_names[0], report['trait_1']['units']) }};
const trait_label_2 = {{ label_string_units(data.trait_names[1], report['trait_2']['units']) }};

try {
    render_scatterplot_histograms('#phenotype-chart', data, {
        hist_height:   60,
        width:         800,
        height:        800,
        fill_color:    '#0719BC',
        bin_width:     0.2,
        x_label:       `${trait_label_1}`,
        y_label:       `${trait_label_2}`,
        opacity:       0.5,
        opacity_hover: 1,
    });
} catch (err) {
    console.error(`Could not construct scatterplot. ${err}`)
}
{%- endif %}

</script>
<!-- View charts in fullscreen -->
<script>
    let fullscreenBrowser = document.getElementById("chartContainer");
</script>

{% endblock %}