{% extends "_layouts/default-nocontainer.html" %}
{% block content %}

<div class="container-fluid px-5 pb-5">
    <div class="d-flex justify-content-around flex-wrap mt-2">
        <!-- Results Card -->
        <div class="col col-md-6 col-xl-3 text-bg-light mb-5 p-5 rounded-2 shadow-sm">
            <h2 class="h3 text-center mb-5">Trait Information</h2>
            <h3 class="h4 text-dark">Trait 1</h3>
            <p><strong>Name:</strong></p>
            <p>Short Name</p>
            <p><strong>Description</strong></p>
            <p>The short description of the trait</p>
            <h3 class="h4 text-dark">Trait 2</h3>
            <p><strong>Name:</strong></p>
            <p>Short Name</p>
            <p><strong>Description</strong></p>
            <p>The short description of the trait</p>
            <h3 class="h4 text-dark">Correlation</h3>
            <p>correlation value</p>
        </div>
        <!-- /Input Card -->
        <!-- Tool column -->
        <div class="d-flex flex-wrap flex-column col-md-12 col-xl-8">
            <!-- Options Toolbar -->
            <!-- <div class="d-flex flex-wrap justify-content-end col-12 text-end mb-3 optionsToolbar">
                <div class="ps-3 pt-0"><a href="#"><i class="bi bi-file-earmark-arrow-down-fill" aria-hidden="true"></i>
                        Download My Results</a></div>
                <div class="ps-3 pt-0"><a href="#"><i class="bi bi-arrows-fullscreen" aria-hidden="true"></i>
                        Fullscreen</a></div>
            </div> -->
            <!-- /Options Toolbar -->
            <!-- Widget Placeholder -->
            <div class="col">
                <svg class="bd-placeholder-img bd-placeholder-img-lg img-fluid border-0" width="100%"
                    style="height: 100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Widget"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6"
                        dy=".3em">Widget
                        Placeholder</text>
                </svg>
            </div>
            <!-- Widget Placeholder -->
        </div>
        <!-- /Tool Column -->
    </div>
    <!-- /Flex -->
</div> <!-- /Container -->

{% endblock %}