{% extends "_layouts/default-nocontainer.html" %}


{% block content %}
{% from "_includes/select-trait.html" import render_select_trait %}

<div class="container px-5 pb-5">
    <div class="d-flex flex-wrap justify-content-center mt-5">
        <div class="col-8 col-md-5">
            <h2 class="h3 text-dark text-center">Trait 1</h2>
            {{ render_select_trait('trait-1') }}
        </div>
        <div class="col-8 col-md-5">
            <h2 class="h3 text-dark text-center">Trait 2</h2>
            {{ render_select_trait('trait-2') }}
        </div>
    </div>
    <!-- /flex -->

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-dark text-white" role="button" href="#">Start Over</button>
        <button class="btn btn-secondary text-white" role="button" data-bs-toggle="modal"
            data-bs-target="#confirmationModal">Next</button>
    </div>
</div> <!-- /Container -->

<!-- Phenotype DB modal -->
<div class="modal fade" id="phenotypeDBModal" tabindex="-1" aria-labelledby="phenotypeDBModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="phenotypeDBModalLabel">Phenotype Database</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container my-3">
                    {% include "_includes/phenotype-database-table.html" %}
                </div>
                <!-- Offcanvas -->
                <div class="offcanvas offcanvas-end offcanvasPhenotype" tabindex="-1" id="offcanvas1"
                    aria-labelledby="offcanvas1Label">
                    <div class="offcanvas-header">
                        <h5 id="offcanvas1Label">example_trait_1234</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body p-4">
                        {% include "_includes/phenotype-offcanvas-content.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Thank You Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Thank you</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Your analysis has been submitted</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary text-white">Go to Report</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
{% from "_includes/select-trait.html"   import select_trait               %}
{% from "_includes/strain-listing.html" import unpack_species_list        %}
{% from "_scripts/submit-job.js"        import ajax_setup, def_submit_job %}
<script>
    {% include '_scripts/utils.js' %} {#/* defines: flash_message */#}
    {{ def_submit_job('phenotype_database') }}


    /* Species */
    const species_list = {{ unpack_species_list(species_list, species_fields) }};
    let species = 'c_elegans';


    /* Initialization */
    $(document).ready(function(){

        // Set headers for AJAX requests
        {{ ajax_setup(form.csrf_token._value()) }}

        {%- if initial_trait %}
        // Set the initial trait
        {{ select_trait('trait-1', trait_file=initial_trait) }}
        {%- endif %}
    })


    /* Test query & select traits */
    $.getJSON("{{ url_for('api_trait.query_all', split_by_species=true) }}", function(data) {
        console.log(data)
    })


    function get_trait_id(id) {
        return document.getElementById(`${id}-selector`).dataset.trait
    }

    function select_trait(id, trait=null) {
        if (id == 'trait-1') {
            if (trait === null) {
                {{ select_trait('trait-1') }}
            } else {
                {{ select_trait('trait-1', 'trait') }}
            }
        }
        else if (id == 'trait-2') {
            if (trait === null) {
                {{ select_trait('trait-2') }}
            } else {
                {{ select_trait('trait-2', 'trait') }}
            }
        }
    }

    function submit() {
        const trait_1 = get_trait_id('trait-1');
        const trait_2 = get_trait_id('trait-2');

        if (trait_1 == null || trait_2 == null) {
            throw Error();
        }

        data = { 'label': '???', species, trait_1, trait_2 }

        submit_job(data)
            .done(() => {
                console.log('Submitted!');
            });
    }
</script>
{% endblock %}
