{% extends "_layouts/default.html" %}

{% block custom_head %}
<script src="https://cdn.datatables.net/rowreorder/1.5.0/js/dataTables.rowReorder.js"></script>
<script src="https://cdn.datatables.net/rowreorder/1.5.0/js/rowReorder.dataTables.js"></script>
<link href="https://cdn.datatables.net/rowreorder/1.5.0/css/rowReorder.dataTables.css" rel="stylesheet"/>

<style>
  .reorderColumn {
    cursor: move;
  }
</style>
{% endblock %}

{% block content %}
<div class="row pb-3">
  <div class="col-md-10"></div>
  <div class="col-md-2">
    <a id='create' href="{{ url_for('admin.announcements_edit')}}" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Announcement </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="table-responsive position-relative">
      <table class="table accordion p-0 text-center w-100" id="announcements-table">
          <caption class="visually-hidden">A list of announcements.</caption>
          <thead class="table-secondary align-middle">
            <tr>
              <th scope="col" class="col-1 text-center">Order</th>
              <th scope="col" class="col-1 text-center">Order</th>
              <th scope="col" class="col-1 text-center">Active</th>
              <th scope="col" class="col-1 text-center">Text</th>
              <th scope="col" class="col-1 text-center">URLs</th>
              <th scope="col" class="col-1 text-center">Style</th>
              <th scope="col" class="col-1 text-center">Edit</th>
              <th scope="col" class="col-1 text-center">Delete</th>
            </tr>
          </thead>
          <tbody class="table-group-divider align-middle">
          </tbody>
      </table>
    </div>
	</div>
</div>

<div class="modal fade" id="confirm-delete-modal" tabindex="-1" aria-labelledby="confirm-delete-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirm-delete-modal-label">Delete Announcement</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>You are about to delete the following announcement:</p>
        <div id="confirm-delete-modal-body-container" class="text-center"></div>
      </div>
      <div class="modal-footer">
        <button id="confirm-delete-button" type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="deleteCurrentAnnouncement()">Delete</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}



{% block script %}
<script>
  {% include '_scripts/utils.js' %}       {#/* defines: flash_message */#}


  const tableTextMaxLength = 256;

  // Declare object to store announcements returned from AJAX call
  let announcements = {};
  let currentAnnouncement = null;

  // Declare data table at "global" scope
  let table;

  const alertClassMap = {
    {%- for x in AnnouncementType %}
    "{{ x.name }}": "{{ x.get_bootstrap_color() }}",
    {%- endfor %}
  };



  /*
   * Deleting Announcements
   */

  function disableButton() {
    const button = document.getElementById("confirm-delete-button");
    button.innerText = 'Deleting...';
    button.disabled  = true;
  }

  function enableButton() {
    const button = document.getElementById("confirm-delete-button");
    button.innerText = 'Delete';
    button.disabled = false;
  }

  function fillDeleteModal(announcement_id) {
    const container = document.getElementById('confirm-delete-modal-body-container');
    container.innerHTML = announcements[announcement_id]['content'];
    currentAnnouncement = announcement_id;
  }

  function deleteCurrentAnnouncement() {
    disableButton();
    $.ajax({
      url: "{{ url_for('notifications.announcement', entity_id='ANNOUNCEMENT_ID') }}".replace("ANNOUNCEMENT_ID", currentAnnouncement),
      type: "DELETE",
      headers: {
        'X-CSRF-TOKEN': "{{ form.csrf_token._value() }}",
      },
      success: (result) => {
        enableButton();
        table.ajax.reload();
      },
      error: (error) => {
        console.error('ERROR saving announcement: ', error)
        const resp = error.responseJSON
        if (resp && resp.message) {
          flash_message(resp.message, resp.full_msg_link, resp.full_msg_body);
        } else {
          flash_message('There was a problem deleting this announcement. Please try again later.');
        }
        enableButton();
      }
    });
  }


  $(document).ready(function() {

    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
        }
      }
    });

    // Render table with Datatables
    table = $('#announcements-table').DataTable( {
      "sDom": "tpr",
      "processing": true,
      "ajax": {
        url: "{{ url_for('notifications.announcement_list') }}",

        // Intercept successful call to store the retrieved values
        dataSrc: function(resp) {
          announcements = {};
          for (const a of resp.data) {
            announcements[a.name] = a;
          };
          return resp.data;
        },

        // On error, flash message
        error: function(error) {
          console.error('ERROR retrieving announcements: ', error);
          const resp = error.responseJSON
          if (resp && resp.message) {
            flash_message(resp.message, resp.full_msg_link, resp.full_msg_body);
          } else {
            flash_message('There was a problem retrieving the list of announcements. Please try again later.');
          }
        },
      },
      "autoWidth": false,
      "rowId": function(data) {
        return `announcements-row-${data.name}`;
      },
      "rowReorder": {
        "dataSrc": "order",
      },
      "columnDefs": [
        { "targets": "_all", "orderable": false }
      ],
      "columns": [
        {
          "data": "order",
          "visible": false,
          "orderable": true,
        },
        {
          "data": "order",
          "render": function(data, type, row) {
            return `<i class="bi bi-arrows-expand" aria-hidden="true"></i>`;
          },
          "sClass": "optionsToolbar reorderColumn text-center",
          "sWidth": "8%",
        },
        {
          "data": "active",
          "render": function(data, type, row) {
            return data ? `<i class="bi bi-check-circle-fill" aria-hidden="true"></i>` : "";
          },
          "sClass": "optionsToolbar text-center",
          "sWidth": "8%",
        },
        {
          "data": "content",
          "render": function(data, type, row) {
            // Cap text length
            if (data.length > tableTextMaxLength) {
              data = data.slice(0, tableTextMaxLength - 3) + '...';
            }
            // Protect against code injection
            return $('<div />').text(data).html().replace('\n', '<br>');
          },
          "sWidth": "32%",
        },
        {
          "data": "url_list",
          "render": function(data, type, row) {
            return data.replaceAll('\n', '<br>');
          },
          "sClass": "text-start",
          "sWidth": "22%",
        },
        {
          "data": "style",
          "createdCell": function( cell, cellData, rowData, rowIndex, colIndex ) {
            cell.classList.add(`bg-${ alertClassMap[ cellData ] }`);
            cell.classList.add('bg-opacity-25');
          },
          "sWidth": "10%",
        },
        {
          "render": function(data, type, row) {
            const url = "{{ url_for('admin.announcements_edit', entity_id='ANNOUNCEMENT_ID') }}".replace('ANNOUNCEMENT_ID', row.name);
            return `
              <a href='${url}'><i class="bi bi-arrow-right-circle-fill" aria-hidden="true"></i>Edit</a>
            `;
          },
          "sClass": "optionsToolbar text-center",
          "sWidth": "10%",
        },
        {
          "data": "name",
          "render": function(data, type, row) {
            return `
              <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#confirm-delete-modal" onclick="fillDeleteModal('${data}')">
                <i class="bi bi-trash3-fill" aria-hidden="true"></i>Delete
              </button>
            `;
          },
          "sClass": "optionsToolbar text-center",
          "sWidth": "10%",
        },
      ]
    });


    // When table rows are re-ordered, persist this change
    table.on('row-reorder', function (e, diff, edit) {

      // Create a mapping from announcement ID to new position
      newRowOrders = {}
      for (row of diff) {
        newRowOrders[row.node.id.replace(/^(announcements-row-)/, "")] = row.newPosition
      }

      // POST request to update order
      $.ajax({
        type: "POST",
        url:  "{{ url_for('notifications.announcements_reorder') }}",
        headers: {
          'X-CSRF-TOKEN': "{{ form.csrf_token._value() }}",
        },
        contentType: 'application/json; charset=utf-8',
        dataType:    'json',
        data:        JSON.stringify(newRowOrders),

        // Signal that table is updating
        beforeSend: function() {
          table.processing(true);
        },

        // On success, clear the processing indicator
        success: function(result) {
          table.processing(false);
        },

        // On failure, show error message
        error: function(error) {
          table.processing(false);
          console.error('Error updating announcement order: ', error)
          flash_message('Failed to update announcement order. Please reload the page and try again.', 'Full error message', error.responseJSON.message);
        }
      })
    });

  });
</script>
{% endblock %}
