<p>
    Please organize your data in a long format, where each row is an independent observation of one strain in one trait.
    The columns of the data set should be:
</p>
<ol>
    <li><strong>AssayNumber</strong> - a numeric indicator of independent assays.</li>
    <li><strong>Strain</strong> - one of the CaeNDR isotype reference strain names.</li>
    <li><strong>TraitName</strong> - a user-supplied name of a trait with no spaces (<em>e.g.</em> BroodSize).</li>
    <li><strong>Replicate</strong> - independent measures of a trait within one independent assay. You can think of this column as a numerical value for a technical replicate.</li>
    <li><strong>Value</strong> - the measured output of the trait (<em>e.g.</em> 297 for BroodSize).</li>
</ol>

<p>NA values will not be used in broad-sense heritability calculations.</p>

<p>To see an example, please download the sample report for your species of interest:</p>
{% for name, species in species_list.items() %}
{% if sample_data_urls.get(name) %}
<h2 class="h5"><em>{{ species.short_name }}</em></h2>
<div class="text-center mb-4">
    <a class="btn" role="button" href="{{ sample_data_urls[name] }}" target="_blank">
        <i class="bi bi-file-arrow-down-fill text-secondary fs-5 fw-bold me-1"></i> Download <em>{{ species.short_name }}</em> Example Data
    </a>
</div>
{% endif %}
{% endfor %}