
{% block content %}

<div class="row my-5" style="text-align: left;">
  <p>
    The strains available on CaeNDR were sampled from all over the world by many members of the <em>Caenorhabditis</em> 
    research community. CaeNDR endeavors to cryopreserve and whole-genome sequence all wild strains from <em>C. briggsae</em>, 
    <em>C. elegans</em>, and <em>C. tropicalis</em> from all unique worldwide collection locations. Most times, independent 
    strains collected from the same natural substrate are very genetically similar (or identical to the best level of 
    determination by Illumina short-read sequencing SNV calling). Additionally, independent strains collected from 
    nearby locations are often similar or identical. Because use of these strains in measurements of natural phenotypic 
    diversity and in genome-wide association studies will cause significant bias, CaeNDR classifies strains that share high 
    levels of genetic diversity as isotypes using whole-genome sequencing and variant calling. To remove this bias, we suggest 
    one strain in each isotype, called the isotype reference strain, to be used in phenotypic and population genetics analyses. 
    Some isotypes contain a single strain whereas others have multiple. Isotype reference strains are chosen based on the 
    strain with the best genomic coverage. Strains and data on CaeNDR are focused on isotype reference strains.
  </p>
  <p>
    Strain issues are linked for <a href="/data/data-release/c_elegans/latest/strain_issues", isotype_name=isotype_name) }}">
    <em>C. elegans</em></a>, <a href="/data/data-release/c_briggsae/latest/strain_issues"><em>C. briggsae</em></a>, and 
    <a href="/data/data-release/c_tropicalis/latest/strain_issues"><em>C. tropicalis</em></a>.
  </p>
</div>
{% endblock %}