ENVIRONMENT=template

###########################################################################
#                   Google Cloud Project Properties                       #
###########################################################################
GOOGLE_CLOUD_PROJECT_ID=gcp-template-project
GOOGLE_CLOUD_PROJECT_NUMBER=123456789012354
GOOGLE_CLOUD_REGION=us-central1
GOOGLE_CLOUD_APP_LOCATION=us-central
TERRAFORM_SERVICE_ACCOUNT_FILENAME=terraform-service-account.json
GOOGLE_CLOUD_SOURCE_BUCKET_NAME=caendr-src-bucket


###########################################################################
#                        Site Module Properties                           #
###########################################################################
MODULE_SITE_CONTAINER_NAME=caendr-site
MODULE_SITE_CONTAINER_VERSION=v1.0

MODULE_SITE_SERVING_STATUS=true

MODULE_SITE_BUCKET_PUBLIC_NAME=caendr-site-public-bucket
MODULE_SITE_BUCKET_PRIVATE_NAME=caendr-site-private-bucket
MODULE_DB_OPERATIONS_INSTANCE_NAME=caendr-site-postgres-instance
MODULE_DB_OPERATIONS_DB_NAME=caendr-site-postgres-db
MODULE_DB_OPERATIONS_DB_STAGE_NAME=caendr-site-postgres-stage-db

###########################################################################
#                      Environment Configuration                          #
###########################################################################
FLASK_ENV=development
DEBUG=True
TESTING=True
# SQLALCHEMY_ECHO=True
JSON_SORT_KEYS=True
SESSION_COOKIE_HTTPONLY=True
# SESSION_COOKIE_SECURE=True
SESSION_COOKIE_NAME=siteurl.org
PERMANENT_SESSION_LIFETIME=86400
# DEBUG_TB_INTERCEPT_REDIRECTS=True
TEMPLATE_AUTO_RELOAD=True
WERKZEUG_DEBUG_PIN=off
