{% extends "_layouts/default.html" %}
{% block content %}
<main>
  <!-- Display Title -->
  <div class="container">
    <div class="border-start border-secondary border-3 my-5">
      <h1 class="display-2 ps-2 text-dark fw-lighter"><em>The Caenorhabditis</em></h1>
      <h1 class="display-1 ps-2 text-primary">Natural Diversity Resource</h1>
    </div>
  </div>
  <!-- /container /Display Title -->
  <!-- Map Placeholder -->
  <div class="container-fluid">
    <svg class="bd-placeholder-img bd-placeholder-img-lg img-fluid" width="100%" style="height: 50vh;"
      xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Responsive image"
      preserveAspectRatio="xMidYMid slice" focusable="false">
      <title>Placeholder</title>
      <rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Map
        Placeholder</text>
    </svg>
  </div>
  <!-- /Map -->
  <div class="container text-center">
    <!-- Toolbar -->
    <div class="col-12 col-xl-10 mx-auto mt-3 mb-5">
      <div class="card shadow cardBorderBottom">
        <div class="card-body">
          <div class="row text-center">
            <!-- Card with Icon -->
            <div class="col-12 col-md-6 col-lg-3 my-3">
              <div class="card text-center border-0">
                <i class="bi bi-gear-fill text-info" aria-hidden="true"></i>
                <div class="card-body">
                  <div class="dropdown">
                    <a class="btn dropdown-toggle fw-bold fs-3 border-0 p-0" href="#" role="button"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Tools
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Genome Browser</a></li>
                      <li><a class="dropdown-item" href="#">Variant Annotation</a></li>
                      <li><a class="dropdown-item" href="#">Genetic Mapping</a></li>
                      <li><a class="dropdown-item" href="#">Pairwise Indel Finder</a></li>
                      <li><a class="dropdown-item" href="#">Heritability Calculator</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Card with Icon -->
            <!-- Card with Icon -->
            <div class="col-12 col-md-6 col-lg-3 my-3">
              <div class="card text-center border-0">
                <i class="bi bi-file-arrow-down-fill text-info" aria-hidden="true"></i>
                <div class="card-body">
                  <p class="card-text fw-bold fs-3">Download Data</p>
                </div>
              </div>
            </div>
            <!-- /Card with Icon -->
            <!-- Card with Icon -->
            <div class="col-12 col-md-6 col-lg-3 my-3">
              <div class="card text-center border-0">
                <i class="bi bi-journal-check text-info" aria-hidden="true"></i>
                <div class="card-body">
                  <p class="card-text fw-bold fs-3">Protocols</p>
                </div>
              </div>
            </div>
            <!-- /Card with Icon -->
            <!-- Card with Icon -->
            <div class="col-12 col-md-6 col-lg-3 my-3">
              <div class="card text-center border-0">
                <i class="bi bi-inbox-fill text-info" aria-hidden="true"></i>
                <div class="card-body">
                  <p class="card-text fw-bold fs-3">Submit A Strain</p>
                </div>
              </div>
            </div>
            <!-- /Card with Icon -->
          </div>
        </div>
      </div>
    </div>
    <!-- /Toolbar -->
    <h2>Isotype Database</h2>
    <!-- Table Placeholder -->
    <div class="table-responsive my-5 isotypeDatabase">
      <table class="table table-hover table-bordered">
        <caption class="visually-hidden">A list of strains sortable by species that includes various data about each
          individual strain.</caption>
        <thead class="table-secondary align-middle">
          <tr>
            <th scope="col">#</th>
            <th scope="col">species</th>
            <th scope="col">strain</th>
            <th scope="col">isotype</th>
            <th scope="col">previous names</th>
            <th scope="col">release</th>
            <th scope="col">latitude</th>
            <th scope="col">longitude</th>
            <th scope="col">landscape</th>
            <th scope="col">locality description</th>
            <th scope="col">substrate</th>
            <th scope="col">sampled by</th>
            <th scope="col">isolated by</th>
          </tr>
        </thead>
        <tbody class="table-group-divider align-middle">
          <!-- Sample Data -->
          <tr>
            <th scope="row">1</th>
            <td><em>C. elegans</em></td>
            <td>AB1</td>
            <td>AB1</td>
            <td>None</td>
            <td>20160408</td>
            <td>-34.93</td>
            <td>138.59</td>
            <td>None</td>
            <td>South Australia</td>
            <td>Soil</td>
            <td>D. Riddle, A. Bird</td>
            <td>D. Riddle, A. Bird</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><em>C. elegans</em></td>
            <td>AB2</td>
            <td>CB4858</td>
            <td>None</td>
            <td>20160408</td>
            <td>-34.93</td>
            <td>138.59</td>
            <td>None</td>
            <td>South Australia</td>
            <td>Soil</td>
            <td>D. Riddle, A. Bird</td>
            <td>D. Riddle, A. Bird</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td><em>C. elegans</em></td>
            <td>AB3</td>
            <td>CB4858</td>
            <td>None</td>
            <td>20180413</td>
            <td>-34.93</td>
            <td>138.59</td>
            <td>None</td>
            <td>South Australia</td>
            <td>Soil</td>
            <td>D. Riddle, A. Bird</td>
            <td>D. Riddle, A. Bird</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td><em>C. elegans</em></td>
            <td>AB4</td>
            <td>CB4858</td>
            <td>None</td>
            <td>20160408</td>
            <td>-34.93</td>
            <td>138.59</td>
            <td>None</td>
            <td>South Australia</td>
            <td>Soil</td>
            <td>D. Riddle, A. Bird</td>
            <td>D. Riddle, A. Bird</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td><em>C. elegans</em></td>
            <td>BRC20067</td>
            <td>BRC20067</td>
            <td>None</td>
            <td>20160408</td>
            <td>24.072954</td>
            <td>121.169736</td>
            <td>None</td>
            <td>Taiwan</td>
            <td>Rotting_nut/pod/seed/fruit</td>
            <td>J. Wang</td>
            <td>C.-Y. Kao</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td><em>C. elegans</em></td>
            <td>BRC20113</td>
            <td>BRC20067</td>
            <td>None</td>
            <td>20170531</td>
            <td>24.124167</td>
            <td>121.283056</td>
            <td>None</td>
            <td>Taiwan</td>
            <td>Rotting_nut/pod/seed/fruit</td>
            <td>C. Lee, N. Chang</td>
            <td>J.-C. Hsu</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td><em>C. elegans</em></td>
            <td>BRC20231</td>
            <td>MY23</td>
            <td>None</td>
            <td>20170531</td>
            <td>23.541517</td>
            <td>120.908112</td>
            <td>None</td>
            <td>Taiwan Province</td>
            <td>Rotting_flower</td>
            <td>T. Volans</td>
            <td>None</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td><em>C. elegans</em></td>
            <td>BRC20263</td>
            <td>BRC20263</td>
            <td>None</td>
            <td>20170531</td>
            <td>-33.86748611</td>
            <td>151.2069889</td>
            <td>None</td>
            <td>New South Wales</td>
            <td>None</td>
            <td>C. Lee, N. Chang</td>
            <td>J.-C. Hsu</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td><em>C. elegans</em></td>
            <td>BRC20558</td>
            <td>BRC20067</td>
            <td>None</td>
            <td>20220216</td>
            <td>24.38206389</td>
            <td>121.3067778</td>
            <td>Forest</td>
            <td>None</td>
            <td>Rotting_nut/pod/seed/fruit</td>
            <td>Volans, Dai, Chiayi</td>
            <td>J. Wang</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td><em>C. elegans</em></td>
            <td>CB3196</td>
            <td>CB4854</td>
            <td>GA13</td>
            <td>20160408</td>
            <td>None</td>
            <td>None</td>
            <td>Urban_garden</td>
            <td>None</td>
            <td>Vegetal_litter/mix</td>
            <td>None</td>
            <td>C. Johnson</td>
          </tr>
          <tr>
            <th scope="row">11</th>
            <td><em>C. elegans</em></td>
            <td>CB3197</td>
            <td>CB4854</td>
            <td>GA23</td>
            <td>20160408</td>
            <td>None</td>
            <td>None</td>
            <td>Urban_garden</td>
            <td>None</td>
            <td>Vegetal_litter/mix</td>
            <td>None</td>
            <td>C. Johnson</td>
          </tr>
          <tr>
            <th scope="row">12</th>
            <td><em>C. elegans</em></td>
            <td>CB3198</td>
            <td>CB4853</td>
            <td>PA2</td>
            <td>20160408</td>
            <td>34.13712</td>
            <td>-118.12532</td>
            <td>Urban_garden</td>
            <td>California</td>
            <td>Rotting_flower</td>
            <td>E. Hedgecock</td>
            <td>E. Hedgecock</td>
          </tr>
          <tr>
            <th scope="row">13</th>
            <td><em>C. elegans</em></td>
            <td>CB3199</td>
            <td>CB4857</td>
            <td>PA3</td>
            <td>20160408</td>
            <td>34.13712</td>
            <td>-118.12532</td>
            <td>Urban_garden</td>
            <td>California</td>
            <td>Rotting_flower</td>
            <td>None</td>
            <td>E. Hedgecock</td>
          </tr>
          <tr>
            <th scope="row">14</th>
            <td><em>C. elegans</em></td>
            <td>CB4852</td>
            <td>CB4852</td>
            <td>N3</td>
            <td>20160408</td>
            <td>None</td>
            <td>None</td>
            <td>None</td>
            <td>None</td>
            <td>None</td>
            <td>None</td>
            <td>None</td>
          </tr>
          <tr>
            <th scope="row">15</th>
            <td><em>C. elegans</em></td>
            <td>CB4854</td>
            <td>CB4854</td>
            <td>GA9</td>
            <td>20160408</td>
            <td>34.189</td>
            <td>-118.131</td>
            <td>Urban_garden</td>
            <td>California</td>
            <td>Vegetal_litter/mix</td>
            <td>C. Johnson</td>
            <td>C. Johnson</td>
          </tr>
          <tr>
            <th scope="row">16</th>
            <td><em>C. elegans</em></td>
            <td>CB4856</td>
            <td>CB4856</td>
            <td>CB4856_(CGC_#3), CB4856_CGC_3, CB4856_CGC, CB4856</td>
            <td>20160408</td>
            <td>21.33</td>
            <td>-157.86</td>
            <td>Rural_garden</td>
            <td>Hawaii</td>
            <td>Rotting_nut/pod/seed/fruit</td>
            <td>L. Hollen</td>
            <td>L. Hollen</td>
          </tr>
          <tr>
            <th scope="row">17</th>
            <td><em>C. elegans</em></td>
            <td>CB4932</td>
            <td>CB4932</td>
            <td>None</td>
            <td>20160408</td>
            <td>51.02</td>
            <td>-3.1</td>
            <td>Rural_garden</td>
            <td>England</td>
            <td>Fungus</td>
            <td>P. Grewal</td>
            <td>P. Grewal</td>
          </tr>
          <tr>
            <th scope="row">18</th>
            <td><em>C. elegans</em></td>
            <td>CX11254</td>
            <td>CX11254</td>
            <td>HEY-046</td>
            <td>20160408</td>
            <td>34.130138</td>
            <td>-118.114835</td>
            <td>Botanical_garden_or_zoo</td>
            <td>California</td>
            <td>Soil</td>
            <td>A. Sivasundar</td>
            <td>A. Sivasundar</td>
          </tr>
          <tr>
            <th scope="row">19</th>
            <td><em>C. elegans</em></td>
            <td>CX11258</td>
            <td>CB4858</td>
            <td>HEY-001</td>
            <td>20160408</td>
            <td>34.13531</td>
            <td>-118.30582</td>
            <td>Urban_garden</td>
            <td>California</td>
            <td>Soil</td>
            <td>A. Sivasundar</td>
            <td>A. Sivasundar</td>
          </tr>
          <tr>
            <th scope="row">20</th>
            <td><em>C. elegans</em></td>
            <td>CX11259</td>
            <td>CX11292</td>
            <td>HEY-013</td>
            <td>20160408</td>
            <td>34.13531</td>
            <td>-118.30582</td>
            <td>Urban_garden</td>
            <td>California</td>
            <td>Soil</td>
            <td>A. Sivasundar</td>
            <td>A. Sivasundar</td>
          </tr>
          <tr>
            <th scope="row">21</th>
            <td><em>C. elegans</em></td>
            <td>CX11262</td>
            <td>CX11262</td>
            <td>HEY-028</td>
            <td>20160408</td>
            <td>34.130138</td>
            <td>-118.114835</td>
            <td>Botanical_garden_or_zoo</td>
            <td>California</td>
            <td>Soil</td>
            <td>A. Sivasundar</td>
            <td>A. Sivasundar</td>
          </tr>
          <tr>
            <th scope="row">22</th>
            <td><em>C. elegans</em></td>
            <td>CX11264</td>
            <td>CX11264</td>
            <td>HEY-034</td>
            <td>20160408</td>
            <td>34.130138</td>
            <td>-118.114835</td>
            <td>Botanical_garden_or_zoo</td>
            <td>California</td>
            <td>Soil</td>
            <td>A. Sivasundar</td>
            <td>A. Sivasundar</td>
          </tr>
          <tr>
            <th scope="row">23</th>
            <td><em>C. elegans</em></td>
            <td>CX11268</td>
            <td>CX11315</td>
            <td>HEY-038</td>
            <td>20160408</td>
            <td>34.130138</td>
            <td>-118.114835</td>
            <td>Botanical_garden_or_zoo</td>
            <td>California</td>
            <td>Soil</td>
            <td>A. Sivasundar</td>
            <td>A. Sivasundar</td>
          </tr>
          <tr>
            <th scope="row">24</th>
            <td><em>C. elegans</em></td>
            <td>CX11271</td>
            <td>CX11271</td>
            <td>HEY-050</td>
            <td>20160408</td>
            <td>34.13712</td>
            <td>-118.12532</td>
            <td>Urban_garden</td>
            <td>California</td>
            <td>Soil</td>
            <td>A. Sivasundar</td>
            <td>A. Sivasundar</td>
          </tr>
          <tr>
            <th scope="row">25</th>
            <td><em>C. elegans</em></td>
            <td>CX11276</td>
            <td>CX11276</td>
            <td>HEY-056</td>
            <td>20160408</td>
            <td>34.20111</td>
            <td>-118.21198</td>
            <td>Botanical_garden_or_zoo</td>
            <td>California</td>
            <td>Soil</td>
            <td>A. Sivasundar</td>
            <td>A. Sivasundar</td>
          </tr>
          <tr>
            <th scope="row">26</th>
            <td><em>C. elegans</em></td>
            <td>CX11278</td>
            <td>CB4858</td>
            <td>HEY-009</td>
            <td>20160408</td>
            <td>34.13531</td>
            <td>-118.30582</td>
            <td>Urban_garden</td>
            <td>California</td>
            <td>Soil</td>
            <td>A. Sivasundar</td>
            <td>A. Sivasundar</td>
          </tr>
          <tr>
            <th scope="row">27</th>
            <td><em>C. elegans</em></td>
            <td>CX11285</td>
            <td>CX11285</td>
            <td>HEY-061</td>
            <td>20160408</td>
            <td>34.14331</td>
            <td>-118.05496</td>
            <td>Botanical_garden_or_zoo</td>
            <td>California</td>
            <td>Soil</td>
            <td>A. Sivasundar</td>
            <td>A. Sivasundar</td>
          </tr>
          <tr>
            <th scope="row">28</th>
            <td><em>C. elegans</em></td>
            <td>CX11292</td>
            <td>CX11292</td>
            <td>HEY-016</td>
            <td>20160408</td>
            <td>34.13531</td>
            <td>-118.30582</td>
            <td>Urban_garden</td>
            <td>California</td>
            <td>Soil</td>
            <td>A. Sivasundar</td>
            <td>A. Sivasundar</td>
          </tr>
          <tr>
            <th scope="row">29</th>
            <td><em>C. elegans</em></td>
            <td>CX11294</td>
            <td>CX11262</td>
            <td>HEY-027</td>
            <td>20160408</td>
            <td>34.12946</td>
            <td>-118.10987</td>
            <td>Urban_garden</td>
            <td>California</td>
            <td>Soil</td>
            <td>A. Sivasundar</td>
            <td>A. Sivasundar</td>
          </tr>
          <tr>
            <th scope="row">30</th>
            <td><em>C. elegans</em></td>
            <td>CX11305</td>
            <td>CB4858</td>
            <td>HEY-004</td>
            <td>20160408</td>
            <td>34.13531</td>
            <td>-118.30582</td>
            <td>Urban_garden</td>
            <td>California</td>
            <td>Soil</td>
            <td>A. Sivasundar</td>
            <td>A. Sivasundar</td>
          </tr>
          <tr>
            <th scope="row">31</th>
            <td><em>C. elegans</em></td>
            <td>CX11307</td>
            <td>CX11307</td>
            <td>HEY-011</td>
            <td>20160408</td>
            <td>34.12946</td>
            <td>-118.10987</td>
            <td>Urban_garden</td>
            <td>California</td>
            <td>Soil</td>
            <td>A. Sivasundar</td>
            <td>A. Sivasundar</td>
          </tr>
          <tr>
            <th scope="row">32</th>
            <td><em>C. elegans</em></td>
            <td>CX11314</td>
            <td>CX11314</td>
            <td>HEY-036</td>
            <td>20160408</td>
            <td>34.12946</td>
            <td>-118.10987</td>
            <td>Urban_garden</td>
            <td>California</td>
            <td>Soil</td>
            <td>A. Sivasundar</td>
            <td>A. Sivasundar</td>
          </tr>
          <tr>
            <th scope="row">33</th>
            <td><em>C. elegans</em></td>
            <td>CX11315</td>
            <td>CX11315</td>
            <td>HEY-039</td>
            <td>20160408</td>
            <td>34.12946</td>
            <td>-118.10987</td>
            <td>Urban_garden</td>
            <td>California</td>
            <td>Soil</td>
            <td>A. Sivasundar</td>
            <td>A. Sivasundar</td>
          </tr>
          <tr>
            <th scope="row">34</th>
            <td><em>C. elegans</em></td>
            <td>CX11316</td>
            <td>CX11276</td>
            <td>HEY-058</td>
            <td>20160408</td>
            <td>34.20111</td>
            <td>-118.21198</td>
            <td>Botanical_garden_or_zoo</td>
            <td>California</td>
            <td>Soil</td>
            <td>A. Sivasundar</td>
            <td>A. Sivasundar</td>
          </tr>
          <tr>
            <th scope="row">35</th>
            <td><em>C. elegans</em></td>
            <td>CX11317</td>
            <td>CB4858</td>
            <td>HEY-042</td>
            <td>20160408</td>
            <td>34.13531</td>
            <td>-118.30582</td>
            <td>Urban_garden</td>
            <td>California</td>
            <td>Soil</td>
            <td>A. Sivasundar</td>
            <td>A. Sivasundar</td>
          </tr>
          <tr>
            <th scope="row">36</th>
            <td><em>C. elegans</em></td>
            <td>CX11319</td>
            <td>CX11271</td>
            <td>HEY-055</td>
            <td>20160408</td>
            <td>34.13712</td>
            <td>-118.12532</td>
            <td>Urban_garden</td>
            <td>California</td>
            <td>Soil</td>
            <td>A. Sivasundar</td>
            <td>A. Sivasundar</td>
          </tr>
          <tr>
            <th scope="row">37</th>
            <td><em>C. elegans</em></td>
            <td>CX11321</td>
            <td>CX11285</td>
            <td>HEY-063</td>
            <td>20160408</td>
            <td>34.14331</td>
            <td>-118.05496</td>
            <td>Botanical_garden_or_zoo</td>
            <td>California</td>
            <td>Soil</td>
            <td>A. Sivasundar</td>
            <td>A. Sivasundar</td>
          </tr>
          <tr>
            <th scope="row">38</th>
            <td><em>C. elegans</em></td>
            <td>DL200</td>
            <td>DL200</td>
            <td>None</td>
            <td>20160408</td>
            <td>9.03</td>
            <td>38.74</td>
            <td>Urban_garden</td>
            <td>Oromia</td>
            <td>Soil</td>
            <td>D. Denver</td>
            <td>D. Denver</td>
          </tr>
          <tr>
            <th scope="row">39</th>
            <td><em>C. elegans</em></td>
            <td>DL226</td>
            <td>DL226</td>
            <td>None</td>
            <td>20160408</td>
            <td>44.5633</td>
            <td>-123.2821</td>
            <td>Urban_garden</td>
            <td>Oregon</td>
            <td>Soil</td>
            <td>C. Hilburn</td>
            <td>C. Hilburn</td>
          </tr>
          <tr>
            <th scope="row">40</th>
            <td><em>C. elegans</em></td>
            <td>DL238</td>
            <td>DL238</td>
            <td>None</td>
            <td>20160408</td>
            <td>19.11</td>
            <td>-155.81</td>
            <td>Forest</td>
            <td>Hawaii</td>
            <td>Vegetal_litter/mix</td>
            <td>J. Knapp</td>
            <td>J. Knapp</td>
          </tr>
          <tr>
            <th scope="row">41</th>
            <td><em>C. elegans</em></td>
            <td>DR1344</td>
            <td>CB4851</td>
            <td>Bergerac_BO</td>
            <td>20160408</td>
            <td>44.85</td>
            <td>0.48</td>
            <td>None</td>
            <td>Aquitaine</td>
            <td>Soil</td>
            <td>V. Nigon</td>
            <td>V. Nigon</td>
          </tr>
          <tr>
            <th scope="row">42</th>
            <td><em>C. elegans</em></td>
            <td>DR1345</td>
            <td>CB4857</td>
            <td>None</td>
            <td>20160408</td>
            <td>34.096</td>
            <td>-117.719</td>
            <td>None</td>
            <td>California</td>
            <td>Fungus</td>
            <td>E. Hedgecock</td>
            <td>E. Hedgecock</td>
          </tr>
          <tr>
            <th scope="row">43</th>
            <td><em>C. elegans</em></td>
            <td>DR1350</td>
            <td>CB4853</td>
            <td>PA2|CB3198</td>
            <td>20160408</td>
            <td>34.13712</td>
            <td>-118.12532</td>
            <td>Urban_garden</td>
            <td>California</td>
            <td>Rotting_flower</td>
            <td>E. Hedgecock</td>
            <td>E. Hedgecock</td>
          </tr>
          <tr>
            <th scope="row">44</th>
            <td><em>C. elegans</em></td>
            <td>ECA1069</td>
            <td>ECA1069</td>
            <td>None</td>
            <td>20200815</td>
            <td>-34.89411879</td>
            <td>-56.15794301</td>
            <td>Urban_garden</td>
            <td>Montevideo, Uruguay</td>
            <td>Rotting_nut/pod/seed/fruit</td>
            <td>U. Koziol, C. Martinez</td>
            <td>B. Rodriguez</td>
          </tr>
          <tr>
            <th scope="row">45</th>
            <td><em>C. elegans</em></td>
            <td>ECA1070</td>
            <td>ECA1074</td>
            <td>None</td>
            <td>20200815</td>
            <td>-34.8934668</td>
            <td>-56.15637202</td>
            <td>Urban_garden</td>
            <td>Montevideo, Uruguay</td>
            <td>Rotting_nut/pod/seed/fruit</td>
            <td>U. Koziol, C. Martinez</td>
            <td>B. Rodriguez</td>
          </tr>
          <tr>
            <th scope="row">46</th>
            <td><em>C. elegans</em></td>
            <td>ECA1071</td>
            <td>ECA1074</td>
            <td>None</td>
            <td>20200815</td>
            <td>-34.8934668</td>
            <td>-56.15637202</td>
            <td>Urban_garden</td>
            <td>Montevideo, Uruguay</td>
            <td>Rotting_nut/pod/seed/fruit</td>
            <td>U. Koziol, C. Martinez</td>
            <td>B. Rodriguez</td>
          </tr>
          <tr>
            <th scope="row">47</th>
            <td><em>C. elegans</em></td>
            <td>ECA1072</td>
            <td>ECA1074</td>
            <td>None</td>
            <td>20200815</td>
            <td>-34.8434</td>
            <td>-56.1199</td>
            <td>Urban_garden</td>
            <td>Montevideo, Uruguay</td>
            <td>Rotting_nut/pod/seed/fruit</td>
            <td>U. Koziol, C. Martinez</td>
            <td>B. Rodriguez</td>
          </tr>
          <tr>
            <th scope="row">48</th>
            <td><em>C. elegans</em></td>
            <td>ECA1073</td>
            <td>ECA1074</td>
            <td>None</td>
            <td>20200815</td>
            <td>-34.8434</td>
            <td>-56.1199</td>
            <td>Urban_garden</td>
            <td>Montevideo, Uruguay</td>
            <td>Rotting_nut/pod/seed/fruit</td>
            <td>U. Koziol, C. Martinez</td>
            <td>B. Rodriguez</td>
          </tr>
          <!-- /Sample Data -->
        </tbody>
      </table>
    </div>
    <!-- /Table Placeholder -->
    <!-- Cards -->
    <div class="row">
      <!-- Cite CaeNDR card -->
      <div class="col-10 col-md-8 col-lg-4 my-5 mx-auto">
        <h2>Cite CaeNDR</h2>
        <div class="card shadow text-center mt-5 cardBorderBottom">
          <i class="bi bi-chat-left-quote-fill text-info" aria-hidden="true"></i>
          <div class="card-body">
            <h3 class="text-dark">The CaeNDR Natural Diversity Resource</h3>
            <p class="card-text">
            <p>Cook DE, Zdraljevic S, Roberts JP, Andersen EC</p>
            <p>(2016 Oct 3) <em>Nucleic Acids Research</em></p>
            <p>[ <a href="http://nar.oxfordjournals.org/content/early/2016/10/03/nar.gkw893.full"
                target="_blank">Article on Nucleic Acids Research</a> | <a href="https://dx.doi.org/10.1093/nar/gkw893"
                target="_blank">DOI</a> | <a href="https://www.ncbi.nlm.nih.gov/pubmed/27701074"
                target="_blank">Pubmed</a> ]</p>
            </p>
          </div>
        </div>
      </div>
      <!-- Email Card -->
      <div class="col-10 col-md-8 col-lg-4 my-5 mx-auto">
        <h2>Stay in Touch</h2>
        <div class="card shadow text-center mt-5 cardBorderBottom ">
          <i class="bi bi-envelope-fill text-info" aria-hidden="true"></i>
          <div class="card-body">
            <h3 class="text-dark">Mailing List</h3>
            <p class="card-text mb-5">Sign up for our mailing list to receive updates on our latest news.
            </p>
            <!-- Signup Form -->
            <div class="input-group pb-4">
              <input type="text" class="form-control" placeholder="Email" aria-label="Email address"
                aria-describedby="button-addon2">
              <button class="btn btn-secondary text-light" type="button" id="button-addon2">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Cards -->
  </div>
  <!-- /container -->
</main>
{% endblock %}