
<style>
  #map {
    height: 500px;
    width: 100%
  }
</style>

<div>
    <div id="map"></div>
    <form id="strains">
      <p>Species:</p>
      <div><input type='checkbox' name='filters' onclick="showStrains()" value='elegans_layer' checked>C. Elegans</div>
      <div><input type='checkbox' name='filters' onclick="showStrains()" value='briggsae_layer'>C. Briggsae</div>
      <div><input type='checkbox' name='filters' onclick="showStrains()" value='tropicalis_layer'>C. Tropicalis</div>

    </form>
    <div class='text-center'>
        <small><strong>Hover over or click a pin to see information about a <i>C. elegans</i> wild isolate</strong></small>
    </div>{# /text-center #}
</div>

{% block script %}

<script type="module">

// Icons
{% autoescape off %}
const icon_elegans = L.icon({
    iconUrl: '{{ ext_asset("img/icons/marker.png") }}',
    iconSize: [24, 24],
    iconAnchor: [12, 16],
    popupAnchor: [-3, -76]
});

const icon_briggsae = L.icon({
    iconUrl: '{{ ext_asset("img/icons/selected.png") }}',
    iconSize: [24, 24],
    iconAnchor: [12, 16],
    popupAnchor: [-3, -76]
});
const icon_tropicalis = L.icon({
    iconUrl: "{{ url_for('static', filename='img/tropicalis-marker.png') }}",
    iconSize: [24, 24],
    iconAnchor: [12, 16],
    popupAnchor: [-3, -76]
});
{% endautoescape %}

  const MB_ATTR = 'Tiles &copy; Esri &mdash; Source: Esri, DeLorme, NAVTEQ, USGS, Intermap, iPC, NRCAN, METI, TomTom, 2012';
  const MB_URL = 'https://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}';
  const OSM_URL = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
  const OSM_ATTRIB = '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap</a> contributors';

  const southWest = L.latLng(-90, -180);
  const northEast = L.latLng(90, 180);
  const bounds = L.latLngBounds(southWest, northEast);

  const map = L.map('map', {minZoom:2, maxBounds: bounds}).setView([20, -100], 2);
  L.tileLayer(MB_URL, {attribution: MB_ATTR, id: 'mapbox.streets', continuousWorld: false, worldCopyJump: true}).addTo(map);
  let strain_info = [];
  const strain_names = [];
  const elegans = [];
  const briggsae = [];
  const tropicalis = [];


function naturalCompare(a, b) {
    const ax = [], bx = [];
  a = a.strain
  b = b.strain

  a.replace(/(\d+)|(\D+)/g, function(_, $1, $2) { ax.push([$1 || Infinity, $2 || ""]) });
  b.replace(/(\d+)|(\D+)/g, function(_, $1, $2) { bx.push([$1 || Infinity, $2 || ""]) });
  
  while(ax.length && bx.length) {
    const an = ax.shift();
    const bn = bx.shift();
    const nn = (an[0] - bn[0]) || an[1].localeCompare(bn[1]);
      if(nn) return nn;
  }

  return ax.length - bx.length;
}

function set_marker_color (species) {
  if (species === 'Caenorhabditis elegans') {
    return icon_elegans;
  }
  if (species === 'Caenorhabditis briggsae') {
    return icon_briggsae;
  }
  if (species === 'Caenorhabditis tropicalis') {
    return icon_tropicalis;
  }
}

const data = {{ strain_listing|tojson|safe }}
  data.sort(naturalCompare)
  strain_info = data;
  data.forEach(function(d) {
  if (d.latitude) {
    strain_names.push(d.strain);
    const popup_content = `
    <div>
      <ul>
        ${d.species ? `<li>Species: ${d.species}</li>` : ''}
        ${d.isotype ? `<li>Isotype: ${d.isotype}</li>` : ''}
        ${d.isotype_ref_strain ? `<li>Reference Strain: ${d.isotype_ref_strain}</li>` : ''}
        ${d.strain ? `<li>Strains: ${d.strain}</li>` : ''}
        ${d.previous_names ? `<li>Alternative Names: </li>` : ''}
        ${d.release ? `<li>Release Date: ${String(d.release).replace(/(\d{4})(\d{2})(\d{2})/, "$1-$2-$3")}</li>` : ''}
        ${d.release ? `<li>Substrate: ${d.substrate}</li>` : ''}
        ${d.substrate_temp ? `<li>Substrate Temp (C): ${d.substrate_temp}</li>` : ''}
        ${d.ambient_humidity ? `<li>Ambient Humidity:${d.ambient_humidity} </li>` : ''}
        ${d.sampled_by ? `<li>Sampled by: ${d.sampled_by}</li>` : ''}
        <li>Peel-1 Zeel-1 inc: </li>
      </ul>
    </div>`

    const m = L.marker([d.latitude, d.longitude], { icon: set_marker_color(d.species),
                                                    species: d.species})
                            
    m.bindPopup(popup_content)

    if (m.options.species === 'Caenorhabditis elegans') {
      elegans.push(m)
    }
    if (m.options.species === 'Caenorhabditis briggsae') {
      briggsae.push(m)
    }
    if (m.options.species === 'Caenorhabditis tropicalis') {
      tropicalis.push(m)
    }
  }
});

const elegans_layer = L.layerGroup(elegans)
const briggsae_layer = L.layerGroup(briggsae)
const tropicalis_layer = L.layerGroup(tropicalis)

let overlays = L.layerGroup().addLayer(elegans_layer).addTo(map)

function showStrains() {
  const filters = document.getElementById('strains').filters

  const checked_species = []
  for (let i = 0; i < filters.length; i++) {
    if(filters[i].checked) checked_species.push(filters[i].value)
  }
  overlays.clearLayers()

  if(checked_species.includes('elegans_layer')) {
  overlays.addLayer(elegans_layer)
  }
  if(checked_species.includes('briggsae_layer')) {
  overlays.addLayer(briggsae_layer)
  }
  if(checked_species.includes('tropicalis_layer')) {
  overlays.addLayer(tropicalis_layer)
  }
}

document.querySelector('#strains').addEventListener('click', e => {
  if (e.target.tagName !== 'INPUT') return;

  const input = e.target
  const value = input.value;
  showStrains(value)
})

$(document).ready(function() {

    (function($) {
        $('[data-toggle="tooltip"]').tooltip()

        const patterns = [];
        $('#filter').keyup(function() {
            $('.searchable tr').hide();
            console.log($(this).val());
            $(this).val().split(',').forEach(function(r) {
                const rex = new RegExp(r, "i");
                $('.searchable tr').filter(function() {
                    return rex.test($(this).text());
                }).show();
            })  
        })

    }(jQuery));
});

</script>

{% endblock %}
