{% extends "_layouts/default.html" %}

{% block content %}
<div class="row">
  <div class="col-md-9"></div>
  <div class="col-md-3">
    <a id='create' href="{{ url_for('admin_gene_browser_tracks.create_gene_browser_tracks')}}" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Gene Browser Track Version </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class='table'>
      <thead>
        <tr>
          <th class='col-md-2'><strong> Wormbase Version </strong></th>
          <th class='col-md-1'><strong> Status </strong></th>
          <th class='col-md-3'><strong> Note </strong></th>
          <th class='col-md-1'><strong> Username </strong></th>
          <th class='col-md-1'><strong> Created On </strong></th>
          <th class='col-md-1'><strong> Modified On </strong></th>
        </tr>
      </thead>
      <tbody>
        {% for tracks in gene_browser_track_versions|sort(attribute='created_on', reverse=True) %}
          <tr>
            <td> {{ tracks['wormbase_version'] }} </td>
            <td> {{ tracks['status'] }} </td>
            <td> {{ tracks['note'] }} </td>
            <td> {{ tracks['username'] }} </td>
            <td> {{ tracks['created_on']|date_format }} </td>
            <td> {{ tracks['modified_on']|date_format }} </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
	</div> <!-- /col-md-12 -->
</div> <!-- /row -->


{% endblock %}
