{% extends "_layouts/default.html" %}

{% block custom_head %}
<style>
    #container {
      background-color: #e9e9e9;
      padding: 20px;
    }
    #mailInfo {
      background-color: #d9dbf8;
      padding: 10px;
      margin-left: 50px;
      border-left: 6px solid #0719BC;
    }
    #container table {
      width: 80%;
      margin: auto;
    }
    th {
      border-bottom: 2px solid black;
    }
</style>
{% endblock %}

{% block content %}

<div class='col lg-9 col-md-9 col-sm-9 col-xs-9'>

  <div class="panel panel-default">
      <div class="d-flex justify-content-between mb-4 panel-heading">
        <h2 class="panel-title">{{ invoice }}</h2>
        <form>
          <button type="button" class='btn btn-primary btn-block hidden-print' onClick="window.print()">
            <i class="bi bi-printer-fill"></i>
            Print
          </button>
        </form>
      </div>

      {% if order_obj['is_donation'] == 'FALSE' %}
      <div id="container">
        <div class="d-flex justify-content-between">
          <h3>Shipping Information</h3>
          <p><strong>Order Date: {{ order_obj['date'] }}</strong></p>
        </div>
        
        <p>{{ order_obj['name'] }}<br />{{ order_obj['address'].replace("\n", "<br />")|safe }}</p>
        <br />
        <p><strong>Shipping Service: </strong>{{ order_obj["shipping_service"] }}</p>
        <br/>
        <div>
          <h3>Order Information</h3>
          <table class="table table-hover table-striped" style="table-layout: fixed">
            <thead>
                <tr>
                    <th style="width: 40px">#</th>
                    <th style="width: 200px;">Strain/Set</th>
                    <th style="width: 200px;">Species</th>
                    <th class="price text-right">Price</th>
                </tr>
            </thead>
            <tbody class="searchable"> 
                {% for item in items %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ item['strain'] }}</td>
                    <td><em>{{ item['species']|capitalize|replace('_', '. ') }}</em></td>
                    <td class="price text-right">${{'%0.2f'| format(item['price'])}}</td>
                </tr>
                {% endfor %}
  
                <tr>
                <td colspan="3"><strong>Total</strong></td>
                <td class="price text-right"><strong>${{ order_obj["total"] }}</strong></td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}
    </div>{# /panel #}

    <div class="m-4">
      <h4>To complete your order</h4>
  
      {% if order_obj['payment'] == 'credit_card' %}
      <p>We will follow-up with you directly via email/phone to complete your order.</p>

      {% else %}

      <ol>
          <li>Print this page out and please include it with your check.</li>
          <li>Make a check payable to Northwestern University and write 'CeNDR' and your invoice number in the memo field.</li>
          <li>Mail the check and this printed page to the address below.</li>
      </ol>
      <br />
      <div id="mailInfo">
        <p class='visible-print'>Mail a check payable to Northwestern University and a copy of your invoice to the address below. Please include your invoice number on the check.</p>
        <address>
        <strong>Erik C. Andersen, Ph.D.</strong><br />
        c/o Life Sciences Financial Services<br />
        Hogan Hall<br />
        2205 Tech Dr, Suite 2-150<br />
        Evanston IL, 60208
        </address>
        <p class='hidden-print'>Please contact us if you have any questions (<a href='mailto:cendr@northwestern.edu'>cendr@northwestern.edu</a>; 847-467-4382).</p>
      </div>
      
      {% endif %}
    </div>
</div>
{% endblock %}