{% extends "_layouts/default.html" %}

{% block custom_head %}
<style>
  #mailInfo {
    background-color: var(--bs-footerBg);
  }
    th {
      border-bottom: 2px solid black;
    }
</style>
{% endblock %}

{% block content %}

<div class="col col-md-9 mx-auto">

      <div class="d-flex justify-content-between mb-4">
        <h2>{{ invoice }}</h2>
        <form>
          <button type="button" class='btn btn-primary btn-block d-print-none' onClick="window.print()">
            <i class="bi bi-printer-fill"></i>
            Print
          </button>
        </form>
      </div>

      {% if order_obj['is_donation'] == 'FALSE' %}
      <div  class="text-bg-light rounded shadow-sm p-5 mb-5">
        <div class="d-flex justify-content-between">
          <h3>Shipping Information</h3>
          <p><strong>Order Date: {{ order_obj['date'] }}</strong></p>
        </div>
        
        <p>{{ order_obj['name'] }}<br />{{ order_obj['address'].replace("\n", "<br />")|safe }}</p>
        <br />
        <p><strong>Shipping Service: </strong>{{ order_obj["shipping_service"] }}</p>
        <br/>
        <div class="table-responsive px-5">
          <h3>Order Information</h3>
          <table class="table table-hover table-striped">
            <caption class="visually-hidden">A list of items ordered</caption>
            <thead>
                <tr>
                    <th style="width: 40px">#</th>
                    <th style="width: 200px;">Strain/Set</th>
                    <th style="width: 200px;">Species</th>
                    <th class="price text-right">Price</th>
                </tr>
            </thead>
            <tbody class="searchable"> 
                {% for item in items %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ item['name'] }}</td>
                    <td><em>{{ item['species_short_name'] }}</em></td>
                    <td class="price text-right">${{'%0.2f'| format(item['price'])}}</td>
                </tr>
                {% endfor %}
  
                <tr>
                <td colspan="3"><strong>Total</strong></td>
                <td class="price text-right"><strong>${{ order_obj["total"] }}</strong></td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}

    <div class="m-4">
      <h2>To complete your order</h2>
  
      {% if order_obj['payment'] == 'credit_card' %}
      <p>We will follow-up with you directly via email/phone to complete your order.</p>

      {% else %}

      <ol>
          <li>Print this page out and please include it with your check.</li>
          <li>Make a check payable to Johns Hopkins University and write "CaeNDR" and your invoice number in the memo field.</li>
          <li>Please include this information on the remittance, so it gets posted correctly: "CaeNDR IO#80063045 Biology".</li>
          <li>Mail the check and this printed page to the address below.</li>
      </ol>
      <br />
      <div class="ps-5">
        <div class="border-start border-primary border-2 p-3" id="mailInfo">
          <p class='visible-print'>Mail a check payable to Johns Hopkins University and a copy of your invoice to the address below. Please include your invoice number on the check.</p>
          <address>
            <strong>Johns Hopkins University</strong><br>
            Central Lockbox<br>
            Bank of America<br>
            12529 Collections Center Dr.<br>
            Chicago, IL 60693-0125
          </address>
          <p class='d-print-none'>Please contact us if you have any questions (<a href='mailto:{{ support_email }}'>{{ support_email }}</a>; 847-467-4382).</p>
        </div>
       </div>
      
      {% endif %}
    </div>
</div>
{% endblock %}