{% extends "_layouts/default.html" %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <table class='table'>
      <thead>
        <tr>
          <th class='col-md-2'><strong> Container Name </strong></th>
          <th class='col-md-2'><strong> Container Tag </strong></th>
          <th class='col-md-2'><strong> Container Repo </strong></th>
          <th class='col-md-2'><strong> Created On </strong></th>
          <th class='col-md-2'><strong> Modified On </strong></th>

          <th><strong> Actions </strong></th>
        </tr>
      </thead>
      <tbody>
        {% for c in containers %}
          <tr>
            <td> {{ c.container_name }} </td>
            <td> {{ c.container_tag }} </td>
            <td> {{ c.container_repo }} </td>
            <td> {% if c.created_on %} {{ c.created_on|date_format }} {% endif %} </td>
            <td> {% if c.modified_on %} {{ c.modified_on|date_format }} {% endif %} </td>
            <td>
              <a href="{{ url_for('admin_tools.edit_tool', id=c.container_name) }}"> 
                Edit
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
	</div> <!-- /col-md-12 -->
</div> <!-- /row -->


{% endblock %}
