{% extends "_layouts/default.html" %}

{% block content %}


<div class="row row-margin">

 
  <div class="text-center col-lg-4 col-md-6 col-sm-6">
    <a href="{{ url_for('data_releases.data_releases') }}" style="text-decoration: none;">
      <div class="menu-card">
        <img class="card-img-top" src="{{ ext_asset('img/icons/genome_data.png') }}" alt="Genomic Data">
        <div class="card-body">
          <h4 class="card-title">Genomic Data</h4>
          <p class="card-text text-center">Genotypes from whole-genome sequences and reduced representation (RAD) sequencing</p>
        </div>
      </div> {# /card #}
    </a>
  </div> {#/col #}
  
  <div class="text-center col-lg-4 col-md-6 col-sm-6">
    <a href="{{ url_for('gene_browser.gbrowser') }}" style="text-decoration: none;">
      <div class="menu-card">
        <img class="card-img-top" src="{{ ext_asset('img/icons/genome_browser.png') }}" alt="Genome Browser">
        <div class="card-body">
          <h4 class="card-title">Genome Browser</h4>
          <p class="card-text text-center">Use the IGV browser to compare strain variant data</p>
        </div>
      </div> {# /card #}
    </a>
  </div> {#/col #}
  
  
  <div class="text-center col-lg-4 col-md-6 col-sm-6">
    <a href="{{ url_for('variant_browser.vbrowser') }}" style="text-decoration: none;">
      <div class="menu-card">
        <img class="card-img-top" src="{{ ext_asset('img/icons/variant_annotation.png') }}" alt="Variant Annotation">
        <div class="card-body">
          <h4 class="card-title">Variant Annotation</h4>
          <p class="card-text text-center">Search and sort genetic variants and their predicted consequences by strain</p>
        </div>
      </div> {# /card #}
    </a>
  </div> {#/col #}


</div> {# /row #}



{% endblock %}

