{% extends "_layouts/default-nocontainer.html" %}

{% block custom_head %}

<!-- jQuery UI CSS -->
<link rel="stylesheet" type="text/css"
      href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css"/>

<!-- IGV CSS -->

<!-- jQuery JS -->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script>$.widget.bridge('uitooltip', $.ui.tooltip);</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo=" crossorigin="anonymous"></script>

<script type="text/javascript" src="//igv.org/web/release/2.6.2/dist/igv.min.js"></script>
<style>
  #closeButton {
    display:none;
  }
</style>

{% endblock %}

{% block content %}
{% from "_includes/macros.html" import render_field %}
{% from "_includes/strain-listing.html" import list_strains %}

<div class="container-fluid px-5">
  <div class="d-flex justify-content-around flex-wrap mt-2 pb-5">
    <div class="col-10 col-md-8 col-xl-3 mb-5" style="max-height:80vh;">
      <nav>
        <div class="nav nav-tabs border-0" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
            type="button" role="tab" aria-controls="nav-home" aria-selected="true">Browse</button>
          <button class="nav-link disabled" id="nav-linkTwo-tab" type="button" role="tab" aria-controls="nav-linkTwo" aria-selected="false">Release Notes</button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
          tabindex="0">
          <!-- Input Card -->
          <div class="text-bg-light mb-5 p-3 p-md-5 rounded-2 shadow-sm">
                 <!-- Input Form -->
      <form id="form-submit">
        <!-- Species -->
        <div class='mb-4'>{{ render_field(form.species, onchange="update_species") }}</div>
        <!-- /Species -->
        <!-- Gene search -->
        <div class="mb-4">
          <label for="gene-search" class="form-label">Gene Search:</label>
          <div class="dropdown">
            <input type="text" class="form-control dropdown-toggle" id="gene-search" placeholder="For example, trt-1"
              data-bs-toggle="dropdown" disabled>
            <div class="dropdown-menu table-responsive p-1 dropdownSelect">
              <div class="text-center p-3" id="loading-search-table" style="display:none;">
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
              <table id="g-search-table" class='table table-hover table-striped' style="display:none;">
                <caption class="visually-hidden">A list of species strains.</caption>
                <thead>
                  <tr>
                    <th>Gene</th>
                    <th>Symbol/ID</th>
                  </tr>
                </thead>
                <tbody id="orthologs"></tbody>
              </table>
              <div id="g-search-table-no-results" style="display:none;">
                That gene name is not found in this species, so either that gene does not exist in this species or a different gene name is indexed.
              </div>
            </div>
          </div>
        </div>
        <!-- /Gene Search -->
        <div class="mb-4">
          <!-- Isotypes -->
          <label for="filter" class="form-label">Isotype (Reference Strain):</label>
          <div class="dropdown">
            <input type="text" class="form-control dropdown-toggle" id="filter" placeholder="For example, JU360"
              data-bs-toggle="dropdown" disabled>
            <div class="dropdown-menu table-responsive dropdownSelect p-1">
              <table id='browser_strain_list' class="table table-striped-filterable table-hover">
                <caption class="visually-hidden">A list of strains with different file type options.</caption>
                <tbody class="searchable">
                  {% call(species, strain) list_strains(species_list, strain_listing) %}
                    <td>
                      {{ strain.isotype }} {{ ("(" + strain.strain + ")") if (strain.isotype != strain.strain) else "" }}
                    </td>
                    <td>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input track-select isotype-item sample-track"
                          value="{{ strain.strain }}" />
                        <label class="form-check-label">VCF</label>
                      </div>
                    </td>
                    <td>
                      <div class="form-check">
                      <input type="checkbox" class="form-check-input track-select sample-track-alignment" value="{{ strain.strain }}_bam" />
                      <label class="form-check-label">BAM</label>
                      </div>
                    </td>
                  {% endcall %}
                </tbody>
              </table>
            </div>
          </div>
          <!-- /Isotypes -->
        </div>
        <div class="mb-4">
          <label for="track-options" class="form-label">Tracks:</label>
          <!-- Info Modal -->
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-secondary rounded-circle infoButton" data-bs-toggle="modal"
            data-bs-target="#infoModal" aria-label="More information">
            <i class="bi bi-info lh-1" aria-hidden="true"></i>
          </button>
          <!-- Modal -->
          <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="infoModalLabel">Track Information</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  {% include "_includes/gbrowser-tracks-info.html" %}
                </div>
              </div>
            </div>
          </div>
          <!-- /Info Modal -->
          <!-- Tracks -->
          <div id="track-options-container" class="p-3 mb-4 rounded-2 overflow-auto gbrowserTracks">
            <form id="track-options">
              {% for track in default_tracks %}
              <div id="{{ track.name }}_checkbox_container" class="form-check checkbox default-track-container" style="display: none;">
                <input id="{{ track.name }}_checkbox" type="checkbox" class="form-check-input track-select normal-track"
                  value="{{ track.name }}" />
                <label class="form-check-label" for="{{ track.name }}_checkbox">
                  {{ track.name }}
                </label>
              </div>
              {% endfor %}
            </form>
          </div>
          <!-- /Tracks -->
        </div>
        <small>
          <p>IGC (Data Release: <span id="release_version"></span> | Wormbase Version: <span id="wormbase_version"></span>)</p>
        </small>
      </form>
      <!-- /Input Form -->
              </div>
              <!-- /Input Card -->
        </div>
      </div>
    </div>
  <!-- Tool column -->
  <div class="d-flex flex-wrap flex-column col-md-12 col-xl-8 mt-5 mt-xl-0">
      <!-- Options Toolbar -->
      <div id="options-toolbar" class="d-flex flex-wrap justify-content-end col-12 text-end mb-3 optionsToolbar">
        <div class="ps-3 pt-0" style="display: none;">
          <button class="btn border-0" onclick="openFullscreen();" id="fullscreenButton" disabled><i class="bi bi-arrows-fullscreen" aria-hidden="true"></i>View Fullscreen</button>
        </div>
      </div>
      <!-- /Options Toolbar -->
      <!-- Select Species Prompt -->
      {% include '_includes/select-species-prompt.html' %}
      <!-- /Select Species Prompt -->
      <!-- IGV Browser -->
      <div id="browser-container" class="col" style="width:100%">
          <div class="bg-white" id="browser">
            <div class="d-flex flex-wrap justify-content-center col-12 text-end optionsToolbar">
              <div class="me-5">
                <button class="btn btn-danger text-light p-2 my-5" id="closeButton" onclick="closeFullscreen();"><i class="bi bi-fullscreen-exit text-light" aria-hidden="true"></i> Close Fullscreen</button>
              </div>
            </div>
          </div>
      </div>
      <!-- /IGV Browser -->
  </div>
  <!-- /Tool Column -->
 </div>
 <!-- /Flex -->
</div> <!-- /Container -->

{% endblock %}

{% block script %}
{% from "_includes/strain-listing.html" import unpack_species_list, replace_tokens %}
<script src="{{ url_for('static', filename='js/strains.js') }}"></script>

<script type="text/javascript">
{% include '_scripts/utils.js' %}       {#/* defines: fetch_json, toggle_input */#}
{% include '_scripts/igv-browser.js' %}
{% include '_scripts/gene-search.js' %} {#/* defines: prep_gene_search, run_gene_search, format_locus_string */#}
{% include '_scripts/fullscreen.js' %} {#/* fullscreen for tools */#}


/* Variables */


// Typing
var typingTimer;                //timer identifier
var doneTypingInterval = 1000;  //time in ms (5 seconds)

// Current active species
var species = null;

// Set of all species
const species_list = {{ unpack_species_list(species_list, species_fields, latest_release_genomes) }};

// Species specific default tracks
const species_supported_tracks = {
  {% for species_name, species in species_list.items() %}
    "{{species_name}}": [{% for track in species.browser_tracks %} "{{ track }}", {% endfor %}],
  {% endfor %}
};

// Browser location & options
const browser_div = $("#browser")[0];
const browser_options = {
  search: {
    url: "{{ url_for('api_gene.api_search_genes', species='', query='') }}$FEATURE$",
    coords: 1,
    resultsField: 'result'
  },
  locus: "{{ region }}",
}

const default_checked_tracks = [
  {% for track in default_tracks %} {% if track.checked %} "{{ track.name }}", {% endif %} {% endfor %}
];



/* Initialization */


$(document).ready(function () {

  // Fetch the list of browser track objects
  // Retrieves an object with two fields:
  //   - 'default':   the list of tracks that are not specific to any one strain
  //   - 'templates': the list of track templates to be filled out with strain data
  fetch_json("{{ url_for('genome_browser.get_tracks') }}")
    .then((data) => {
      set_trackset(data.default);
      set_templates(data.templates);

      // Once we know the trackset exists, update the species & browser
      update_species();
    })
    .catch((err) => {
      // TODO: better error handling?
      console.error("Failed to retrieve browser tracks.", err);
    })

  // Italicize 'et al.' in track sources
  $('.track-source-link').each((i, obj) => {
    obj.innerHTML = obj.innerHTML.replaceAll('et al.', '<em>et al.</em>');
  });

  // Isotype search -- make table responsive
  (function($) {
      var patterns = [];
      $('#filter').keyup(function() {
          filter_strains('#browser_strain_list', species['name'], $(this).val().split(','))
      })
  }(jQuery));

  // Isotype search -- prevent enter key from reloading page
  $('#filter').keydown(function(event) {
      if (event.keyCode == 13) {
          event.preventDefault();
          return false;
      }
  });

  // Ortholog search
  $("#gene-search").on("input", function(e) {

    var gene = $('#gene-search').val().trim();
    prep_gene_search(gene, "#g-search-table", "#loading-search-table");

    clearTimeout(typingTimer);
    typingTimer = setTimeout(process_gene_search, doneTypingInterval);
  })

});



/* Browser Tracks */

// Update tracks in the browser to match the checkboxes
function update_tracks() {
  $('.track-select').each(function(i, obj) {
    const track_name = $(this).attr("value");
    if ($(this).prop("checked") == true) {
      add_track(track_name)
    } else {
      remove_track(track_name)
    }
  });
}

// Update the browser track checkboxes to match a given array of track names
function set_track_checkboxes(arr) {
  $('.track-select').each(function(i, obj) {
    const track_name = $(this).attr("value");
    obj.checked = arr.includes(track_name);
  });
}

// Reset the track checkboxes to the default values
function reset_track_checkboxes() {
  return set_track_checkboxes(default_checked_tracks);
}

// Uncheck all track checkboxes
function clear_track_checkboxes() {
  return set_track_checkboxes([]);
}



/* Changing Species */

// Show/hide tracks to match list of tracks supported by current species
function update_visible_track_checkboxes(species_id) {
  if (!species_id) {
    $(".default-track-container").hide();
  }
  else {
    const suffix = "-checkbox-container";
    $(".default-track-container").each((i, obj) => {
      const name = obj.id.substring( 0, obj.id.length - suffix.length );
      obj.style.display = species_supported_tracks[species_id].includes(name) ? 'block' : 'none';
    });
  }
}


// Set up species variable & set to match species selector
function update_species(species_id) {

  const species_empty = species_id == null || species_id == '';

  // If no species selected, prompt user to select one; otherwise show the IGV browser
  $('#select-species-prompt').toggle(species_empty);
  $('#browser-container').toggle(!species_empty);
  $('#options-toolbar > *').toggle(!species_empty);

  // Enable or disable form inputs that depend on species being defined
  const form_ids = [
    'filter',
    'gene-search',
    'track-options-container',
    'fullscreenButton',
  ];
  form_ids.forEach((form_id) => toggle_input(form_id, !species_empty));
  if(!species_empty) {
    $('#nav-linkTwo-tab').removeClass('disabled')
  }
  

  // If no species selected, clear track checkboxes and end update function here
  if (species_empty) {
    update_visible_track_checkboxes();
    return;
  }

  // Set species object from ID
  species = species_list[species_id];

  document.getElementById('wormbase_version').innerHTML = species['wb_ver'];
  document.getElementById('release_version').innerHTML  = species['latest_release'];

  document.getElementById('gene-search').value  = "";
  process_gene_search();

  // Update list of strains to match current species
  filter_strains('#browser_strain_list', species_id);

  // Reset the checkboxes to the default for the new species
  reset_track_checkboxes(species_id);
  update_visible_track_checkboxes(species_id);

  // Ensure the browser exists and is displaying the correct species,
  // then sort out the tracks in it
  return create_or_update_browser(browser_div, browser_options, species).then(({browser, created}) => {

    // If browser newly created, make it responsive
    if (created) {

        // Bind browser events
        browser.on('trackdragend', function(reference_frame, label) {});

        // Detect track changes
        $(".track-select").on( "change", update_tracks );

        // Make links work!
        $(".container-fluid").on("click", ".ortholink", function() {
          browser.search($(this).attr("link"))
        });
    }

    // Update the tracks in the browser
    update_tracks();
  });
}



/* Searching */


function process_gene_search() {
  var gene = $('#gene-search').val().trim();

  run_gene_search(gene, species, "#g-search-table", "#loading-search-table", (i, row) => {
    link = ("chrom" in row) ? format_locus_string(row["chrom"], row["start"], row["end"]) : row["locus"];
    gene_name = `<a onclick="set_position('${link}')" link='${link}' class='ortholink'>${row["locus"]}</a>`;
    return [ gene_name, row["gene_symbol"] ];
  });
}

function set_position(coord) {
  // Sets browser position based on input
  igv.getBrowser().search(coord);
}



// Replace string tokens with species values
// TODO: Uses of species name ID in filenames not yet standardized, so we drop the 'c_' prefix for now
function replace_tokens(filename) {
  {{ replace_tokens('filename', 'species', tokens) }}
  return filename;
}



// Generates a genotype label
function gt_label(gt) {

  // Get class list
  classes = gt["FT"].split(";");
  classes.push(`gt-${gt["GT"]}`);

  // Optional extra parameters
  tt = (gt['FT'] != ['PASS']) ? ` data-placement='bottom' title='${FT}' ` : "";

  // Create & return div string
  return `
    <div class='label ttop ${classes.join(" ")}' ${tt}>
      ${gt["SAMPLE"]} : ${gt["TGT"]}
    </div>
  `;
}

function draw_gt_set(genotype_set, genotype_val) {
  return genotype_set.filter( gt => gt['GT'] == genotype_val ).map( gt_label ).join(" ");
}

// For viewing tool in fullscreen
let fullscreenBrowser = document.getElementById("browser");

  // Setting up Release Notes link
  $('#nav-linkTwo-tab').click(function() {
    const species = $('#speciesSelect').val()
    let url = "{{ url_for('data_releases.data_release_list', species='SPECIES') }}";
    if (species) {
        url = url.replace("SPECIES", species);
    } else {
        throw Error('No species selected.');
    }
    window.location.href = url;
  });


</script>

{% endblock %}