<p>
  Timothy A Crombie, Ryan McKeown, Nicolas D Moya, Kathryn S Evans, Samuel J Widmayer,
  Vincent LaGrassa, Natalie Roman, Orzu Tursunova, Gaotian Zhang, Sophia B Gibson,
  Claire M Buchanan, Nicole M Roberto, Rodolfo Vieira, Robyn E Tanny, Erik C Andersen
</p>
<p>(2023 Oct 19) <em>Nucleic Acids Research</em></p>
<p>
  [ <a href="https://academic.oup.com/nar/advance-article/doi/10.1093/nar/gkad887/7321992" target="_blank">Article on Nucleic Acids Research</a>
  | <a title="Document Object Identifier; Takes you to the Journal Website" href="https://doi.org/10.1093/nar/gkad887" target="_blank">DOI</a>
  | <a href="https://pubmed.ncbi.nlm.nih.gov/37855690/" target="_blank">Pubmed</a>
  ]
</p>
