<!-- Footer -->
<div class="row mt-5">
<footer class="position-relative">
   <!-- Feedback Form -->
   <div class="position-absolute top-0 end-0 me-5 translate-middle-y">
    <a class="btn btn-primary rounded-pill" role="button" href="https://goo.gl/forms/rfWz4AlCIP" target="_blank">Send Feedback <i
      class="bi bi-box-arrow-right ms-1" aria-hidden="true"></i></a>
</div>
  <div class="container-fluid py-5">
    <div class="d-flex flex-sm-column flex-md-row flex-wrap justify-content-start pt-5">
      <div class="col-12 col-md-3 mb-5">  
        <a href="/" aria-label="CaeNDR home"><img src="/static/img/caeNDRLogo.png" class="d-block img-fluid mx-auto mb-5 footerImage" alt="" style="max-width:125px;"></a>
      </div>

      <div class="col-12 col-md-6 d-flex flex-row justify-content-evenly justify-content-md-between">
          <div class="col-3 mb-5">
            <nav class="nav flex-column">
              <h3 class="h5 text-dark">Tools</h3>
              <a class="nav-link ps-0" href="{{ url_for('genome_browser.genome_browser')                   }}">
                Genome Browser
              </a>
              <a class="nav-link ps-0" href="{{ url_for('variant_annotation.variant_annotation')           }}">
                Variant
                Annotation </a>
              <a class="nav-link ps-0" href="{{ url_for('genetic_mapping.genetic_mapping')                 }}">
                Genetic Mapping
              </a>
              <a class="nav-link ps-0" href="{{ url_for('pairwise_indel_finder.pairwise_indel_finder')     }}">
                Pairwise Indel
                Finder</a></li>
              <a class="nav-link ps-0" href="{{ url_for('heritability_calculator.heritability_calculator') }}">
                Heritability
                Calculator </a>
            </nav>
          </div>
          <div class="col-3 mb-5">
            <nav class="nav flex-column">
              <h3 class="h5 text-dark">Data</h3>
              <a class="nav-link ps-0" href="{{ url_for('data_releases.data_releases') }}"> Download Data </a>
              <a class="nav-link ps-0" href="{{ url_for('data.protocols')     }}"> Protocols </a>
              <a class="nav-link ps-0"
                href="https://docs.google.com/forms/d/e/1FAIpQLSfO0m4UMzTSz79weA2ICkuIHDYnZegqXly4SA15_w3FMuyocQ/viewform"
                target="_blank"> Submit A Strain <i class="bi bi-box-arrow-right" aria-hidden="true"></i></a><span
                class="visually-hidden">Link opens in a new tab</span>
            </nav>
          </div>
          <div class="col-3 mb-5">
            <nav class="nav flex-column">
              <h3 class="h5 text-dark">About Us</h3>
              <a class="nav-link ps-0" href="{{ url_for('about.about')      }}"> About CaeNDR </a>
              <a class="nav-link ps-0" href="{{ url_for('about.people')     }}"> People </a>
              <a class="nav-link ps-0" href="{{ url_for('about.contact_us') }}"> Contact Us </a>
            </nav>
          </div>
      </div>

      <div class="col-12 col-md-3 d-flex justify-content-center">
        <nav class="nav flex-column">
          <div class="text-center">
            <a href="#citationModal" data-bs-target="#citationModal" data-bs-toggle="modal"> <i
                class="bi bi-chat-right-quote-fill text-secondary fs-1 me-1 d-block" aria-hidden="true"></i>
              <h3 class="h4">Cite CaeNDR</h3>
            </a>
            </div>
        </nav>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="citationModal" tabindex="-1" aria-labelledby="citationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="citationModalLabel">CaeNDR, the <em>Caenorhabditis</em> Natural Diversity
            Resource</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% include "_includes/cite-caendr.html" %}
        </div>
      </div>
    </div>
  </div>
  </footer>
  </div>
<!-- /Container /Footer /Row -->



<!-- Bootstrap JS -->
<script src="/static/js/bootstrap.js"></script>

<!-- Google Analytics -->
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-24677584-4', 'auto',
    { user: "{{ user['name'] if user else None }}" });
  ga('send', 'pageview');
</script>

<!-- <script type="text/javascript">
  function set_alert(alert_type, title, text) {
    $("#alert").hide().html("<div class='alert alert-dismissible alert-" + alert_type + "'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button><strong>" + title + "</strong> " + text + "</div>").fadeIn();
  }

  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  }
  );
</script> -->

