<h2 class="h4">Standard Tracks</h2>
<p>The <code>Genes</code> and <code>Transcripts</code> tracks are displayed by default.</p>

<h2 class="h4">Genes</h2>
<p>Shows the most updated gene models for the selected species.</p>

<h2 class="h4">Transcripts</h2>
<p>Shows transcripts of genes.</p>

<h2 class="h4">Transposons</h2>
<p>
    The transposon track shows calls for <i>C. elegans</i> only.
    Calls are from <a href="https://andersenlab.org/publications/2017Laricchia.pdf">Laricchia <em>et al.</em> 2017</a>
    and list transposon type and isotype reference strains.
</p>

<h2 class="h4">Divergent Regions</h2>
<p>
    Hyper-divergent regions are shown for <i>C. elegans</i> only.
    Calls are from <a href="https://andersenlab.org/publications/2021LeeNatureEE.pdf">Lee <em>et al.</em> 2020</a>.
    Please read this paper for a full description.
<p>
    Two divergent tracks are available:
</p>
<ul>
    <li><strong>Divergent Regions Summary</strong> - Divergent region intervals across ANY of the wild strains are shown.</li>
    <li><strong>Divergent Regions Strain</strong> - Divergent region intervals for individual strains.</li>
</ul>
