<h2 class="h4">Standard Tracks</h2>
<p>The <code>Genes</code> and <code>Transcripts</code> tracks are displayed by default.</p>

<h2 class="h4">Genes</h2>
<p>Shows the most updated gene models for the selected species</p>

<h2 class="h4">Transcripts</h2>
<p>Shows transcripts of genes.</p>

<h2 class="h4">Transposons</h2>
<p>The transposons track shows transposon calls from <a
        href="https://andersenlab.org/publications/2017Laricchia.pdf">Laricchia <em>et al.</em> 2017</a>. Each call
    lists
    the transposon type and <strong>isotype</strong>.
</p>
<p>
    The transposon track shows calls for <i>C. elegans</i> only.
</p>

<h2 class="h4">Divergent Regions</h2>
<p>Hyper-divergent regions are genomic intervals that contain sequences not found in the N2 reference strain. They
    were identified by high levels of variation and low coverage from read alignments. For a complete description,
    please see <a href="https://andersenlab.org/publications/2021LeeNatureEE.pdf"><em>Lee et al.</em> 2020</a>.</p>
<p>Two divergent tracks are available:</p>
<ul>
    <li><strong>Divergent Regions Summary</strong> - Divergent region intervals and their observed frequency across wild
        isolate strains.</li>
    <li><strong>Divergent Regions Strain</strong> - Divergent region intervals for individual strains.</li>
</ul>
<p>
    Hyper-divergent regions are shown for <i>C. elegans</i> only.
</p>