<p>
    <strong>Enter your data in the form shown in one of the example data files and upload as a TSV here.</strong>
</p>
<p>Please download the example data for your species of interest below:</p>
<h2 class="h5"><em>C. elegans</em></h2>
<div class="text-center mb-4"><a class="btn border-0" role="button" href="{{elegans_sample_data_url}}" target="_blank"><i class="bi bi-file-arrow-down-fill text-secondary fs-5 fw-bold me-1"></i> Download <em>C. elegans</em> Example Data</a></div>
<h2 class="h5"><em>C. briggsae</em></h2>
<div class="text-center mb-4"><a class="btn border-0" role="button" href="{{briggsae_sample_data_url}}" target="_blank"><i class="bi bi-file-arrow-down-fill text-secondary fs-5 fw-bold me-1"></i>Download <em>C. briggsae</em> Example Data</a></div>
<h2 class="h5"><em>C. tropicalis</em></h2>
<div class="text-center mb-4"><a class="btn border-0" role="button" href="{{tropicalis_sample_data_url}}" target="_blank"><i class="bi bi-file-arrow-down-fill text-secondary fs-5 fw-bold me-1"></i>Download <em>C. tropicalis</em> Example Data</a></div>