<p>
    Please organize your data in a long format, where each row is an independent observation of one strain in one trait.
    The columns of the data set should be:
</p>
<ol>
    <li><strong>AssayNumber</strong> - a numeric indicator of independent assays.</li>
    <li><strong>Strain</strong> - one of the CaeNDR isotype reference strain names.</li>
    <li><strong>TraitName</strong> - a user-supplied name of a trait with no spaces (<em>e.g.</em> BroodSize).</li>
    <li><strong>Replicate</strong> - independent measures of a trait within one independent assay. You can think of this column as a numerical value for a technical replicate.</li>
    <li><strong>Value</strong> - the measured output of the trait (<em>e.g.</em> 297 for BroodSize).</li>
</ol>

<p>NA values will not be used in broad-sense heritability calculations.</p>

<p>To see an example, please download the sample report:</p>
<div class="d-grid"><a class="btn btn-secondary text-light" role="button" href="{{sample_data_url}}">Download Example Data</a></div>