{%- macro update_species_field(el, onchange=None) -%}
  {{el}}.classList.toggle('fst-italic', {{el}}.value);
  if ({{el}}.value && !{{el}}.options[0].value) {{el}}.options[0].disabled = true;
  {% if onchange %}{{ onchange }}({{el}}.value);{% endif %}
{%- endmacro -%}

{% macro render_species_field(field, onchange=None) %}
  {% set _ = kwargs.update({'aria-label': 'Choose species'})  %}
  {{ field(class="form-control", onchange=update_species_field('this', onchange), required=true, **kwargs) }}
  <script>
    // Reset the selector every time the page is shown
    // This includes from browser back/forward, and is necessary to reset species
    addEventListener("pageshow", (event) => {
      const selector = document.getElementById('{{ field.elementId }}');
      selector.value = '';
      {#/* toggle_input(selector.options[0], false); // Un-comment to disable "Choose" from start. Is this compatible with all browsers? */#}
    });
  </script>
{% endmacro %}

{% macro render_field(field, form_prefix=None, form_suffix=None, make_err_container=false) %}
  <div class="form-group {% if field.errors %}has-error{% endif %}">
    {{ field.label(class='form-label') }}
    {% if form_prefix or form_suffix %}
    <div class="input-group">
    {% endif %}
      {% if form_prefix %}<span class="input-group-addon">{{ form_prefix }}</span>{% endif %}
      {% if field.type == 'RadioField' %}
        {{ field(**kwargs) }}
      {% elif field.type == 'FileField' %}
        <div class="hstack gap-2 mb-4">
          {{ field(class_="form-control", required=kwargs.get('required', field.flags.required), **kwargs) }}
          {{ caller() }} {# Any HTML inside the {% call %} block is rendered here, inside this inner div #}
        </div>
      {% elif field.type == 'SpeciesSelectField' %}
        {{ render_species_field(field, **kwargs) }}
      {% else %}
        {{ field(class="form-control", required=kwargs.get('required', field.flags.required), **kwargs) }}
      {% endif %}
      {% if form_suffix %}<span class="input-group-addon">{{ form_prefix }}</span>{% endif %}
    {% if form_prefix or form_suffix %}
    </div>
    {% endif %}
    {% for error in field.errors %}
      <p class='text-danger'>{{ error|safe|e }}</p>
    {% endfor %}
    {% if make_err_container %}
      <p class='text-danger err-container'></p>
    {% endif %}
  </div>
{% endmacro %}



{% macro render_table(header, rows, table_class="") %}
    
<table class='table {{ table_class }}'>
    {% if header %}
        <thead>
            <tr>
                {% for col in header %}
                <td>{{ col }}</td>
                {% endfor %}
            </tr>
        </table>
    {% endif %}
    <tbody>
    {% for row in rows %}
        <tr>
        {% for col in row %}
                <td>{{ col }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endmacro %}



{% macro render_dataTable_actions(actions=[]) %}
<!-- Actions -->
<div class="d-flex flex-wrap justify-content-end col-12 text-end mb-3 optionsToolbar">
  {% for action in actions %}
    {% if not action.get('admin_only', False) or (action.get('admin_only', False) and session['is_admin']) %}
      <div class="{{ action.get('class', 'ps-3 pt-0') }}" style="{{ action.get('style', '') }}">
        <a href="{{ action.get('url') }}"><i class="{{ action.get('icon', '') }}" aria-hidden="true"></i>{{ action.get('label') }}</a>
      </div>
    {% endif %}
  {% endfor %}
</div>
<!-- /Actions -->
{% endmacro %}


{% macro render_dataTable_top_menu(pages=True, filter=True, actions=[]) %}
<div class="row dataTables-menu-top">

  {{ render_dataTable_actions(actions) }}

  <div class="col-md-2">
    {% if pages %}
    <form class="form-inline">
      <div class="form-group" style="text-align:center">
        <label for="page-length"> Show: </label>
        <select name="page-length" id="page-length" class="form-control">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="25" selected>25</option>
          <option value="100">100</option>
        </select>
      </div>
    </form>
    {% endif %}
  </div> {# /col-md-2 #}

  {#
  <div class="col-md-6">
    {% for action in actions %}
      {% if not action.get('admin_only', False) or (action.get('admin_only', False) and session['is_admin']) %}
        <a 
          class="{{ action.get('classes', '') }}"
          style="{{ action.get('style','') }}"
          href="{{ action.get('url') }}"
        >
        <span class="{{ action.get('icon', '') }}" aria-hidden="true"></span> 
        {{ action.get('label') }}
        </a>
      {% endif %}
    {% endfor %}
  </div>
  #}

  <div class="col-md-4 justify-content-end text-end">
    {% if filter %}
    <input id="filter" type="text" class="form-control pull-right" placeholder="Search">
    {% endif %}
  </div> {# /col-md-2 #}

</div> {# /row #}
{% endmacro %}
