{%- macro species_onchange(onchange=None) -%}
  this.classList.toggle('fst-italic', this.value);{% if onchange %} {{ onchange }}(this.value);{% endif %}
{%- endmacro -%}

{% macro render_species_field(field, onchange=None) %}
  {{ field(class="form-control", onchange=species_onchange(onchange), required=true, **kwargs) }}
{% endmacro %}

{% macro render_field(field, form_prefix=None, form_suffix=None) %}
  <div class="form-group {% if field.errors %}has-error{% endif %}">
    {{ field.label(class='form-label') }}
    {% if form_prefix or form_suffix %}
    <div class="input-group">
    {% endif %}
      {% if form_prefix %}<span class="input-group-addon">{{ form_prefix }}</span>{% endif %}
      {% if field.type == 'RadioField' %}
        {{ field(**kwargs) }}
      {% elif field.type == 'FileField' %}
        <div class="hstack gap-2 mb-4">
          {{ field(class_="form-control", required=kwargs.get('required', field.flags.required), **kwargs) }}
          {{ caller() }} {# Any HTML inside the {% call %} block is rendered here, inside this inner div #}
        </div>
      {% elif field.type == 'SpeciesSelectField' %}
        {{ render_species_field(field, **kwargs) }}
      {% else %}
        {{ field(class="form-control", required=kwargs.get('required', field.flags.required), **kwargs) }}
      {% endif %}
      {% if form_suffix %}<span class="input-group-addon">{{ form_prefix }}</span>{% endif %}
    {% if form_prefix or form_suffix %}
    </div>
    {% endif %}
    {% for error in field.errors %}
      <p class='text-danger'>{{ error|safe|e }}</p>
    {% endfor %}
  </div>
{% endmacro %}



{% macro render_table(header, rows, table_class="") %}
    
<table class='table {{ table_class }}'>
    {% if header %}
        <thead>
            <tr>
                {% for col in header %}
                <td>{{ col }}</td>
                {% endfor %}
            </tr>
        </table>
    {% endif %}
    <tbody>
    {% for row in rows %}
        <tr>
        {% for col in row %}
                <td>{{ col }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endmacro %}


{% macro render_dataTable_top_menu(pages=True, filter=True, actions=[]) %}

<div class="row dataTables-menu-top">
  <div class="col-md-2">
    {% if pages %}
    <form class="form-inline">
      <div class="form-group" style="text-align:center">
        <label for="page-length"> Show: </label>
        <select name="page-length" id="page-length" class="form-control">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="25" selected>25</option>
          <option value="100">100</option>
        </select>
      </div>
    </form>
    {% endif %}
  </div> {# /col-md-2 #}
  <div class="col-md-6">
    {% for action in actions %}
      {% if not action.get('admin_only', False) or (action.get('admin_only', False) and session['is_admin']) %}
        <a 
          class="{{ action.get('classes', '') }}"
          style="{{ action.get('style','') }}"
          href="{{ action.get('url') }}"
        >
        <span class="{{ action.get('icon', '') }}" aria-hidden="true"></span> 
        {{ action.get('label') }}
        </a>
      {% endif %}
    {% endfor %}
  </div>
  <div class="col-md-4">
    {% if filter %}
    <input id="filter" type="text" class="form-control pull-right" placeholder="Search">
    {% endif %}
  </div> {# /col-md-2 #}
</div> {# /row #}


{% endmacro %}
