<header>
  <nav class="navbar navbar-expand-lg fw-bold mt-1 mt-md-3">
    <div class="container-fluid pe-0">
      <div class="col-3 col-md-1 navbar-brand ms-5">
        <a href="/" aria-label="CaeNDR home"><img src="/static/img/caeNDRLogo.png" class="img-fluid" alt=""></a>
      </div>
      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav col-7 col-md-12 justify-content-center mt-3">
          <a class="nav-link {{'active' if request.blueprint == 'request_strains'}} mx-3"
            href="{{ url_for('request_strains.request_strains') }}">Request Strains</a>
          <div class="nav-item dropdown mx-3">
            <a class="nav-link dropdown-toggle {{'active' if '/tools/' in request.full_path}}" href="#"
              id="toolsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tools
            </a>
            <ul class="dropdown-menu" aria-labelledby="toolsDropdown">
              <li><a class="dropdown-item" href="{{ url_for('genome_browser.genome_browser')                   }}">
                  Genome Browser
                </a></li>
              <li><a class="dropdown-item" href="{{ url_for('variant_annotation.variant_annotation')           }}">
                  Variant
                  Annotation </a></li>
              <li><a class="dropdown-item" href="{{ url_for('genetic_mapping.genetic_mapping')                 }}">
                  Genetic Mapping
                </a></li>
              <li><a class="dropdown-item" href="{{ url_for('pairwise_indel_finder.pairwise_indel_finder')     }}">
                  Pairwise Indel
                  Finder</a></li>
              <li><a class="dropdown-item" href="{{ url_for('heritability_calculator.heritability_calculator') }}">
                  Heritability
                  Calculator </a></li>
                  <li><a class="dropdown-item" href="{{ url_for('phenotype_database.phenotype_database') }}">
                    Phenotype Database and Analysis </a></li>
            </ul>
          </div>
          <div class="nav-item dropdown mx-3">
            <a class="nav-link dropdown-toggle {{'active' if request.blueprint == 'data' or request.blueprint == 'data_releases'}}"
              href="#" id="dataDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Data
            </a>
            <ul class="dropdown-menu" aria-labelledby="dataDropdown">
              <li><a class="dropdown-item" href="{{ url_for('data_releases.data_releases') }}"> Data Releases </a></li>
              <li><a class="dropdown-item" href="{{ url_for('data.protocols')     }}"> Protocols </a></li>
              <li><a class="dropdown-item" href="https://docs.google.com/forms/d/e/1FAIpQLSfO0m4UMzTSz79weA2ICkuIHDYnZegqXly4SA15_w3FMuyocQ/viewform" target="_blank"> Submit A Strain <i class="bi bi-box-arrow-right" aria-hidden="true"></i></a><span class="visually-hidden">Link opens in a new tab</span></li>
            </ul>
          </div>
          <div class="nav-item dropdown mx-3">
            <a class="nav-link dropdown-toggle {{'active' if request.blueprint == 'about'}}" href="#" id="aboutDropdown"
              role="button" data-bs-toggle="dropdown" aria-expanded="false">
              About Us
            </a>
            <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
              <li><a class="dropdown-item" href="{{ url_for('about.about')      }}"> About CaeNDR </a></li>
              <li><a class="dropdown-item" href="{{ url_for('about.people')     }}"> People </a></li>
              <li><a class="dropdown-item" href="{{ url_for('about.cited_by')   }}"> Cited By </a></li>
              <li><a class="dropdown-item" href="{{ url_for('about.funding')    }}"> Funding </a></li>
              <li><a class="dropdown-item" href="{{ url_for('about.statistics') }}"> Statistics </a></li>
              <li><a class="dropdown-item" href="{{ url_for('about.contact_us') }}"> Contact Us </a></li>
            </ul>
          </div>
          <div class="nav-item dropdown mx-3">
            <a class="nav-link dropdown-toggle {{'active' if request.blueprint == 'get_involved'}}" href="#"
              id="getInvolvedDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Get Involved
            </a>
            <ul class="dropdown-menu" aria-labelledby="getInvolvedDropdown">
              <li><a class="dropdown-item" href="{{ url_for('get_involved.donate')             }}"> Donate </a></li>
              <li><a class="dropdown-item" href="{{ url_for('get_involved.citizen_scientists') }}"> Citizen Scientists
                </a></li>
            </ul>
          </div>
          <a class="nav-link mx-3 {{'active' if '/help' in request.full_path}}"
            href="{{ url_for('primary.help_item') }}">FAQs</a>
          <!-- User Menu -->
          <div class="nav-item dropdown mx-3 my-3 my-md-0">
            <a class="dropdown-toggle rounded-circle userMenu" data-bs-toggle="dropdown" id="userMenuDropDown"
              data-bs-auto-close="false" aria-expanded="false" aria-label="User Menu"><i class="bi bi-person-fill lh-1"
                aria-hidden="true"></i></a>
            <div class="dropdown-menu p-3" aria-labelledby="userMenuDropDown">
              {% if session["is_logged_in"] %}
              <div class="vstack gap-3 px-1 py-2">
                <a href="{{ url_for('user.user_account') }}"><i class="bi bi-person-fill userMenuIcon"
                    aria-hidden="true"></i>My
                  Account</a>
                <a href="{{ url_for('user.user_results') }}"><i class="bi bi-journal userMenuIcon"
                    aria-hidden="true"></i>My
                  Results</a>
                <a href="{{ url_for('auth.logout') }}"><i class="bi bi-box-arrow-right userMenuIcon"
                    aria-hidden="true"></i> Sign
                  Out</a>
                {% if session["is_admin"] %}
                <hr class="dropdown-divider">
                <a href="{{ url_for('admin.admin') }}"><i class="bi bi-gear-fill userMenuIcon"
                    aria-hidden="true"></i>Admin</a>
                {% endif %}
              </div>
              {% else %}
              <div class="d-grid mb-3">
                <a class="btn btn-secondary text-light mb-3" href="{{ url_for('auth.choose_login') }}">Login</a>
                <p class="text-center"><a href="{{ url_for('auth.choose_login') }}">Sign Up</a></p>
              </div>
              {% endif %}
            </div>
          </div>
          <!-- /User Menu -->
          <!-- Cart -->
          <div class="nav-item mx-3">
            <a href="{{ url_for('request_strains.order_page_index') }}" class="rounded-circle userMenu"
              aria-label="Cart">
              <i class="bi bi-cart-fill lh-1" aria-hidden="true"></i>
            </a>
          </div>
          <!-- /Cart -->
        </div>
      </div>
    </div>
  </nav>
</header>