<header>

  <div class="row nu-brand-row">
    <div class="container-fluid">
    <div class="col-lg-12 col-xs-12">
      <a href="https://northwestern.edu"><img class="nu-brand-img" src="/static/img/northwestern-logo.svg" alt="Northwestern University logo"></a>
    </div> {# /col-md-2 #}
  </div>{# /container-fluid #}
  </div> {# /row #}


  <div class="row cendr-brand-row">
    <div class="container-fluid">
    <div class="col-lg-12 col-xs-12 cendr-brand-txt">
      <a href="/"> <img width="45px" src="/static/img/cendr-logo-white.png" alt="CeNDR logo"> CaeNDR (v2) </a>
    </div> {# /col-md-2 #}
  </div>{# /container-fluid #}
  </div> {# /row #}


  <nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation" style="z-index:5000;{% if config.DEBUG %}background-color:blue;{% endif %}">
  
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only"> Toggle navigation </span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-left">


          <!-- <li><a href="{{ url_for('strains.strains_list')}}"> Isotype List </a></li> -->
          <!-- <li><a href="{{ url_for('strains.strains_map')}}"> Strain Map </a></li> -->
          <!-- <li><a href="{{ url_for('strains.strains_issues')}}"> Strain Issues </a></li> -->
          <!-- <li><a href="{{ url_for('strains.external_links')}}"> External Links </a></li> -->
          <li class="nav-item">
            <a href="{{ url_for('strains.strains_catalog') }}" class="nav-link" role="button" aria-haspopup="true" aria-expanded="false"> Request Strains </a>
          </li>


          <li class="dropdown">
            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Tools <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('genome_browser.genome_browser')                   }}"> Genome Browser </a></li>
              <li><a href="{{ url_for('variant_annotation.variant_annotation')           }}"> Variant Annotation </a></li>
              <li><a href="{{ url_for('genetic_mapping.genetic_mapping')                 }}"> Genetic Mapping </a></li>
              <li><a href="{{ url_for('pairwise_indel_finder.pairwise_indel_finder')     }}"> Pairwise Indel Finder </a></li>
              <li><a href="{{ url_for('heritability_calculator.heritability_calculator') }}"> Heritability Calculator </a></li>
            </ul>
          </li>


          <li class="dropdown">
            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Data <span class="caret"></span></a>
            <ul class="dropdown-menu">

              <!-- <li><a href="{{ url_for('data_releases.data_releases') }}"> Genomic Data </a></li> -->
              <li><a> Download Data </a></li>

              <li><a href="{{ url_for('data.protocols')     }}"> Protocols </a></li>
              <li><a href="{{ url_for('data.submit_strain') }}"> Submit A Strain </a></li>
            </ul>
          </li>


          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> About Us <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('about.about')      }}"> About CeNDR </a></li>
              <li><a href="{{ url_for('about.people')     }}"> People </a></li>
              <li><a href="{{ url_for('about.cited_by')   }}"> Cited By </a></li>
              <li><a href="{{ url_for('about.funding')    }}"> Funding </a></li>
              <li><a href="{{ url_for('about.statistics') }}"> Statistics </a></li>
              <li><a href="{{ url_for('about.contact_us') }}"> Contact Us </a></li>
            </ul>
          </li>


          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Get Involved <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('get_involved.donate')             }}"> Donate </a></li>
              <li><a href="{{ url_for('get_involved.citizen_scientists') }}"> Citizen Scientists </a></li>
            </ul>
          </li>


          <li class="nav-item">
            <a href="{{ url_for('primary.help_item') }}" class="nav-link" role="button" aria-haspopup="true" aria-expanded="false"> FAQs </a>
          </li>


      {% if session["is_logged_in"] %}

        {% if session["is_admin"] %}
          <li class="dropdown">
            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Admin <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('admin_users.admin_users') }}" class='nav-link' role='button'> Users </a></li>
              <li><a href="{{ url_for('admin_profile.admin_profile') }}" class='nav-link' role='button'> Profile Pages </a></li>
              <li><a href="{{ url_for('admin.admin_publications_sheet') }}" class='nav-link' role='button'> Publications Sheet </a></li>
              <li><a href="{{ url_for('admin_content.admin_content') }}" class='nav-link' role='button'> Content </a></li>
              <li><a href="{{ url_for('admin.admin_strain_sheet') }}" class='nav-link' role='button'> Strain Sheet </a></li>
              <li><a href="{{ url_for('admin_tools.admin_tools') }}" class='nav-link' role='button'> Tool Versions </a></li>
              <li><a href="{{ url_for('admin_gene_browser_tracks.admin_gene_browser_tracks') }}" class='nav-link' role='button'> Gene Browser Tracks </a></li>
              <li><a href="{{ url_for('admin_etl_op.admin_etl_op') }}" class='nav-link' role='button'> ETL Operations </a></li>
              <li><a href="{{ url_for('admin_dataset.admin_dataset') }}" class='nav-link' role='button'> Dataset Releases </a></li>
              <li><a href="{{ url_for('system.system_dashboard') }}" class='nav-link' role='button'> System </a></li>
            </ul>
          </li>
        {% endif %}
          
          <li class="dropdown">
            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Account <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('user.user_profile') }}" class='nav-link' role='button'> My Profile </a></li>
              <li><a href="{{ url_for('auth.logout') }}" class='nav-link' role='button'> Logout </a></li>
            </ul>
          </li>

      {% else %}
          <li class="nav-item">
            <a href="{{ url_for('auth.choose_login') }}" class='nav-link' role='button'> Login </a>
          </li>

      {% endif %}

        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div id="snackbar">
    <div id="messages">
    {% for category, msg in get_flashed_messages(with_categories=true) %}
      <div class="flash-{{ category }} alert alert-dismissable alert-{{ category }} flash-banner">
        <p class="snackbar-msg-txt snackbar-msg-txt-{{ category }}">{{ msg }}</p>
      </div>
    {% endfor %}
    </div>
  </div>

</header>
