<p>
    This web-based tool is designed to compare any two wild strains of the selected species for insertion-deletion
    (indel) variants that can be genotyped using PCR.
    These molecular markers can be used to follow each respective genetic background in crosses.
</p>
<p>
    Enter a specific genomic region. The browser will show indel variants between your two chosen strains.
    The table will show regions to search for primers. Primers might not be found flanking some indel sites.
    Click on additional indel sites to find one that has good quality primers.
    For each of these indels, you can search for primers to genotype them between your two chosen strains
    using differential PCR product sizes.
    Primers are designed to avoid natural variants in either strain to ensure that the PCR works in both
    genetic backgrounds.
</p>
<p>
    The browser also shows divergent regions, where the reference genome and some wild isolates have sequences
    with many variants.
    These regions should be avoided because indel calls are less reliable and high levels of variation will
    make primer searches more error-prone.
</p>