<div class="d-flex justify-content-center">
    <div class="col-4">
        <strong>Capture Date</strong>
        <p id="captureDate"></p>
    </div>
    <div class="col-4">
        <strong>Upload Date</strong>
        <p id="createdOn"></p>
    </div>
    <div class="col-4">
        <strong>Last Updated</strong>
        <p id="modifiedOn"></p>
    </div>
</div>
<div>
    <strong>Species</strong>
    <p><em id="species"></em></p>
    <strong>WormBaseGeneID</strong>
    <p id="wbgeneID"></p>
    <strong>Source Lab</strong>
    <p id="sourceLab"></p>
    <strong>Institution</strong>
    <p id="institution"></p>
    <strong>Submitted By</strong>
    <p id="submittedBy"></p>
    <strong>Full Description</strong>
    <p id="descriptionLong"></p>
    <strong>Protocol</strong>
    <p id="protocol"><a href="#" target="_blank"></a></p>
    <strong>Publication</strong>
    <p id="publication"><a href="#" target="_blank"></a></p>
    <strong>Categories</strong>
    <div id="tags" class="d-flex flex-wrap justify-content-start"></div>
    <div class="mt-5">
        <strong>Values</strong>
        <div class="p-3 my-4 border border-1 rounded overflow-auto" style="height:30vh">
            <table class="table" id="values">
                <thead>
                    <tr>
                        <th scope="col">Strain</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>