{% block custom_head %}
<style>
    #filter {
        height: 40px;
        overflow-x: auto;
    }
    #filter .btn {
        font-size: 0.5rem;
        padding: 0.25rem;
    }

</style>
{% endblock %}
<nav>
    <div class="nav nav-tabs border-0" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
            role="tab" aria-controls="nav-home" aria-selected="true">Traits</button>
        <button class="nav-link" id="nav-zheng-tab" data-bs-toggle="tab" data-bs-target="#nav-zheng" type="button"
            role="tab" aria-controls="nav-zheng" aria-selected="false">Zheng et al. Traits</button>
    </div>
</nav>
<div class="tab-content py-2" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="py-2">
            <p><i class="bi bi-filter"></i> Filter:</p>
            <div class="d-flex m-2 p-1 w-50 border border-dark rounded" id="filter"></div>
        </div>
        <div class="table-responsive">
            <table class="table accordion p-0 text-center" id="tableAccordion">
                <caption class="visually-hidden">A list of phenotype traits.</caption>
                <thead class="table-secondary align-middle">
                    <tr>
                        <th scope="col" class="col-1 py-4">Species</th>
                        <th scope="col" class="col-1">Trait</th>
                        <th scope="col" class="col-1">Short Description</th>
                        <th scope="col" class="col-1">Source Lab</th>
                        <th scope="col" class="col-1">Upload Date</th>
                        <th scope="col" class="col-1">Categories</th>
                        <th scope="col" class="col-1">Analyze</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider align-middle">
                    {% for tr in traits %}
                    <tr class="py-3 dislayedRow">
                        <th>
                            <a href="#" class="text-dark fw-normal" data-bs-toggle="collapse"
                                data-bs-target="#collapse-{{loop.index}}" aria-expanded="false" aria-controls="collapse-{{loop.index}}"><i
                                    class="bi bi-chevron-right" aria-hidden="true"></i><em>{{tr.species|capitalize|replace('_', '. ')}}</em></a>
                        </th>
                        <td id="accordionHeading-{{loop.index}}"><strong>{{tr.trait_name_caendr}}</strong></td>
                        <td>{{tr.description_short}}.</td>
                        <td>{{tr.source_lab}}</td>
                        <td>{{tr.created_on}}</td>
                        {% if tr.tags is none %}
                            <td></td>
                        {% else %}
                            <td>
                                {% for tag in tr.tags %}
                                <a class="btn btn-primary rounded-pill text-white fw-normal p-1 my-1 tagButton"
                                    id="tag-{{loop.index}}" data-value="{{tag}}" role="button" href="#">{{tag}}</a>
                                {% endfor %}
                            </td>
                        {% endif %}
                        <td class="optionsToolbar">
                            <div class="ps-3 pt-0"><a href="{{url_for("phenotype_database.submit_start", trait=tr.trait_name_caendr)}}"><i class="bi bi-arrow-right-circle-fill"
                                        aria-hidden="true"></i>Analyze</a></div>
                        </td>
                    </tr>
                    <tr id="collapse-{{loop.index}}" class="text-start accordion-collapse collapse"
                        aria-labelledby="accordionHeading-{{loop.index}}" data-bs-parent="#tableAccordion">
                        <td colspan="7">
                            <div class="ps-5 p-3">
                                <h3 class="h5 text-dark">Full Description</h3>
                                <p>{{tr.description_long}}</p>
                            </div>
                            <div class="d-flex justify-content-end pe-5 optionsToolbar">
                                <a data-bs-toggle="offcanvas" id="traitDetails" data-value="{{tr.trait_name_caendr}}" data-bs-target="#offcanvas1"
                                    aria-controls="offcanvas1" href=" #"><i class="bi bi-list-ul"
                                        aria-hidden="true"></i>View Full Details</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <nav class="d-flex justify-content-end" aria-label="Phenotype database table page navigation">
            <ul class="pagination">
                <li class="page-item">
                    {% if pagination.has_prev %}
                        <a class="page-link" href="{{ url_for('phenotype_database.phenotype_database', page=pagination.prev_num) }}">Previous</a>
                    {% else %}
                    <a class="page-link disabled" href="#" tabindex="-1">Previous</a>
                </li>
                {% endif %}
                {% for page_num in pagination.iter_pages() %}
                    {% if page_num %}
                        {% if page_num == pagination.page %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">{{ page_num }}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="{{ url_for('phenotype_database.phenotype_database', page=page_num) }}">{{ page_num }}</a>
                            </li>
                        {% endif %}
                    {% else %}
                        <li class="page-item"><a class="page-link" href="#" tabindex="-1">...</a></li>
                    {% endif %}
                {% endfor %}
                <li class="page-item">
                {% if pagination.has_next %}
                    <a class="page-link" href="{{ url_for('phenotype_database.phenotype_database', page=pagination.next_num) }}">Next</a>
                {% else %}
                    <a class="page-link disabled" href="#" tabindex="-1">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="tab-pane fade" id="nav-zheng" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="table-responsive">
            <table class="table p-0 text-center w-100" id="zhengTraits">
                <caption class="visually-hidden">A list of Zheng et al. traits.</caption>
                <thead class="table-secondary align-middle">
                    <tr>
                        <th scope="col" class="py-4 text-center">Species</th>
                        <th scope="col" class="text-center">Trait</th>
                        <th scope="col" class="text-center">Description</th>
                        <th scope="col" class="text-center">Upload Date</th>
                        <th scope="col" class="text-center">View Full Details</th>
                        <th scope="col" class="text-center">Analyze</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider align-middle">
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end offcanvasPhenotype" tabindex="-1" id="offcanvas1"
    aria-labelledby="offcanvas1Label">
    <div class="offcanvas-header">
        <h5 id="offcanvas1Label"></h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body p-4">
        {% include "_includes/phenotype-offcanvas-content.html" %}
    </div>
</div>

{% block script %}
<script>
    $(document).ready(function() {
        const zhangTable = $('#zhengTraits').DataTable( {
            "processing": true,
            "serverSide": true,
            "ajax": "/tools/phenotype-database/traits-zhang",
            "ordering": false,
            "columns": [
                {
                    "data": "Species",
                    "render": function(data, type, row){
                        return row.species.replace('c_', 'C. ').italics()
                    }
                },
                {"data": "trait_name_caendr"},
                {"data": "description_short"},
                {
                    "data": "Upload Date",
                    "render": function(data, type, row) {
                        return formatDate(row.created_on)
                    }
                },
                {
                    "data": "View Full Details",
                    "render": function(data, type, row) {
                        const d = JSON.stringify(row)
                        return `<td class="optionsToolbar">
                            <a id="details" data-value='${d}' data-bs-toggle="offcanvas" data-bs-target="#offcanvas1" aria-controls="offcanvas1" 
                            href="#"><i class="bi bi-list-ul" aria-hidden="true"></i>Full Details</a>
                            </td>`
                        }
                },
                {
                    "data": "Analyze",
                    "render": function(data, type, row) {
                        const trait_name = row.trait_name_caendr
                        let url = '{{ url_for("phenotype_database.submit_start", trait=trait_name)}}'
                        url += trait_name
                        return `<td class="optionsToolbar">
                                <div class="ps-3 pt-0"><a href=${url}><i class="bi bi-arrow-right-circle-fill"
                                            aria-hidden="true"></i>Analyze</a></div>
                            </td>`
                        }
                },
            ]
        });
    })


    $(document).on('click','#details', function() {
        const trait = $(this).data('value')
        fillOutModal(trait)
    })


    $(document).on('click','#traitDetails', function() {
        const traitName = $(this).data('value')

        $.getJSON('/tools/phenotype-database/traits-list', function(data) {
            const traitObj = data.find(t => t.trait_name_caendr === traitName)
            fillOutModal(traitObj)
        })

    })

    $("[id^='tag']").on('click', function() {
        const v = $(this).data('value') 
        $(`[data-value=${v}]`).addClass('disabled')
        const btn = `<div>
                        <div class="btn btn-sm btn-primary rounded-pill text-white fw-normal">${v}
                        <i class="bi bi-x-circle text-white btn p-1 m-0" data-value="${v}" id="remove-${v}"></i>
                        </div>
                     </div>`
        $('#filter').append(btn)
        filterTable()
    })

    $(document).on('click', "[id^='remove']", function() {
        $(this).parent().parent().remove()
        const v = $(this).data('value') 
        $(`[data-value=${v}]`).removeClass('disabled')
        filterTable()
    })

    // The function filters table by selected tags from "Categories" field
    function filterTable() {
        const keywords = $('#filter i').map(function(){
            return $(this).data('value')
        }).get()
        if (!keywords.length) {
            $('#tableAccordion tbody>.dislayedRow').show()
        } else {
            $('#tableAccordion tbody>tr').hide().each(function() {
            const val = $(this).find('.tagButton').data('value')
            if (keywords.indexOf(val) !== -1) {
                $(this).show()
            }
            })
        }
    }

    function fillOutModal(trait) {
        $('#offcanvas1Label').text(trait.trait_name_caendr)
        manageVal(trait.capture_date, '#captureDate', true)
        manageVal(trait.created_on, '#createdOn', true)
        manageVal(trait.modified_on, '#modifiedOn', true)
        manageVal(trait.species, '#species')
        manageVal(trait.wbgene_id, '#wbgeneID')
        manageVal(trait.source_lab, '#sourceLab')
        manageVal(trait.institution, '#institution')
        manageVal(trait.submitted_by, '#submittedBy')
        manageVal(trait.description_long, '#descriptionLong')
        manageVal(trait.protocols, '#protocol', false, true)
        manageVal(trait.publication, '#publication', false, true)
        $('#tags').empty()
        if (trait.tags !== null || (trait.tags && trait.tags.length)) {
            $('#tags').prev().show()
            $('#tags').append(displayTags(trait.tags))
        } else {
            $('#tags').prev().hide()
        }
        $('#values > tbody').empty()
        if (trait.phenotype_values.length) {
            $('#values').parent().prev().show()
            $('#values').parent().show()
            $('#values > tbody').append(populateValues(trait.phenotype_values))
        } else {
            $('#values').parent().prev().hide()
            $('#values').parent().hide()
        }
    }

    // The function populates phenotype values in the table inside the side bar.
    function populateValues(arr) {
        let result = ''
        for (let i = 0; i < arr.length; i++) {
            result += `<tr><td>${arr[i].strain_name}</td><td>${arr[i].trait_value}</td></tr>`
        }
        return result
    }

    // The function populates Categories field in the side bar
    function displayTags(arr) {
        if (arr == null) return;
        let result = ''
        for (tag of arr) {
            result += `<div class="col-4">
                        <a class="btn btn-primary rounded-pill text-white fw-normal p-1 my-1 tagButton" role="button" href="#">${tag}</a>
                       </div>`
        }
        return result
    }

    function formatDate(d) {
        if(d === null) return 'N/A'
        const date = new Date(d)
        return `${date.getFullYear()}/${date.getMonth()}/${date.getDate()}`
    }

    // The function manages the fields in the side bar. 
    // If a field has a value the field will be displayed, if not - it will be hidden
    function manageVal(d, id, isDate=false, isLink=false) {
        if (id === '#species') {
            d = d[0].toUpperCase() + '. ' + d.slice(2)
        }
        const hasValue = !(d === null || d === 'N/A' || !d.length )
        if (hasValue && isDate) {
            $(id).parent().show()
            $(id).text(formatDate(d))
        } else if (!hasValue && isDate) {
            $(id).parent().hide()
        } else if (hasValue && isLink) {
            $(id).prev().show()
            $(`${id} > a`).text(d)
        } else if (!hasValue && isLink) {
            $(`${id} > a`).text('')
            $(id).prev().hide()
        } else if (hasValue && !isDate && !isLink) {
            $(id).prev().show()
            $(id).text(d)
        } else if (!hasValue && !isDate && !isLink) {
            $(id).text('')
            $(id).prev().hide()
        }
    }

</script>
{% endblock %}
