<div class="d-flex justify-content-center">
    <div class="col-4">
        <strong>Capture Date</strong>
        <p>01/01/23</p>
    </div>
    <div class="col-4">
        <strong>Upload Date</strong>
        <p>01/01/23</p>
    </div>
    <div class="col-4">
        <strong>Last Updated</strong>
        <p>01/01/23</p>
    </div>
</div>
<div>
    <strong>Species</strong>
    <p><em>C. elegans</em></p>
    <strong>Long Name</strong>
    <p>Lorem ipsum dolor</p>
    <strong>WormBaseGeneID</strong>
    <p>N/A</p>
    <strong>Source Lab</strong>
    <p>ECA</p>
    <strong>Submitted By</strong>
    <p>Username1234</p>
    <strong>Institution</strong>
    <p>Johns Hopkins University</p>
    <strong>Full Description</strong>
    <p>Lorem ipsum dolor sit amet consectetur. Gravida tincidunt id amet fermentum urna egestas. Fermentum
        mattis pellentesque massa mi id sed. Volutpat duis diam venenatis morbi libero et leo natoque
        lectus. Risus lorem amet cursus aliquam pellentesque proin diam natoque. Molestie purus id ornare
        duis pharetra. Elementum nulla cursus maecenas facilisis nunc amet at tellus mattis. Congue molestie
        pellentesque dignissim ac. Arcu sed tristique justo lectus ullamcorper nibh tempor dolor. Tempus
        nisi aliquam eget posuere a. Semper pulvinar id urna mollis habitant scelerisque egestas enim.
        Pretium non nunc ut ac tincidunt et nulla urna. Dignissim egestas elementum tellus non. Venenatis
        urna pharetra non eget. Commodo augue dolor id cum in pharetra velit quisque. Eu condimentum dis
        venenatis neque id pharetra felis id. Sed mattis quam hac tellus dolor. Augue cursus.</p>
    <strong>Protocol</strong>
    <p><a href="#" target="_blank">https://protocols.io/12345</a></p>
    <strong>Publication</strong>
    <p><a href="#" target="_blank">https://exampleurl.com/12345</a></p>
    <strong>Categories</strong>
    <div class="d-flex flex-wrap justify-content-start">
        <div class="col-4">
            <a class="btn btn-primary rounded-pill text-white fw-normal p-1 my-1 tagButton" role="button"
                href="#">long tag name</a>
        </div>
        <div class="col-4">
            <a class="btn btn-primary rounded-pill text-white fw-normal p-1 my-1 tagButton" role="button"
                href="#">long tag name</a>
        </div>
        <div class="col-4">
            <a class="btn btn-primary rounded-pill text-white fw-normal p-1 my-1 tagButton" role="button"
                href="#">long tag name</a>
        </div>
        <div class="col-4">
            <a class="btn btn-primary rounded-pill text-white fw-normal p-1 my-1 tagButton" role="button"
                href="#">long tag name</a>
        </div>
    </div>
    <div class="mt-5">
        <strong>Values</strong>
        <div class="p-3 my-4 border border-1 rounded overflow-auto" style="height:30vh">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Strain</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ABC123</td>
                        <td>12.34567890</td>
                    </tr>
                    <tr>
                        <td>ABC123</td>
                        <td>12.34567890</td>
                    </tr>
                    <tr>
                        <td>ABC123</td>
                        <td>12.34567890</td>
                    </tr>
                    <tr>
                        <td>ABC123</td>
                        <td>12.34567890</td>
                    </tr>
                    <tr>
                        <td>ABC123</td>
                        <td>12.34567890</td>
                    </tr>
                    <tr>
                        <td>ABC123</td>
                        <td>12.34567890</td>
                    </tr>
                    <tr>
                        <td>ABC123</td>
                        <td>12.34567890</td>
                    </tr>
                    <tr>
                        <td>ABC123</td>
                        <td>12.34567890</td>
                    </tr>
                    <tr>
                        <td>ABC123</td>
                        <td>12.34567890</td>
                    </tr>
                    <tr>
                        <td>ABC123</td>
                        <td>12.34567890</td>
                    </tr>
                    <tr>
                        <td>ABC123</td>
                        <td>12.34567890</td>
                    </tr>
                    <tr>
                        <td>ABC123</td>
                        <td>12.34567890</td>
                    </tr>
                    <tr>
                        <td>ABC123</td>
                        <td>12.34567890</td>
                    </tr>
                    <tr>
                        <td>ABC123</td>
                        <td>12.34567890</td>
                    </tr>
                    <tr>
                        <td>ABC123</td>
                        <td>12.34567890</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>