<div class="d-flex">
    <div class="col-4">
        <h2 class="h6 text-dark mb-3">Capture Date</h2>
        <p id="captureDate"></p>
    </div>
    <div class="col-4">
        <h2 class="h6 text-dark mb-3">Upload Date</h2>
        <p id="createdOn"></p>
    </div>
    <div class="col-4">
        <h2 class="h6 text-dark mb-3">Last Updated</h2>
        <p id="modifiedOn"></p>
    </div>
</div>
<div>
    <h2 class="h6 text-dark mb-3">Species</h2>
    <p><em id="species"></em></p>
    <h2 class="h6 text-dark mb-3">WormBaseGeneID</h2>
    <p id="wbgeneID"></p>
    <h2 class="h6 text-dark mb-3">Source Lab</h2>
    <p id="sourceLab"></p>
    <h2 class="h6 text-dark mb-3">Institution</h2>
    <p id="institution"></p>
    <h2 class="h6 text-dark mb-3">Submitted By</h2>
    <p id="submittedBy"></p>
    <h2 class="h6 text-dark mb-3">Full Description</h2>
    <p id="descriptionLong"></p>
    <h2 class="h6 text-dark mb-3">Protocol</h2>
    <p id="protocol"><a href="#" target="_blank"></a></p>
    <h2 class="h6 text-dark mb-3">Publication</h2>
    <p id="publication"><a href="#" target="_blank"></a></p>
    <h2 class="h6 text-dark mb-3">Categories</h2>
    <div id="tags" class="d-flex flex-column px-4"></div>
    <div class="mt-5">
        <h2 class="h6 text-dark mb-3">Values</h2>
        <div class="my-4 border border-1 rounded overflow-auto" style="height:30vh">
            <table class="table table-hover mb-0" id="values">
                <thead class="table-secondary" style="position:sticky;top:0;">
                    <tr>
                        <th scope="col">Strain</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>