{%- macro render_trait_db_button( id, text, target='#phenotypeDBModal' ) %}
  <div>
    <div class="text-bg-secondary text-white text-center rounded-circle pt-2 phenotypeIcon">
      <i class="bi bi-pencil-fill" aria-hidden="true"></i></a>
    </div>
    <a class="text-dark fw-bold" data-bs-toggle="modal" data-bs-target="{{ target }}"
        onclick="this.dispatchEvent(new CustomEvent('phenotype-db-modal-open', { bubbles: true, detail: '{{id}}' }));"
        href="#">{{ text }}</a>
  </div>
{%- endmacro %}


{%- macro render_select_trait(id) %}
<div class="col d-flex justify-content-center align-items-center h-100 text-bg-light border-0 rounded-2 shadow-sm p-3 pe-2 mb-5">

  {# Selector Body (Empty) #}
  <div class="col" id="{{id}}-container-empty">
    <div class="text-center">
      {{ render_trait_db_button(id, 'Select a database trait') }}
    </div>
  </div>
  {# /Selector Body (Empty) #}

  {# Selector Body (Trait Selected) #}
  <div id="{{id}}-container-selected" class="d-none align-self-start">

    {# Button(s) #}
    <div class="d-flex justify-content-end">
      <div class="d-grid gap-2">
        {{ render_trait_db_button(id, 'Select a different database trait') }}
      </div>
    </div>
    {# /Buttons #}

    {# Selector #}
    <div id="{{id}}-selector" class="mt-5">
      <h3 class="h5">Species:</h3>
      <p><em id="{{id}}-species"></em></p>
      <h3 class="h5">Trait Name:</h3>
      <p id="{{id}}-trait-name"></p>
      <h3 class="h5">Short Description:</h3>
      <p id="{{id}}-trait-desc"></p>
    </div>
    {# /Selector #}

  </div>
  {# /Selector Body (Trait Selected) #}
</div>
{%- endmacro %}


{%- macro select_trait(id, trait_var=undefined, trait_obj=undefined) %}
  document.getElementById("{{id}}-container-empty"   ).classList.toggle('d-none', {{ 'true'  if trait_var is defined or trait_obj is defined else 'false' }});
  document.getElementById("{{id}}-container-selected").classList.toggle('d-none', {{ 'false' if trait_var is defined or trait_obj is defined else 'true'  }});
  {%- if not trait_var and not trait_obj %}
  document.getElementById("{{id}}-selector").removeAttribute('data-trait');
  document.getElementById("{{id}}-selector").removeAttribute('data-set');
  {%- elif trait_obj %}
  document.getElementById("{{id}}-selector").dataset.trait = "{{trait_obj.name}}";
  document.getElementById("{{id}}-selector").dataset.set   = "{{trait_obj.dataset}}";
  document.getElementById("{{id}}-species").innerText      = "{{trait_obj.file.species.short_name}}"
  document.getElementById("{{id}}-trait-name").innerText   = "{{trait_obj.name}}";
  document.getElementById("{{id}}-trait-desc").innerText   = "{{trait_obj.file.description_short or trait_obj.file.description_long}}";
  {%- else %}
  document.getElementById("{{id}}-selector").dataset.trait = {{trait_var}}.trait_name_caendr;
  document.getElementById("{{id}}-selector").dataset.set   = {{trait_var}}.dataset;
  document.getElementById("{{id}}-trait-name").innerText   = {{trait_var}}.trait_name_caendr;
  document.getElementById("{{id}}-trait-desc").innerText   = {{trait_var}}.description_short;
  try {
    document.getElementById("{{id}}-species").innerText    = species_list[{{trait_var}}.species].short_name;
  } catch {
    document.getElementById("{{id}}-species").innerText    = {{trait_var}}.species;
  }
  {%- endif %}
{%- endmacro %}


{%- macro render_trait_name_multiline(name_1, name_2, name_3, bold=true) %}
  {%- if bold %}
  <strong>{{ name_1 }}</strong>
  {%- else %}
  <span>{{ name_1 }}</span>
  {%- endif %}
  {%- if name_2 %}
  <br /><span class="mb-0">{{ name_2 }}</span>
  {%- endif %}
  {%- if name_3 %}
  <br /><em>{{ name_3 }}</em>
  {%- endif %}
{%- endmacro %}
