{%- macro render_trait_db_button( target='#phenotypeDBModal' ) %}
  <div>
    <div class="text-bg-secondary text-white text-center rounded-circle pt-2 phenotypeIcon">
      <i class="bi bi-pencil-fill" aria-hidden="true"></i></a>
    </div>
    <a class="text-dark fw-bold" data-bs-toggle="modal" data-bs-target="{{ target }}"
        href="#">Select a database trait</a>
  </div>
{%- endmacro %}


{%- macro render_select_trait(id) %}
<div class="card text-bg-light border-0 rounded-2 shadow-sm p-3 pe-2 me-md-5 mb-5" style="min-height:15em;">

  {# Selector Body (Empty) #}
  <div id="{{id}}-container-empty">
    <div class="pt-5 text-center p-5">
      {{ render_trait_db_button() }}
    </div>
  </div>
  {# /Selector Body (Empty) #}

  {# Selector Body (Trait Selected) #}
  <div id="{{id}}-container-selected" class="d-none">

    {# Button(s) #}
    <div class="d-flex justify-content-end">
      <div class="d-grid gap-2">
        {{ render_trait_db_button() }}
      </div>
    </div>
    {# /Buttons #}

    {# Selector #}
    <div id="{{id}}-selector" class="mt-3">
      <p><strong>Species:</strong></p>
      <p><i id="{{id}}-species"></i></p>
      <p><strong>Trait Name:</strong></p>
      <p id="{{id}}-trait-name"></p>
      <p><strong>Short Description:</strong></p>
      <p id="{{id}}-trait-desc"></p>
    </div>
    {# /Selector #}

  </div>
  {# /Selector Body (Trait Selected) #}
</div>
{%- endmacro %}


{%- macro select_trait(id, trait_var=null, trait_file=null) %}
  document.getElementById("{{id}}-container-empty"   ).classList.toggle('d-none', {{ 'false' if trait_var == null and trait_file == null else 'true'  }});
  document.getElementById("{{id}}-container-selected").classList.toggle('d-none', {{ 'true'  if trait_var == null and trait_file == null else 'false' }});
  {%- if not trait_var and not trait_file %}
  document.getElementById("{{id}}-selector").dataset.trait = null;
  {%- elif trait_file %}
  document.getElementById("{{id}}-selector").dataset.trait = "{{trait_file.name}}";
  document.getElementById("{{id}}-species").innerText      = "{{trait_file.species.short_name}}"
  document.getElementById("{{id}}-trait-name").innerText   = "{{trait_file.trait_name}}";
  document.getElementById("{{id}}-trait-desc").innerText   = "{{trait_file.description_short}}";
  {%- else %}
  document.getElementById("{{id}}-selector").dataset.trait = {{trait_var}}.name;
  document.getElementById("{{id}}-trait-name").innerText   = {{trait_var}}.trait_name;
  document.getElementById("{{id}}-trait-desc").innerText   = {{trait_var}}.description_short;
  try {
    document.getElementById("{{id}}-species").innerText    = species_list[{{trait_var}}.species].short_name;
  } catch {
    document.getElementById("{{id}}-species").innerText    = {{trait_var}}.species;
  }
  {%- endif %}
{%- endmacro %}
