{% if table_id is not defined %}
  {% set table_id = "library-table" %}
{% endif %}

{% set offcanvas_id = table_id + '-phenotype-offcanvas' %}


{% block custom_head %}
<style>
  .input-wrapper {
    position: relative;
  }
  .input-wrapper i {
    position: absolute;
    top: 20%;
    right: 5px;
    color: grey
  }

  #tagsFilter, #tags {
    text-transform: capitalize;
  }

  label {
    white-space: normal;
    word-wrap: break-word;
  }

  .dropdown-column {
    width: 1.5em !important;
  }
</style>
{% endblock %}


<div>
  <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}" />
  {% include "_includes/phenotype-search-bar.html" %}

  <div class="table-responsive">
    <table id="{{ table_id }}" class="table p-0 text-center w-100">
      <caption class="visually-hidden">A list of phenotype traits.</caption>
      <thead class="table-secondary align-middle">
        <tr>
          <th scope="col" class="col-1 text-center dropdown-column"></th>
          <th scope="col" class="col-1 text-center">Internal Name</th>
          <th scope="col" class="col-1 text-center">Display Name</th>
          <th scope="col" class="col-1 text-center py-4">Species</th>
          <th scope="col" class="col-1 text-center">Upload Date</th>
          <th scope="col" class="col-1 text-center">Public Database</th>
          {% if trait_library_table_mode == 'full'%}
          <th scope="col" class="col-1 text-center">Phenotype Analysis</th>
          <th scope="col" class="col-1 text-center">Genetic Mapping</th>
          {% elif trait_library_table_mode == 'select' %}
          <th scope="col" class="col-1 text-center">Select</th>
          {% endif %}
        </tr>
      </thead>
      <tbody class="table-group-divider align-middle"></tbody>
    </table>
  </div>

  <div class="offcanvas offcanvas-end offcanvasPhenotype" tabindex="-1" id="{{ offcanvas_id }}"
    aria-labelledby="{{ offcanvas_id }}-label">
    {% include "_includes/phenotype-offcanvas-content.html" %}
  </div>
</div>



{% block script %}
<script type="module">
  {% include '_scripts/utils.js' %}       {#/* defines: flash_message, first_letter_caps */#}
  {% include '_scripts/trait_utils.js' %} {#/* defines: traitNameHTML, traitNameString, queryTraitByName */#}


  // Map publish status values to BS colors
  const statusClassMap = {
    "{{ PublishStatus.SUBMITTED.name }}": "primary",
    "{{ PublishStatus.ACCEPTED.name }}":  "success",
    "{{ PublishStatus.REJECTED.name }}":  "danger",
    "{{ PublishStatus.RETRACTED.name }}": "danger",
  };


  $(document).ready(function() {

    // Set standard header token for AJAX
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
        }
      }
    });

    // Create main table as a DataTable
    const table = $('#{{ table_id }}').DataTable( {
      "sDom": "tpr",
      "processing": true,
      "serverSide": true,
      "ajax": {
        url: "{{ url_for('api_trait.query_list_datatable_private') }}",
        data: function(d) {
          d.dataset = 'public';
        },
      },
      "autoWidth": false,
      "ordering": false,
      "columns": [
        {
          "render": function(data, type, row) {
            return `
              <button type="button" class="btn btn-link text-dark fw-normal d-block w-100 row-toggle"
                  aria-expanded="false" aria-controls="full-info-${row.id}"
                  aria-label="Show more details for trait ${traitNameString(row.trait_name_display_1, row.trait_name_display_2, row.trait_name_display_3)}"
              ><i class="bi bi-chevron-right" aria-hidden="true"></i></button>
            `;
          },
          "sClass": "p-0 m-0 dropdown-column",
          "sWidth": "6%",
        },
        {
          "data": "trait_name_user",
          "render": function(data, type, row) {
            return data || row.id;
          },
          "sWidth": "20%",
        },
        {
          "render": function(data, type, row) {
            return traitNameHTML( row.trait_name_display_1, row.trait_name_display_2, row.trait_name_display_3 );
          },
          "sWidth": "20%",
        },
        {
          "data": "species_name",
          "render": function(data, type, row) {
            return first_letter_caps(data).replace('_', '. ').italics();
          },
          "sWidth": "12%",
        },
        {
          "data": "created_on",
          "render": function(data, type, row) {
            return formatDate(data);
          },
          "sWidth": "12%",
        },
        {
          "data": "publish_status",
          "render": function(data, type, row) {
            {%- if trait_library_table_mode == 'full' %}
            const url = "{{ url_for('data.trait', trait_id='TRAIT_ID') }}".replace("TRAIT_ID", row.id);
            if (data === "{{ PublishStatus.UPLOADED.name }}") {
              return `
                <a href='${url}'><i class="bi bi-arrow-right-circle-fill" aria-hidden="true"></i>Edit and Publish</a>
              `;
            }
            {%- endif %}
            return data;
          },
          "sClass": "optionsToolbar",
          "createdCell": function( cell, cellData, rowData, rowIndex, colIndex ) {
            if (cellData in statusClassMap) {
              cell.classList.add(`bg-${ statusClassMap[ cellData ] }`);
              cell.classList.add('bg-opacity-25');
            }
          },
        },

        {% if trait_library_table_mode == 'full' %}
        {
          "render": function(data, type, row) {
            const url = "{{ url_for('phenotype_database.submit_start', trait='TRAIT_NAME', dataset='TRAIT_SET') }}".replace("TRAIT_NAME", row.id).replace("TRAIT_SET", row.dataset);
            return `
              <a href='${url}'><i class="bi bi-arrow-right-circle-fill" aria-hidden="true"></i>Analyze</a>
            `;
          },
          "sClass": "optionsToolbar",
        },
        {
          "render": function(data, type, row) {
            const url = "{{ url_for('genetic_mapping.genetic_mapping') }}";
            return `
              <a href='${url}'><i class="bi bi-arrow-right-circle-fill" aria-hidden="true"></i>Analyze</a>
            `;
          },
          "sClass": "optionsToolbar",
        },
        {% elif trait_library_table_mode == 'select' %}
        {
          "render": function(data, type, row) {
            const url = `{{ trait_library_table_select_link | safe }}`.replace("TRAIT_NAME", row.id).replace("TRAIT_SET", row.dataset);
            return `
              <a href='${url}'><i class="bi bi-arrow-right-circle-fill" aria-hidden="true"></i>Select</a>
            `;
          },
          "sClass": "optionsToolbar",
        },
        {% endif %}
      ],
    });


    /* Child Rows (Dropdowns) */

    function format_child_row(data) {
      return `
        <div class="ms-5 pt-5 px-5 pb-2">
            <h3 class="h5 text-dark">Full Description</h3>
            <p>${data.description_long}</p>
        </div>
        <div class="d-flex justify-content-end me-1 pb-3 optionsToolbar">
            <a class="trait-detail-button" href="#"
              data-bs-toggle="offcanvas" data-bs-target="#{{ offcanvas_id }}" data-value="${data.id}"
              aria-controls="{{ offcanvas_id }}"
            ><i class="bi bi-arrow-right" aria-hidden="true"></i>View Full Details</a>
        </div>
      `;
    };

    // Add event listener for opening and closing row details
    table.on('click', '.row-toggle', function (e) {
        const tr = e.target.closest('tr');
        const row = table.row(tr);

        if (row.child.isShown()) {
          row.child.hide();
          e.target.closest('button').setAttribute('aria-expanded', 'false')
        } else {
          row.child(format_child_row(row.data())).show();
          row.child().attr('id', `full-info-${row.data().id}`)
          e.target.closest('button').setAttribute('aria-expanded', 'true')
        }

        update_arrows('#{{ table_id }} .row-toggle');
    });

    function update_arrows(selector) {
      $(`${selector}[aria-expanded="true"]` ).html('<i class="bi bi-chevron-down"  aria-hidden="true"></i>');
      $(`${selector}[aria-expanded="false"]`).html('<i class="bi bi-chevron-right" aria-hidden="true"></i>');
    };


    /* Offcanvas (Sidebar) */

    // Fetch data for a trait and fill out side bar
    $(document).on('click', '.trait-detail-button', function() {
      queryTraitByName($(this).data('value'), $('#csrf_token').val())
        .then((response) => {
          fillOutModal(response)
        })
        .fail((error) => {
          console.error(error)
          $('#{{ offcanvas_id }} .btn-close').click()
          flashErrorResponse(error.responseJSON, 'There was a problem retrieving this trait. Please try again later.')
        })
    })

    function fillOutModal(trait) {
      document.dispatchEvent(new CustomEvent('phenotype-offcanvas-content', {
        detail: { offcanvas_id: '{{offcanvas_id}}', trait: trait },
      }));
    }


    /* Searching / Filtering Handlers */

    // Update search based on search widget
    document.addEventListener('{{ table_id }}-search', async ({detail}) => {
      try {
        table.search( JSON.stringify(detail) ).draw()
      } catch(err) {
        console.error(err)
        flash_message(`Failed to retrieve the list of traits: ${err.statusText}`)
      }
    });

  });
</script>
{% endblock %}