{% extends "_layouts/default.html" %}

{% block custom_head %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
    <script type="text/javascript" src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block style %}
<style>

table.dataTable thead .sorting_asc {
  background: url("//cdn.datatables.net/1.10.0/images/sort_asc.png") no-repeat center left;
}
table.dataTable thead .sorting_desc {
  background: url("//cdn.datatables.net/1.10.0/images/sort_desc.png") no-repeat center left;
}
table.dataTable thead .sorting {
  background: url("//cdn.datatables.net/1.10.0/images/sort_both.png") no-repeat center left;
}

</style>
{% endblock %}


{% block content %}
{% from "_includes/macros.html" import render_dataTable_top_menu, render_dataTable_actions %}


{{
  render_dataTable_top_menu(
    pages = False,
    filter = False,
    actions = [
      {
        'label': return_text,
        'url': url_for(tool_name + '.' + tool_name),
        'icon': 'bi bi-plus-circle',
      },
      {
        'label': 'My Results' if all_results else 'All Results',
        'url': url_for(tool_name + ('.my_results' if all_results else '.all_results')),
        'icon': 'bi bi-list-task',
        'admin_only': True,
      },
    ]
  )
}}

<!-- Report Table Container -->
<div class="table-responsive my-5">

  <!-- Report Table -->
  <table id='result-table' class="table table-hover table-bordered row-border">
    <caption class="visually-hidden">A list of user reports and report status.</caption>

    <thead class="table-secondary align-middle">
      <tr class="header">
        <th scope="col" class="data-species ordering">Species</th>
        {% for column in columns %}
          <th scope="col" class='data-{{column.class}} sorting'>{{column.title}}</th>
        {% endfor %}
        <th scope="col" class='data-status ordering'>Status</th>
        <th scope="col" class='data-date ordering'>Date</th>
        {% if all_results %}
          <th scope="col" class='data-owner ordering'>Owner</th>
        {% endif %}
      </tr>
    </thead>

    <tbody class="table-group-divider align-middle">
      {% for item in items %}
        {% if item %}
          <tr>
            <td class="data-species">
              {% if item.species %}{{ species_list[item.species].short_name }}{% endif %}
            </td>

            {% for column in columns %}
              <td class="data-{{column.class}}">
                {% if column.get('link_to_data', False) and item.status == TaskStatus.COMPLETE %}
                  <a href="{{ url_for(tool_name + '.report', id=item.id) }}">
                    {{ item[column.field] }}
                  </a>
                {% else %}
                  {{ item[column.field] }}
                {% endif %}
              </td>
            {% endfor %}

            <td class="data-status">
              {% if item.status %} {{ item.status }} {% else %} UNKNOWN {% endif %}
            </td>
            <td class="data-date" data-order="{{ item.created_on }}">
              {% if item.created_on %} {{ item.created_on|date_format }} {% endif %}
            </td>

            {% if all_results %}
              <td class="data-owner">
                {% if item.username %} {{ item.username }} {% endif %}
              </td>
            {% endif %}
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>

  </table>
  <!-- /Report Table -->

</div>
<!-- /Report Table Container -->
{% endblock %}

{% block script %}
<script>
      
  $(document).ready(function(){

    dTable = $('#result-table').DataTable( {
      paging: true,
      pageLength: 25,
      autoWidth: true,
      scrollX: true,
      scrollY: '50vh',
      scrollCollapse: true,
      aaSorting: [ [{{2 + len(columns)}}, 'desc'] ],
      aoColumns: [
        { "sWidth": "10%" },
      {%- for column in columns %}
        { "sWidth": ({{column.width}} * 36) + '%' },
      {%- endfor %}
        { "sWidth": "10%" },
        { "sWidth": "22%" },
      {%- if all_results %}
        { "sWidth": "22%" },
      {%- endif %}
      ],
      dom:"lftipr"
    });

    $('#filter').keyup(function(){  
      dTable.search($(this).val()).draw();
    });

    $('#page-length').change(function(){  
      dTable.page.len($(this).val()).draw();
    });

  });

</script>
{% endblock %}