{% extends "_layouts/default.html" %}
{% block content %}

<div class="container px-5">
  <div class="row row-cols-1 row-cols-md-3 g-5">
    <!-- Card Column -->
    <div class="col mt-md-0 mb-5">
      <div class="card h-100 shadow text-center pt-5 mt-5 mx-auto cardBorderBottom" style="min-height:20rem;">
        <i class="bi bi-gear-fill text-info"></i>
        <div class="card-body">
          <h2 class="h4 text-dark"><a class="stretched-link"
              href="{{ url_for('genome_browser.genome_browser')                   }}">
              Genome Browser
            </a></h2>
        </div>
      </div>
    </div>
    <!-- /Card Column -->
    <!-- Card Column -->
    <div class="col mt-md-0 mb-5">
      <div class="card h-100 shadow text-center pt-5 mt-5 mx-auto cardBorderBottom" style="min-height:20rem;">
        <i class="bi bi-gear-fill text-info"></i>
        <div class="card-body">
          <h2 class="h4 text-dark"><a class="stretched-link"
              href="{{ url_for('variant_annotation.variant_annotation')           }}">
              Variant Annotation
            </a></h2>
        </div>
      </div>
    </div>
    <!-- /Card Column -->
    <!-- Card Column -->
    <div class="col mt-md-0 mb-5">
      <div class="card h-100 shadow text-center pt-5 mt-5 mx-auto cardBorderBottom" style="min-height:20rem;">
        <i class="bi bi-gear-fill text-info"></i>
        <div class="card-body">
          <h2 class="h4 text-dark"><a class="stretched-link"
              href="{{ url_for('genetic_mapping.genetic_mapping')                 }}">
              Genetic Mapping
            </a></h2>
        </div>
      </div>
    </div>
    <!-- /Card Column -->
    <!-- Card Column -->
    <div class="col mt-md-0 mb-5">
      <div class="card h-100 shadow text-center pt-5 mt-5 mx-auto cardBorderBottom" style="min-height:20rem;">
        <i class="bi bi-gear-fill text-info"></i>
        <div class="card-body">
          <h2 class="h4 text-dark"><a class="stretched-link"
              href="{{ url_for('pairwise_indel_finder.pairwise_indel_finder')     }}">
              Pairwise Indel Finder
            </a></h2>
        </div>
      </div>
    </div>
    <!-- /Card Column -->
    <!-- Card Column -->
    <div class="col mt-md-0 mb-5">
      <div class="card h-100 shadow text-center pt-5 mt-5 mx-auto cardBorderBottom" style="min-height:20rem;">
        <i class="bi bi-gear-fill text-info"></i>
        <div class="card-body">
          <h2 class="h4 text-dark"><a class="stretched-link"
              href="{{ url_for('heritability_calculator.heritability_calculator') }}">
              Heritability Calculator
            </a></h2>
        </div>
      </div>
    </div>
    <!-- /Card Column -->
    <!-- Card Column -->
    <div class="col mt-md-0 mb-5  ">
      <div class="card h-100 shadow text-center pt-5 mt-5 mx-auto cardBorderBottom" style="min-height:20rem;">
        <i class="bi bi-gear-fill text-info"></i>
        <div class="card-body">
          <h2 class="h4 text-dark"><a class="stretched-link"
              href="{{ url_for('phenotype_database.phenotype_database') }}">
             Phenotype Database and Analysis
            </a></h2>
        </div>
      </div>
    </div>
    <!-- /Card Column -->
    </div>
  <!-- /Row -->
</div> <!-- /Container -->
{% endblock %}

