{% extends "_layouts/default.html" %}

{% block content %}
<div class="container px-5 pb-5">
  <div class="row row-cols-1 row-cols-md-3 g-5">
    {% for species in species_list.values() %}
    <!-- Card Column -->
    <div class="col mb-3">
      <div class="card h-100 shadow text-center pt-5 mt-5 mx-auto cardBorderBottom" style="min-height:20rem;">
        <i class="bi bi-clipboard2-data-fill text-info"></i>
        <div class="card-body">
          <h2 class="h4 text-dark"><a class="stretched-link" href="{{ url_for('data_releases.data_release_list', species_name=species.get_slug()) }}">
            <em>{{species.short_name}}</em>
          </a></h2>
        </div>
      </div>
    </div>
    <!-- /Card Column -->
    {% endfor %}
  </div>
  <!-- /Row -->
</div> <!-- /Container -->
{% endblock %}

