{% extends "_layouts/default.html" %}

{% block content %}
{% from "_includes/macros.html" import render_field %}

  <div class="row">
    <div class='col-md-3'></div> <!-- /col-md-3 -->
    <div class='col-md-6'>

      <h2>Tables</h2>
      <div id="stats-table-loader" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <table id="stats-table" class="table">
        <tbody id="stats-table-body"></tbody>
      </table>

      <br />

      <h2>Migrations</h2>
      <div id="migrations-table-loader" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <table id="migrations-table" class="table">
        <thead>
          <tr>
            <th>Revision ID</th>
            <th>Message</th>
            <th>Current</th>
          </tr>
        </thead>
        <tbody id="migrations-table-body"></tbody>
      </table>

    </div> <!-- /col-md-6 -->
  </div> <!-- /row -->
      
{% endblock %}

{% block script %}
<script>
  {% include '_scripts/utils.js' %} {#/* defines: fetch_json */#}

  $(document).ready(function() {

    // Fetch the table stats
    fetch_json("{{ url_for('api_database.get_all_db_stats') }}")
      .then((data) => {
        const tableEl = document.getElementById('stats-table-body');
        const loader  = document.getElementById('stats-table-loader');
        loader.style.display = "none";
        data.forEach(row => {
          const rowEl = document.createElement('tr')
          row.forEach(col => {
            const colEl = document.createElement('td');
            colEl.innerText = col;
            rowEl.appendChild(colEl)
          });
          tableEl.appendChild(rowEl);
        });
      })
      .catch((err) => {
        console.error("Failed to retrieve database stats: ", err);
      })

    // Fetch the list of migrations
    fetch_json("{{ url_for('api_database.get_all_db_migrations') }}")
      .then((data) => {
        const tableEl = document.getElementById('migrations-table-body');
        const loader  = document.getElementById('migrations-table-loader');
        loader.style.display = "none";
        data.forEach(row => {
          const rowEl = document.createElement('tr')
          row.forEach(col => {
            const colEl = document.createElement('td');
            colEl.innerText = col;
            rowEl.appendChild(colEl)
          });
          tableEl.appendChild(rowEl);
        });
      })
      .catch((err) => {
        console.error("Failed to retrieve database migrations: ", err);
      })
  });
</script>
{% endblock %}
