{% extends "_layouts/clean.html" %}
{% block content %}

<div id="snackbar">
  <div id="messages">
  {% for category, msg in get_flashed_messages(with_categories=true) %}
    <div class="flash-{{ category }} alert alert-dismissable alert-{{ category }} flash-banner">
      <p class="snackbar-msg-txt snackbar-msg-txt-{{ category }}">{{ msg }}</p>
    </div>
  {% endfor %}
  </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-4">
<br />
<p class="text-center"><img src="/static/img/caeNDRLogo.png" alt="CaeNDR Logo" class="img-responsive mb-5" style="max-width:175px; height: auto;"/></p>
      <h1 class='text-center'>Select Login</h1>
      <hr />
        <br />
        <div class="d-grid gap-3">
          <a class="btn btn-secondary text-light fw-bold shadow-sm" type="button" href="{{ url_for('user.user_register') }}"><i class="bi bi-person-fill-add"></i> Register</a>
          <a class="btn btn-secondary text-light fw-bold shadow-sm" type="button" href="{{ url_for('auth.basic_login') }}"><i class="bi bi-person-fill"></i> Username/Password</a>
          <a class="btn btn-secondary text-light fw-bold shadow-sm" type="button" href="{{ url_for('google.login') }}"><i class="bi bi-google"></i> Google</a>
        </div>
    </div>
  </div>


{% endblock %}
