{% extends "_layouts/default.html" %}

{% block content %}
{% from "_includes/macros.html" import render_field %}

<form id='form-submit' method="POST" action="{{ kind }}">
  {{ form.csrf_token }}
  <input hidden name="jwt_csrf_token" value="{{ jwt_csrf_token }}">

  <div class="row">
    <div class="col-md-10"></div> <!-- /col-md-10 -->
    <div class="col-md-2">
      <button id='start-btn' value="start-btn" type='submit' class="btn btn-primary btn-block">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
        Start
      </button>
    </div> <!-- /col-md-2 -->
  </div> <!-- /row -->

  <div class="row">
    <div class='col-md-3'></div> <!-- /col-md-3 -->
    <div class='col-md-6'>
      {{ render_field(form.db_op) }}
      {{ render_field(form.wormbase_version) }}
      {{ render_field(form.sva_version) }}
      {{ render_field(form.note) }}
    </div> <!-- /col-md-6 -->
  </div> <!-- /row -->
      
      

</form>


{% endblock %}
