{% extends "_layouts/default-nocontainer.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <p>Phenotype Database description</p>
        <div class="filters px-2 py-2 mb-5 rounded shadow-sm text-bg-light">
            <div class="d-flex flex-wrap justify-content-around p-3">
                <div class="col-12 col-md-3 mx-1 mb-3">
                    <i class="bi bi-search"></i>
                    <lable for="search">Search</lable>
                    <input id="search" type="text" class="form-control" action="#" autocomplete="off">
                </div>
                <div class="col-12 col-md-3 mx-1 mb-3">
                    <i class="bi bi-filter">Filter</i>
                    <label for="filter"></label>
                    <input id="filter" class="form-control">
                </div>
            </div>

        </div>
        <div class="table-responsive phenotypeDB">
            <table class="table table-hover table-bordered table-striped text-center strain-table">
                <caption class="visually-hidden">A list of traits in the Phenotype Database</caption>
                <thead class="table-secondary">
                    <tr>
                        <th>Species</th>
                        <th>Trait</th>
                        <th>Short Description</th>
                        <th>Source Lab</th>
                        <th>Upload Date</th>
                        <th>Categories</th>
                        <th>Start Comparison</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for trait in traits_listing %}
                    <tr>
                        <td class="species"><em>{{ trait.species.short_name }}</em></td>
                        <td>{{ trait.trait_name }}</td>
                        <td>{{ trait.description_short }}</td>
                        <td>{{ trait.source_lab }}</td>
                        <td>{{ trait.created_on.strftime('%Y-%m-%d') }}</td>
                        <td></td>
                        <td><a herf="{{ url_for("phenotype_db.analysis_selection", trait_name=trait.trait_name) }}">Start Analysis</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}