{% extends "_layouts/default-nocontainer.html" %}


{% block custom_head %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" />
    <script type="text/javascript" src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/colreorder/1.5.3/css/colReorder.dataTables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/colreorder/1.5.3/js/dataTables.colReorder.min.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid px-5">
  <div class="d-flex justify-content-around flex-wrap mt-2 pb-5">
    <!-- Input Card -->
    <div class="col-md-8 col-xl-3 text-bg-light mb-5 p-3 p-md-5 rounded-2 shadow-sm" style="max-height:80vh;">
      <!-- Input Form -->
      <form>
        <!-- Species -->
        {% with onchange = "update_species" %} {% include "_includes/species-selector.html" %} {% endwith %}
        <!-- /Species -->
        <!-- Gene Search -->
        <div class="mb-4">
          <label for="gene-search" class="form-label">Gene Search:</label>
          <!-- Info Popover -->
          <a class="btn btn-secondary rounded-circle infoButton" role="button" tabindex="0" data-bs-toggle="popover"
            data-bs-trigger="focus" data-bs-title="More information"
            data-bs-content="Search by WBGeneID, alphanumeric name (F37A4.8), or gene name (isw-1)"><i
              class="bi bi-info lh-1" aria-hidden="true"></i></a>
          <!-- /Info Popover -->
          <div class="dropdown">
            <form id="form-submit-gene" method="post">
              <input class="form-control dropdown-toggle" id="gene-search" placeholder="For example, trt-1"
                data-bs-toggle="dropdown">
            </form>
            <div class="dropdown-menu table-responsive p-1 dropdownSelect">
              <div class="p-3 text-center" id="loading-search-table" style="display:none;">
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
              <table id="v-search-table" class='table table-hover table-striped' style="display:none;">
                <thead>
                  <tr>
                    <th>Gene</th>
                    <th>Name</th>
                    <th>ID</th>
                  </tr>
                </thead>
                <tbody id="orthologs"></tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- /Gene Search -->
        <!-- Interval Search -->
        <div class="mb-4">
          <label for="interval" class="form-label">Interval:</label>
          <!-- Info Popover -->
          <a class="btn btn-secondary rounded-circle infoButton" role="button" tabindex="0" data-bs-toggle="popover"
            data-bs-trigger="focus" data-bs-title="More information"
            data-bs-content="Search using the format [chromosome:START-STOP]"><i class="bi bi-info lh-1"
              aria-hidden="true"></i></a>
          <!-- /Info Popover -->
          <form id='form-submit-interval' method='post'>
            <div class="input-group">
              <input name="interval" id="interval" class="form-control text-center"
                placeholder="III:11,746,923-11,750,250" pattern="(I|II|III|IV|V|X|MtDNA):[0-9,]+-[0-9,]+">
              <button class="btn btn-secondary text-light" id="search-interval-btn">Search</button>
            </div>
          </form>
        </div>
        <!-- /Interval Search -->
        <div class="mb-4">
          <!-- Column Select Dropdown -->
          <div class="dropdown d-grid">
            <button class="btn btn-secondary dropdown-toggle text-light" type="button" data-bs-toggle="dropdown"
              data-bs-auto-close="false" aria-expanded="false">
              Select Columns
            </button>
            <div class="dropdown-menu p-3 overflow-scroll dropdownSelect">
              <div class="chk-select-list" id="col-select">
                <form>
                  <div class="form-group">
                    <div class="fw-bold mb-3 col-entry">
                      <input class="toggle-col-chk" type="checkbox" name="toggle_all_cols" id="toggle_all_cols" />
                      <label id="toggle_all_cols_label" for="toggle_all_cols"> Select All</label>
                    </div>
                    {% for col in columns %}
                    <div class="col-entry">
                      <input class="toggle-col-chk" type="checkbox" name="toggle_{{ col['id'] }}"
                        id="toggle_{{ col['id'] }}" data-column="{{ col['id'] }}" />
                      <label for="toggle_{{ col['id'] }}"> {{ col['name'] }} </label>
                    </div>
                    {% endfor %}
                  </div>
                </form>
              </div>
              <div class="my-3 text-end">
                <button class="btn btn-secondary text-light fw-bold" id="reset-cols-btn"
                  onClick="select_default_columns()">
                  Reset to defaults
                </button>
              </div>
            </div>
          </div>
          <!-- /Column Select Dropdown -->
        </div>
        <!-- Strain List -->
        <div class="mb-4">
          <label for="strain-filter" class="form-label">Strains:</label>
          <div class="dropdown">
            <input class="form-control dropdown-toggle chk-select-filter" id="strain-filter" placeholder="Search..."
              data-bs-toggle="dropdown" action="#" autocomplete="off">
            <div class="dropdown-menu table-responsive p-2 dropdownSelect" style="height:20vh;">
              <form>
                <div class="strain-entry select-searchable mb-1">
                  <input class="toggle-strain-chk" type="checkbox" name="toggle_all_strains" id="toggle_all_strains"
                    checked />
                  <strong><label id="toggle_all_strains_label" for="toggle_all_strains"> Select All </label></strong>
                </div>
                <table class="table table-striped table-hover">
                  <caption class="visually-hidden">A list of strains.</caption>
                  <tbody>
                    {% for species in species_list %}
                    {% for strain in strain_listing[species] %}
                    <tr class="select-searchable strain-entry-container strain-entry-container-{{species}}">
                      <td>
                        <input class="toggle-strain-chk toggle-strain-chk-{{species}}" type="checkbox" data-column="{{strain}}" id="toggle_{{strain}}"
                          checked />
                        <label for="toggle_{{strain}}"> {{ strain }} </label>
                      </td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                  </tbody>
                </table>
              </form>
            </div>
          </div>
        </div>
        <!-- /Strain List -->
        <!-- Horizontal checkboxes -->
        <div class="hstack gap-2 mb-4">
          <label for="checkboxGroup" class="form-label">Variant Impact:</label>
          <div class="hstack gap-2" id="checkboxGroup">
            <div class="form-check">
              <input class="form-check-input toggle-impact-chk" type="checkbox" name="impact_high" id="impact_high"
                checked />
              <label id="form-check-label impact_high_label" for="impact_high">High</label>
            </div>
            <div class="form-check">
              <input class="form-check-input toggle-impact-chk" type="checkbox" name="impact_low" id="impact_low" />
              <label id="form-check-label impact_low_label" for="impact_low">Low</label>
            </div>
          </div>
        </div>
        <!-- /Horiztonal checkboxes -->
      </form>
      <!-- /Input Form -->
    </div>
    <!-- /Input Card -->
    <!-- Tool column -->
    <div class="d-flex flex-wrap flex-column col-md-12 col-xl-8">
      <!-- Options Toolbar -->
      <div class="d-flex flex-wrap justify-content-end col-12 text-end mb-3 optionsToolbar">
        <div class="ps-3 pt-0">
          <button class="btn btn-link" disabled id="download-result-btn" onClick="onDownload();"><i
              class="bi bi-file-earmark-arrow-down-fill" aria-hidden="true"></i> Download My Results</button>
        </div>
        <div class="ps-3 pt-0"><a href="#"><i class="bi bi-arrows-fullscreen" aria-hidden="true"></i> Fullscreen</a>
        </div>
      </div>
      <!-- /Options Toolbar -->
      <!-- Annotation Table -->
      <div class="col mx-auto" style="max-width:65vw;">
        <div id="loading-variant-table" style="display:none;">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <div class="table-responsive" id="result-table">
          <table id="variant-table" class="table-striped table-hover" style="width:100%;">
            <caption class="visually-hidden">List of variant annotations</caption>
            <thead>
              <tr class="header">
                {% for col in columns %}
                <th class="data-{{col['id']}} sorting"><strong> {{ col['name'] }} </strong></th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for col in columns %}
                <td class="data-{{col['id']}}"> </td>
                {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Annotation Table -->
    </div>
    <!-- /Tool Column -->
  </div>
  <!-- /Flex -->
</div> <!-- /Container -->

{% endblock %}

{% block script %}
{% from "_includes/macros.html" import unpack_species_list %}
<script>


/* Variables */

const doneTypingInterval = 1000;  //time in ms (5 seconds)
const col_max_len = 20;
const strains_per_row = 10;

let typingTimer;                //timer identifier

let dTable = null;
const selected_strains = new Set();

// Initialize impact variables to match their checkboxes
let impactHigh = $("#impact_high").prop('checked');
let impactLow  = $("#impact_low").prop('checked');

let toggle_strain_lock = false;

let result_data = {};
let cachedTargets = {};

// Species dictionary & selected species
const species_list = {{ unpack_species_list(species_list, species_fields) }};
var species = null

const columnList = JSON.parse('{{ columns | tojson }}');

const strainListing = JSON.parse('{{ strain_listing | tojson }}');



/* Species */

// Track changes to selected species
function update_species(selector) {

  // Check for selector element with value
  if ( !selector || !selector.value ) {
    return
  }

  // Get species from selector
  species_id = selector.value;
  species    = species_list[species_id];

  // Reprocess gene search with the new species
  $("#loading-search-table").fadeIn();
  process_gene_search();

  // Clear the interval search on switching species, to help avoid confusion
  clear_interval_search();

  // Update the strain list table
  update_strains(species_id);

  // Clear any previous species data from the data table
  clearDataTable();
}



/* Strains */

function update_strains(species_id) {

  // Show only strains matching current species
  $('.strain-entry-container').hide();
  $(`.strain-entry-container-${species_id}`).show();

  // Update selected strains set to match current species
  update_selected_strains();
}


function update_selected_strains() {

  // Clear selected strains
  selected_strains.clear();

  // Loop through each strain checkbox associated with the current species
  $(`.toggle-strain-chk-${species.name}`).each((i, obj) => {

    // If box is checked, add to strain set
    if (obj.checked) {
      selected_strains.add(obj.dataset.column);
    }
  });
}



/* CSV Download */

async function downloadCSV(json_data) {
  const csrfToken = "{{ form.csrf_token._value() }}";
  const url = "{{ url_for('variant_annotation.download_csv') }}"
  const res = await fetch(url, {
    method: "POST",
    credentials: "include",
    body: json_data,
    cache: "no-cache",
    headers: new Headers({
        'Content-Type': 'application/json',
        'X-CSRF-TOKEN': csrfToken
    })
  });
  
  if (res.ok) {
    const buffer = await res.blob();
    const blob = new Blob([buffer], { type: 'text/csv' });
    const link = document.createElement("a");
    link.href = window.URL.createObjectURL(blob);
    const interval = $('#interval').val()
    link.download = `data_${interval}.csv`;
    link.click();
  } else {
    const err = await res.json()
    console.error(err.message)
    window.location.href = "{{ url_for('variant_annotation.variant_annotation', download_err=True ) }}"
  }

}

function onDownload() {
  const jsonData = JSON.stringify({ ...result_data });
  downloadCSV(jsonData);
}



/* Gene Search */

function process_gene_search() {
  $("#loading-search-table").fadeOut();
  let gene = $('#gene-search').val().trim();
  if (!gene.length) {
    $("#v-search-table").fadeOut();
  } else {
    $("#orthologs").html("");
    $.ajax({
         url: "{{ url_for('api_gene.api_search_genes', query='') }}" + gene + '?species=' + species.name,
         method: "GET",
         contentType: 'application/xml',
         }).done(function(results) {
          const genes = results.filter(result => !!result.chrom && !!result.start && !!result.end)
          genes.forEach(gene => {
            const position = gene["chrom"] + ":" + gene["start"] + "-" + gene["end"];
            const link = `<a onclick="set_position('${position}')" link='${position}' class='ortholink'>${gene['gene_id']}</a>`;
            const result = [
              gene['gene_symbol'],
              gene['sequence_name'],
              link,
            ]
            const table_data = "<tr><td>" + result.join("</td><td>").slice(0,-4) + "</tr>";
            $("#orthologs").append(table_data);
          });
          $("#v-search-table").fadeIn();
        });
  }
}

function set_position(pos) {
  $('#interval').val(pos);
  $('#search-interval-btn').click();
}

function clear_interval_search() {
  $('#interval').val(null);
}

function toggleDisableForm(disabled = false) {
  // false = form enabled, true = form disabled
  $("#search-interval-btn").attr("disabled", disabled);
  $('#interval').attr("disabled", disabled);
}



/* Table Visibility */

function hideTable() {
  $("#result-table").fadeOut();
  $("#loading-variant-table").fadeIn();
}

function showTable() {
  $("#loading-variant-table").fadeOut();  
  $("#result-table").fadeIn();
}



/* Table Filtering */

function filter_rows_by_strains() {

  // Construct a RegEx string to search for strain names:
  //   - Add the word boundary token '\b' to the end of each strain name
  //   - Concatenate all names with 'or' operator, and default to empty
  //   - Default to empty expression to prevent matching everything if no strains selected
  var r = [ ...selected_strains ].map((s) => `${s}\\b`).join('|') || '^$';

  // Hide the table while filtering
  hideTable();

  // Construct the filtered table
  // Note: Don't create a RegExp object, or fnFilter will only work if a '|' character is added to the front and end
  //       of the expression. Not sure why this happens...
  $('#variant-table').dataTable().fnFilter(r, 'strains:name', true, false);
  $('#variant-table').DataTable().draw();

  // If specific strains are selected, highlight them in the table
  highlight_selected_strains();

  // Show the table
  showTable();
}

function filter_rows_by_impact() {
    /* build regex from strain set and filter */
    let r = "Linker";
    if (impactHigh) {
      r += "|HIGH";
    } 
    if (impactLow) {
      r += "|LOW";
    }
    $('#variant-table').dataTable().fnFilter(r, 'variant_impact:name', true, false);
}




/* Result Table -- General Columns */


function chunk_substr(data, size) {
  if (typeof data === 'string' && data.length > col_max_len) {
    let numChunks = Math.ceil(data.length / size)
    let chunks = new Array(numChunks)
    for (let i = 0, o = 0; i < numChunks; ++i, o += size) {
      chunks[i] = data.substr(o, size)
    }
    return chunks.join('<br/>')
  } else {
    return data;
  }
}

function processCol(col, id) {
  if (id == 'strains') {
    return col
  }
  return chunk_substr(col, col_max_len)
}



/* Result Table -- Strains Column */

function highlight_selected_strains() {
  $("mark").removeClass('hl-mark');
  selected_strains.forEach(strain => {
    $(`.mark_${strain}`).addClass('hl-mark');
  });
}

function renderStrainsCol(data, type, row) {
  // let result = '<mark></mark>';
  let strains = data.split(',');

  // Map each strain to a mark tag
  let result = strains.map( (strain) => `<mark class="mark_${strain}">${strain}</mark>` )

  // Add a line break after every strains_per_row elements
  for (let i = strains_per_row; i < result.length; i += strains_per_row) {
    result[i] = "<br/>" + result[i];
  }

  // Concatenate result together with commas and return
  return result.join(', ');
}



/* Result Table -- Target Consequence Column */

function renderTargetConsequenceCol(data, type, row) {
  if (data) {
    return `<button class="btn-alt" onClick="expandTargetConsequence(this, ${data});"><span class='glyphicon glyphicon-collapse-down'></span>${data}</button>`;
  }
  return '';
}

function renderTargetConsequenceTable(data) {
  let result = "<div class='instruction-well'><table class='table table-striped table-condensed table-hover' style='width:80%;margin-left:10%;font-size:0.8rem;'><thead>";
  const numRows = Object.keys(data.id).length;
  for (let col1 of columnList) {
    result += `<th>${col1.name}</th>`;
  }
  result += "</thead><tbody>";
  for (let j = 0; j < numRows; j++) { 
    result += "<tr>";
    for (let col2 of columnList) {
      let val = data[col2.id][j] || "";
      let processedVal;
      if (col2.id === "strains") {
        processedVal =  renderStrainsCol(val, null, null);
      } else {
        processedVal = chunk_substr(val, col_max_len);
      }
      result += `<td>${processedVal}</td>`;
    }
    result += "</tr>";
  }
  result += "</tbody></table></div>";
  return result;
}

function fetchTargetConsequence(el, q) {
  const tr = el.closest('tr');
  const row = dTable.row(tr);

  if (cachedTargets[q]) {
    row.child(renderTargetConsequenceTable(cachedTargets[q])).show();
    highlight_selected_strains();
  } else {
    $.ajax({
      type: "POST",
      contentType: 'application/json',
      dataType: 'json',
      url: "{{ url_for('variant_annotation.query_position') }}",
      data: JSON.stringify({query: q}),
      success:function(result) {
        cachedTargets[q] = result;
        row.child(renderTargetConsequenceTable(result)).show();
        highlight_selected_strains();
      },
      error:function(error) {
        console.error(error);
      }
    });
  }
}

function expandTargetConsequence(el, pos) {
  const tr = el.closest('tr');
  const row = dTable.row(tr);
  const chrom = dTable.cell(tr, 'chrom:name').data();
  const query = chrom + ":" + pos;
  if ( row.child.isShown() ) {
      // This row is already open - close it
      row.child.hide();
  }
  else {
      // Open this row
      //row.child( format(row.data()) ).show();
      fetchTargetConsequence(el, query)
  }
}



/* Table Data */

function populateDataTable() {
  // clear the table before populating it with more data
  dTable.clear();
  if (Object.keys(result_data).length == 0){
    dTable.columns.adjust().draw();
    return;
  }
  const variants = Object.keys(result_data.id);
  for(variant of variants) {
    const row_data = columnList.map(col => processCol(result_data[col['id']][variant], col['id']))
    $('#variant-table').dataTable().fnAddData(row_data);
  }
  filter_rows_by_impact();
  filter_rows_by_strains();
  dTable.columns.adjust().draw();
}

function clearDataTable() {
  if (dTable !== null) {
    dTable.clear();
    dTable.columns.adjust().draw();
  }
}




/* Initialization - Helper functions */


function init_data_table() {
  const colDefs = columnList.map((col, idx) => {
    let render = null;
    
    if (col.id === 'strains') {
      render = renderStrainsCol;
    }
    if (col.id === 'target_consequence') {
      render = renderTargetConsequenceCol;
    }
  
    return { 
      "name": col.id, 
      "render": render,
      "targets": idx,
      "visible": col['default_visibility'],
    } 
  });

  dTable = $('#variant-table').DataTable({
    colReorder: true,
    destroy: true,
    paging: true,
    pageLength: 100,
    dom:"ltipr",
    columnDefs: colDefs,
    order: [[ 1, "asc" ]]
  });

  dTable.on('column-reorder', function (e, settings, details) {
    setTimeout(highlight_selected_strains, 250);
  });

  dTable.on('page.dt', function () {
    setTimeout(highlight_selected_strains, 250);
  });

}


/* Set all columns to their default visibility values */
function select_default_columns() {

  /* Set checkboxes */
  columnList.forEach((col, idx) => {
    $( "#toggle_" + col.id ).prop("checked", col.default_visibility);
  });

  /* Set table columns */
  for (let i = 0; i < columnList.length; i++) {
    const column = dTable.column(i);
    column.visible(columnList[i].default_visibility);
  }

  /* Redraw the table */
  dTable.columns.adjust().draw();
}



/* Initialization - Set up event handlers */

$(document).ready(function() {

  // Get the default species from the selector
  update_species();

  (function($) {

    init_data_table();

    select_default_columns();
    
    const csrf_token = "{{ form.csrf_token._value() }}";

    const height = $('#col-select').height() + 'px';
    $('.pre-scrollable').css('max-height', height);

    /* Gene ortholog search */
    $("#gene-search").on("input", function(e) {
      $("#loading-search-table").fadeIn();
      clearTimeout(typingTimer);
      typingTimer = setTimeout(process_gene_search, doneTypingInterval);
    })

    /* Strain search */
    $('#strain-filter').keyup(function() {
        $('.select-searchable').hide();
        $(this).val().split(',').forEach(function(r) {
            var rex = new RegExp(r, "i");
            $(`.strain-entry-container-${species['name']}`).filter(function() {
                return rex.test($(this).text());
            }).show();
        });
    });

    /* Filter by impact */
    $("#impact_high").change(function(e) {
      impactHigh = $(this).prop('checked');
      setTimeout(filter_rows_by_impact, 50);
    });

    $("#impact_low").change(function(e) {
      impactLow = $(this).prop('checked');
      setTimeout(filter_rows_by_impact, 50);
    });

    /* select/deselect all strains checkbox handler */
    $("#toggle_all_strains").change(function(e) {
      toggle_strain_lock = true;
      const state = $(this).prop('checked');

      // Apply new selection to all strains for current species
      $(`.toggle-strain-chk-${species.name}`).each(function(i, e) {
        e.checked = state;
      });
      update_selected_strains();

      setTimeout(filter_rows_by_strains, 50); /* allow checkbox to be clicked before processing */
      setTimeout(function() { 
        toggle_strain_lock = false;
      }, 50);
    });

    /* strain checkbox handler */
    $(".toggle-strain-chk").change(function() {
      if (!toggle_strain_lock) {
        const state = $(this).prop('checked');
        const strain = $(this).attr('data-column');
        if (!state) {
          selected_strains.delete(strain);
        } else {
          selected_strains.add(strain);
        }

        setTimeout(filter_rows_by_strains, 50); /* allow checkbox to be clicked before processing */
      }
    });

    /* select/deselect all columns handler */
    $("#toggle_all_cols").change(function(e) {
      const state = $(this).prop('checked');
      $(".toggle-col-chk").each(function(idx, e) {
        e.checked = state;
      });
      for (let i = 0; i < columnList.length; i++) {
        const column = dTable.column(i);
        column.visible(state);
      }
      dTable.columns.adjust().draw();
    });

    /* columns checkbox handler */
    $(".toggle-col-chk").change(function() {
      const state = $(this).prop('checked');
      const colName = $(this).attr('data-column') + ':name';
      const column = dTable.column(colName);
      
      column.visible(state);
      dTable.columns.adjust().draw();
    });

    $("#search-interval-btn").on("click", function(e) {
      e.preventDefault();
      toggleDisableForm(true);
      $("#download-result-btn").attr('disabled', true);
      form = document.getElementById('form-submit-interval');
      if (!form.checkValidity() || $("#interval").val().length == 0) {
        form.reportValidity();
        toggleDisableForm(false);
        return;
      }
      const data = {
        query: $("#interval").val()
      };
      hideTable();

      $.ajax({
				type: "POST",
        contentType: 'application/json',
        dataType: 'json',
				url: "{{ url_for('variant_annotation.query_interval') }}",
				data: JSON.stringify(data),
				success:function(result) {
          const has_results = !!Object.keys(result).length;
          $("#download-result-btn").attr('disabled', !has_results);

          toggleDisableForm(false);
          cachedTargets = {};
          result_data = result;
          populateDataTable();
          showTable();
				},
        error:function(error) {
          console.error(error);
          toggleDisableForm(false);
        }
      });
    
    });

    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrf_token);
          }
      }
    });

  }(jQuery));
});


</script>
{% endblock %}
