{% extends "_layouts/default.html" %}
{% block content %}
{% from "_includes/macros.html" import render_field %}

<div class="col-12 col-md-6 px-3 mx-auto">
  <div class="card border-0 shadow-sm">
    <div class="card-header text-bg-secondary text-light fw-bold">
      Login
    </div>
    <div class="card-body p-4">
      <form id='form-submit' method="POST" action="basic">
        {{ form.csrf_token }}
        <div class="mb-3">
          {{ render_field(form.username) }}
        </div>
        <div class="mb-3">
          {{ render_field(form.password) }}
        </div>
        <div class="mb-4">
          {{ form.recaptcha }}
        </div>
        <div class="d-grid gap-3 mb-3">
          <button id='login' type='submit' value="Login" class="btn btn-primary mt-2"><i
              class="bi bi-box-arrow-in-right fs-5 fw-bold"></i> Login</button>
              <a class="btn btn-primary" type="button" href="{{ url_for('user.user_recover') }}"><i
                class="bi bi-lock-fill fs-5 fw-bold"></i> Forgot Your Password?</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}