{% extends "_layouts/default.html" %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <table class='table'>
      <thead>
        <tr>
          <th class='col-md-1'><strong> Username </strong></th>
          <th class='col-md-2'><strong> Full Name </strong></th>
          <th class='col-md-2'><strong> Email </strong></th>
          <th class='col-md-1'><strong> Roles </strong></th>
          <th class='col-md-1'><strong> Created On </strong></th>
          <th class='col-md-1'><strong> Last Login </strong></th>
          <th class='col-md-1'><strong> Edit </strong></th>
          <th class='col-md-1'><strong> Delete </strong></th>
        </tr>
      </thead>
      <tbody>
        {% for user in users%}
          <tr>
            {% if user %}
              <td> {{ user.username }} </td>
              <td> {{ user.full_name }} </td>
              <td> {{ user.email }} </td>
              <td> {{ user.roles }} </td>
              <td> {% if user.created_on %} {{ user.created_on|date_format }} {% endif %} </td>
              <td> {% if user.last_login %} {{ user.last_login|date_format }} {% endif %} </td>
              <td>
              <a href="{{ url_for('admin_users.users_edit', id=user.name) }}"> 
                  Edit
                </a>
              </td>
              <td>
                <a href="{{ url_for('admin_users.users_delete', id=user.name) }}"> 
                  Delete
                </a>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
	</div> <!-- /col-md-12 -->
</div> <!-- /row -->


{% endblock %}
