{% extends "_layouts/default.html" %} 

{% block custom_head %}
<style>

.filters {
    display: flex;
    justify-content: space-evenly;
}
.paste-list .btn, #downloadData {
    color: white;
    width: 250px;

}
.dropdown-menu {
    padding: 5px;
}
.dropdown-menu textarea{
    width: 250px;
    height: 150px;
}
.dropdown-menu .btn {
    margin: 5px;
    width: 100px;
    float: right
}
#checkoutBox {
    color: white;
    float: right

}
#aboutStrainSets {
    margin: 30px 0 30px 0
}
#strainsTab {
    margin-bottom: 20px;
}
table {
    text-align: center;
}
.view-strain-list {
    list-style-type: none;
    column-count: 3
}
#search-results {
    height: auto;
    max-height: 200px;
    width: 200px;
    overflow-x: hidden;
}
#search-results > li:nth-child(odd) {
    background-color: rgb(241, 241, 241);
}
#notFoundAlert {
    display: none;
    text-align:center
}
label {
    color: grey;
    margin-bottom: 0.5rem
}
#strains_sets_filter {
    max-width: 10rem;
    margin-bottom: 1rem
}

</style>
{% endblock %}

{% block content %}
{% from "_includes/macros.html" import render_field %}

<form autocomplete="off">
    <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}" />
    <div>
        <!--  Navigation Tabs -->
        <ul class="nav nav-tabs" id="strainsTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="strain-sets-tab" data-bs-toggle="tab" data-bs-target="#strain-sets-tab-pane" type="button" role="tab" aria-controls="strain-sets-tab-pane" aria-selected="false">Home</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="individual-strains-tab" data-bs-toggle="tab" data-bs-target="#individual-strains-tab-pane" type="button" role="tab" aria-controls="individual-strains-tab-pane" aria-selected="true">Individual Strains</button>
            </li>
        </ul>
        <!-- Tabs Content -->
        <div class="tab-content" id="strainsTabContent">
            <!-- Strain Sets Content -->
            <div class="tab-pane fade show active" id="strain-sets-tab-pane" role="tabpanel" aria-labelledby="strain-sets-tab">
                <p>Pre-defined sets of strains can be ordered below.</p>
                <div class="accordion" id="aboutStrainSets">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="divergentSets">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#divergentSets-collapse" aria-expanded="true" aria-controls="divergentSets">About Divergent Sets</button>
                        </h2>
                        <div id="divergentSets-collapse" class="accordion-collapse collapse show" aria-labelledby="divergentSets">
                            <div class="accordion-body">
                                The <strong>divergent set</strong> includes 12 genotypically different strains and can be used to determine broad-sense heritability after repeated independent measures of your favorite phenotype. <strong>We recommend starting with the divergent set.</strong>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="mappingSets">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#mappingSets-collapse" aria-expanded="false" aria-controls="mappingSets">About Mapping Sets</button>
                        </h2>
                        <div id="mappingSets-collapse" class="accordion-collapse collapse" aria-labelledby="mappingSets">
                            <div class="accordion-body">
                                Sets <strong>1-8</strong> each contain 46-48 strains that should be assayed for genetic mapping experiments. We recommend using a single set of 48 strains. After you have scored and optimized your quantitative trait, additional sets can be assayed to increase statistical power for association mapping.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="species" id="strains_sets_filter">
                    {{ render_field(form.species, onchange="filter_species_sets") }}
                </div>
                <div class="table-responsive mb-5 strainSets">
                    <table class="table table-hover table-bordered strain-table">
                        <thead class="table-secondary">
                            <tr>
                                <th style="width:7%;">Select</th>
                                <th style="width:20%;">Species</th>
                                <th style="width:20%;">Set Name</th>
                                <th style="width:20%;">Number of Strains</th>
                                <th style="width:33%;">Strains</th>
                            </tr>
                        </thead>
                        <tbody class="strainSetsTable">
                            {% for k, v in strain_sets.items() %}
                            {% set species = k[1] %}
                            {% if k[0] == 'D' %}
                            <tr>
                                <td>
                                    <input class="form-check-input"  type="checkbox" name="items-10000" id="divergent" value="set_divergent" class="styled-checkbox" />
                                    <label class="form-check-label visually-hidden"  for="divergent">Select row</label>
                                </td>
                                <td class="species" data-value="{{ species }}"><em>{{ species|capitalize|replace('_', '. ')  }}</em></td>
                                <td class="strainName"><label for="divergent">Divergent Set</label></td>
                                <td>{{ len(v) }}</td>
                                <td>{{ v|join(' ') }}</td>
                            </tr>
                            {% else %}
                                {% set set = k[0]|int %}
                            <tr>
                                <td>
                                    <input class="form-check-input" id="set-{{ set }}" type="checkbox" name="items-{{ set + 1000 }}" value="set_{{ set }}" class="styled-checkbox" {% if set>= 9 %}disabled{% endif %}/>
                                    <label class="form-check-label visually-hidden" for="set-{{ set }}">Select row</label>
                                </td>
                                <td class="species" data-value="{{ species }}"><em>{{ species|capitalize|replace('_', '. ') }}</em></td>
                                <td class="strainName"><label for="set-{{ set }}">Mapping Set {{ set }}</label></td>
                                <td>{{ len(v) }}</td>
                                <td>
                                    <a class="btn btn-link btn-block view-strain-link" data-bs-toggle="collapse" data-bs-target="#view_set_{{ set }}">View Strains</a>
                                    <div class="collapse" id="view_set_{{ set }}">
                                        <ul class="view-strain-list">
                                            {% for strain in v %}
                                            <li class="col-list">{{ strain }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Individual Strains Content -->
            <div class="tab-pane fade" id="individual-strains-tab-pane" role="tabpanel" aria-labelledby="individual-strains-tab">
                <p>Individual strains can be ordered below.</p>
                <!-- Filter Facets -->
                <div class="filters">
                    <div class="species" id="ind_strains_filter">
                        {{ render_field(form.species, onchange="filter_species") }}
                    </div>
                    <div class="dropdown">
                        <label for="search">Search by Strains:</label>
                        <input id="search" type="text" class="form-control" data-bs-toggle="dropdown" placeholder="For example, AB1 ..." action="#" autocomplete="off">
                        <ul class="dropdown-menu" role="menu" id="search-results"></ul>
                    </div>
                    <div class="paste-list">
                        <label for="pasteStrains">Paste List:</label>
                        <div class="dropdown">
                            <button type='button' id='pasteStrains' class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Paste Strains</button>
                            <div class="dropdown-menu">
                                <form>
                                    <label for="copyPasteStrains">Paste List:</label>
                                    <textarea id="copyPasteStrains" class="form-control" placeholder="Paste a tab, comma, or newline delimited list of strains here"></textarea>
                                    <button type="button" class="btn btn-secondary" id="submitPaste">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label for="downloadData">Strain Data:</label>
                        <div>
                            <button type="button" class="btn btn-secondary" id="downloadData">Download Data</button>
                        </div>
                        
                    </div>
                </div>
                <div id="notFoundAlert" class="alert alert-danger" role="alert">
                    <i class="bi bi-exclamation-triangle-fill d-inline"></i>
                    <p class="d-inline m-2"></p>
                </div>
                <!-- Individual Strains Table -->
                <div class="table-responsive my-5 strainSets">
                    <table class="table table-hover table-bordered" id="indStrainsTable">
                        <thead class="table-secondary">
                            <tr>
                              <th style="width:7%;">Select</th>
                              <th style="width:18%;">
                                <span class="tooltip-item" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                    Species
                                </span>
                              </th>
                              <th style="width:18%;">
                                <span class="tooltip-item" data-bs-toggle="tooltip" data-placement="bottom" title="Name assigned to a group of strains that share the same genome-wide haplotype.">
                                  Isotype
                                </span>
                              </th>
                              <th style="width:18%;">
                                <span class="tooltip-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Individually isolated strains; If strains are assigned to the same isotype they are > 99.93% genetically identical">
                                  Strains
                                </span>
                              </th>
                              <th style="width:18%;"><span class="tooltip-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Date of original release">Release</span></th>
                              <th style="width:21%;"><span class="tooltip-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Previous names assigned to a strain or alternative names">Alternative Names</span>
                            </tr>
                        </thead>
                        <tbody class="searchable">
                            {% for isotype, strains in strain_listing|groupby('isotype') %}
                              <tr>
                                <td>
                                    {% set isotype_loop_index = loop.index %}
                                    <input class="form-check-input" type="checkbox" name="items-{{ loop.index }}" id="items-{{ loop.index }}" value="{{ isotype }}" info="{{ isotype + " " + strains|join(" ") }}" />
                                    <label class="form-check-label visually-hidden" for="items-{{ loop.index }}">Select row</label>
                                </td>
                                <td class="species" data-value="{{ strains[0].species_name }}"><i>{{ strains[0].species_name|capitalize|replace('_', '. ') }}</i></td>
                                <td class="strainName"><a href="{{ url_for('request_strains.isotype_page', isotype_name=isotype) }}">{{ isotype }}</a></td>
                                <td>{{ strains|join(", ") }}</td>
                                <td>{{ strains[0]['release'] }}</td>
                              {% if strains[0].previous_names %}
                                <td>{{ strains[0].previous_names.replace(',', '|').split('|') | join(', ') }}</td>
                              {% else %}
                                <td> </td>
                              {% endif %}
                              </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
        <div id="checkout" data-offset-top="170" data-spy="affix">
            <button type="submit" value="Checkout" name="add_to_cart" class="btn btn-secondary" id="checkoutBox">
                <i class="bi bi-cart-fill"></i>
                Order
            </button>
        </div>
    </div>
</form>

{% endblock %}
{% block script %}
<script>


    $(document).ready(function() {
            var patterns = [];
            $('#search').keyup(function() {
                $('.searchable tr').hide();
                $(this).val().split(',').forEach(function(r) {
                    var rex = new RegExp(r, "i");
                    var foundStrains = $('.searchable tr').filter(function() {
                        return rex.test($(this).text());
                    }).show();

                    $('#search-results').empty()
                    foundStrains.each(function() {
                        var foundStrain = $(this).find('td:nth-child(4)').text()
                        $('#search-results').append(`<li class='dropdown-item'>${foundStrain}</li>`)
                    })
                })

            })

        }(jQuery));

        $(document).ready(function() {
        
        let filtered_by_species;
        
        if($("#speciesSelect").val() === '') {
            $('#search').prop('disabled', true)
            $('#pasteStrains').prop('disabled', true)
            $('#downloadData').addClass('disabled')
        }

        filter_species = function() {
            $(document).on('change', '#ind_strains_filter #speciesSelect', function(e) {
                e.preventDefault()
                const selectedVal = $(this).val()
                if (selectedVal) {
                    filtered_by_species =  $('.searchable tr').hide().filter(function() {
                        return $(this).find('td:nth-child(2)').attr('data-value') == selectedVal
                    })
                    filtered_by_species.show()
                    $('#search').prop('disabled', false)
                    $('#pasteStrains').prop('disabled', false)
                    $('#downloadData').removeClass('disabled')
                } else {
                    $('.searchable tr').show()
                    $('#search').prop('disabled', true)
                    $('#pasteStrains').prop('disabled', true)
                    $('#downloadData').addClass('disabled')
                }                
            })
        }


        filter_species_sets = function() {
            $(document).on('change', '#strains_sets_filter #speciesSelect', function(e) {
                e.preventDefault()
                const selectedVal = $(this).val()
                $('.strainSetsTable tr').hide().filter(function() {
                        return $(this).find('td:nth-child(2)').attr('data-value') == selectedVal
                    }).show()
            })
        }

        
        $('#checkoutBox').prop('disabled', !$("input:checkbox").is(":checked"));

        $("input:checkbox").click(function(x) {
            highlight_set_buttons();
            $('#checkoutBox').prop('disabled', !$("input:checkbox").is(":checked"));
        });

        if($("#copyPasteStrains").val() === '') {
            $('#submitPaste').prop('disabled', true)
        }

        $("#copyPasteStrains").keyup(function() {
            if($(this).val() !== '') {
                $('#submitPaste').prop('disabled', false)
            } else {
                $('#submitPaste').prop('disabled', true)
            }
        })

        $("#submitPaste").click(function() {
            $('#notFoundAlert').hide()
            pastedStrains = $("#copyPasteStrains").val().split(/[\s,\n,\t]+/);
            lost_strains = [];
            for (i in pastedStrains) {
                upperCaseStrain = pastedStrains[i].toUpperCase(); // Just in case users submit lower case
                found_strain = $("[info~='" + upperCaseStrain + "']");
                if (found_strain.length > 0) {
                    pasted = found_strain.prop("checked", true); // Use the word selector (~=)
                } else {
                    lost_strains.push(pastedStrains[i])
                }
            }
            if (lost_strains.length > 0) {
                set_alert(`The following strain(s) were not found ${lost_strains.join(", ")}`)
            }
            var rows = $('.searchable tr')
            // console.log('filtered', filtered_by_species)

            rows.sort(function(a, b) {
                var value1 = $(a).find('td > input:checkbox').is(":checked")
                var value2 = $(b).find('td > input:checkbox').is(":checked")
                return (value1 > value2) ? -1 : 1
            })
            $.each(rows, function (idx, row) {
                $('#indStrainsTable > tbody').append(row)
            })
            $('#checkoutBox').prop('disabled', !$("input:checkbox").is(":checked"));
        })

        $('#downloadData').click(function() {
            const selectedVal = $('#speciesSelect').val();
            let url = '{{ url_for("request_strains.strains_data_tsv", species=selectedVal) }}';
            if (selectedVal) {
            url += selectedVal;
            }
            window.location.href = url;
        });

        $("button[id^='set']").click(function() {
            set_name = $(this).attr("id");
            if ($("." + set_name).first().prop("checked") == false) {
                $("." + set_name).prop("checked", true);
            } else {
                $("." + set_name).prop("checked", false);
            }
            $('#checkoutBox').prop('disabled', !$("input:checkbox").is(":checked"));
            highlight_set_buttons();
        })

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
              if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
              }
            }
        });
     

        $(document).on('click', "button[id^='checkout']", function(e) {
            e.preventDefault()
            const data = {csrf_token: $('#csrf_token').val(), user_from_catalog: $("#from_catalog").val(), strains: []}
            $('input:checkbox:checked').each(function() {
                data.strains.push({name: $(this).attr('value'), species: $(this).parent().siblings('.species').text() || ''})
            })
            $.ajax({
                type: "POST",
                url: "{{ url_for('request_strains.order_page_post') }}",
                data: JSON.stringify(data),
                contentType: "application/json",
                dataType: "json",
                success: function(response) {
                    window.location.href = "/request-strains/checkout";
                },
                error: function(error){
                    console.log('something went wrong', error)
                }
            })

        });

    

    });

    set_alert = function(msg) {
            $('#notFoundAlert > p').html(msg)
            $('#notFoundAlert').show()
    }

    highlight_set_buttons = function() {
        set_names = ["set_divergent", "set_1", "set_2", "set_3", "set_4"];
        for (i in set_names) {
            if ($("." + set_names[i] + ":checkbox:checked").length == $("." + set_names[i]).length) {
                $("#" + set_names[i]).addClass("btn-success");
            } else {
                $("#" + set_names[i]).removeClass("btn-success");
            }
        }
    }


    $(document).ready(function() {
        $('#search').keydown(function(event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
    });


</script>
{% endblock %}
