{% extends "_layouts/default.html" %} 

{% block custom_head %}
<style>
    #checkout.affix {
    position: fixed;
    top: 20px;
    width: 136px;
}
.filters {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px
}
.paste-list .btn, #downloadData {
    color: white;
    width: 250px;

}
.dropdown-menu {
    padding: 5px;
}
.dropdown-menu textarea{
    width: 250px;
    height: 150px;
}
.dropdown-menu .btn {
    margin: 5px;
    width: 100px;
    float: right
}
#checkoutBox {
    color: white;
    float: right

}
#aboutStrainSets {
    margin: 30px 0 30px 0
}
#strainsTab {
    margin-bottom: 20px;
}
table {
    text-align: center;
}
.view-strain-list {
    list-style-type: none;
    column-count: 3
}
#search-results {
    height: auto;
    max-height: 200px;
    width: 180px;
    overflow-x: hidden;
}
#search-results > li:nth-child(odd) {
    background-color: rgb(241, 241, 241);
}
#alert {
    display: none;
    text-align:center
}

</style>
{% endblock %}

{% block content %}
<form method="POST" action="{{ url_for('request_strains.order_page') }}" autocomplete="off">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div>
        <!--  Navigation Tabs -->
        <ul class="nav nav-tabs" id="strainsTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="strain-sets-tab" data-bs-toggle="tab" data-bs-target="#strain-sets-tab-pane" type="button" role="tab" aria-controls="strain-sets-tab-pane" aria-selected="false">Home</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="individual-strains-tab" data-bs-toggle="tab" data-bs-target="#individual-strains-tab-pane" type="button" role="tab" aria-controls="individual-strains-tab-pane" aria-selected="true">Individual Strains</button>
            </li>
        </ul>
        <!-- Tabs Content -->
        <div class="tab-content" id="strainsTabContent">
            <!-- Strain Sets Content -->
            <div class="tab-pane fade show active" id="strain-sets-tab-pane" role="tabpanel" aria-labelledby="strain-sets-tab">
                <h5>Home</h5>  
                <p>Pre-defined sets of strains can be ordered below.</p>
                <div class="accordion" id="aboutStrainSets">
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="divergentSets">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#divergentSets-collapse" aria-expanded="true" aria-controls="divergentSets">About Divergent Sets</button>
                        </h3>
                        <div id="divergentSets-collapse" class="accordion-collapse collapse show" aria-labelledby="divergentSets">
                            <div class="accordion-body">
                                The <strong>divergent set</strong> includes 12 genotypically different strains and can be used to determine broad-sense heritability after repeated independent measures of your favorite phenotype. <strong>We recommend starting with the divergent set.</strong>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="mappingSets">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#mappingSets-collapse" aria-expanded="false" aria-controls="mappingSets">About Mapping Sets</button>
                        </h3>
                        <div id="mappingSets-collapse" class="accordion-collapse collapse" aria-labelledby="mappingSets">
                            <div class="accordion-body">
                                Sets <strong>1-8</strong> each contain 46-48 strains that should be assayed for genetic mapping experiments. We recommend using a single set of 48 strains. After you have scored and optimized your quantitative trait, additional sets can be assayed to increase statistical power for association mapping.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive mb-5 strainSets">
                    <table class="table table-hover table-bordered strain-table">
                        <thead class="table-secondary">
                            <tr>
                                <th style="width:7%;">#</th>
                                <th style="width:7%;">Select</th>
                                <th style="width:20%;">Set Name</th>
                                <th style="width:20%;">Number of Strains</th>
                                <th style="width:46%;">Strains</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    <input class="form-check-input"  type="checkbox" name="items-10000" id="divergent" value="set_divergent" class="styled-checkbox" />
                                    <label class="form-check-label"  for="divergent">&nbsp;</label>
                                </td>
                                <td><label for="divergent">Divergent Set</label></td>
                                <td>{{ len(strain_sets["D"]) }}</td>
                                <td>
                                    <small>{{ strain_sets["D"]|join(' ') }}</small>
                                </td>
                            </tr>
                            {% for i in range(1,11) %}
                            <tr>
                                <td>{{ 1 + i }}</td>
                                <td>
                                    {# REVERT - enable mapping set 7 and 8 #}
                                    <input class="form-check-input" id="set-{{ i }}" type="checkbox" name="items-{{ i + 1000 }}" value="set_{{ i }}" class="styled-checkbox" {% if i>= 9 %}disabled{% endif %}/>
                                    <label class="form-check-label" for="set-{{ i }}">&nbsp;</label>
                                </td>
                                <td><label for="set-{{ i }}">Mapping Set {{ i }}</label></td>
                                <td>{{ len(strain_sets["{}".format(i)]) }}</td>
                                <td>
                                    <a class="btn btn-link btn-block view-strain-link" data-bs-toggle="collapse" data-bs-target="#view_set_{{ i }}">View Strains</a>
                                    <div class="collapse" id="view_set_{{ i }}">
                                        <ul class="view-strain-list">
                                            {% for strain in strain_sets["{}".format(i)] %}
                                            <li class="col-list">{{ strain }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Individual Strains Content -->
            <div class="tab-pane fade" id="individual-strains-tab-pane" role="tabpanel" aria-labelledby="individual-strains-tab">
                <h5>Individual Strains</h5>
                <p>Individual strains can be ordered below.</p>
                <!-- Filter Facets -->
                <div class="filters">
                    <div class="species">
                        <p>Species:</p>
                        <select id='species' class="form-select">
                            <option value="">Choose</option>
                            <option value="Caenorhabditis elegans">C. elegans</option>
                            <option value="Caenorhabditis briggsae">C. briggsae</option>
                            <option value="Caenorhabditis tropicalis">C. tropicalis</option>
                          </select>
                    </div>
                    <div class="dropdown">
                        <p>Search by Strains:</p>
                        <input id="search" type="text" class="form-control" data-bs-toggle="dropdown" placeholder="For example, AB1 ..." action="#" autocomplete="off">
                        <ul class="dropdown-menu" role="menu" id="search-results"></ul>
                    </div>
                    <div class="paste-list">
                        <p>Paste List:</p>
                        <div class="dropdown">
                            <button type='button' id='pasteStrains' class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Paste Strains</button>
                            <div class="dropdown-menu">
                                <form>
                                    <p>Paste List:</p>
                                    <textarea id="copyPasteStrains" class="form-control" placeholder="Paste a tab, comma, or newline delimited list of strains here"></textarea>
                                    <button type="button" class="btn btn-secondary" id="submitPaste">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p>Strain Data:</p>
                        <a href="{{ url_for('request_strains.strains_data_tsv') }}" type="button" class="btn btn-secondary" id="downloadData">Download Data</a>
                    </div>
                </div>
                <div id="alert" class="alert alert-danger" role="alert">
                    <i class="bi bi-exclamation-triangle-fill d-inline"></i>
                    <p class="d-inline m-2"></p>
                </div>
                <!-- Individual Strains Table -->
                <div class="table-responsive my-5 strainSets">
                    <table class="table table-hover table-bordered" id="indStrainsTable">
                        <thead class="table-secondary">
                            <tr>
                              <th>#</th>
                              <th style="width:7%;">Select</th>
                              <th style="width:18%;">
                                <span class="tooltip-item" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                    Species
                                </span>
                              </th>
                              <th style="width:18%;">
                                <span class="tooltip-item" data-bs-toggle="tooltip" data-placement="bottom" title="Name assigned to a group of strains that share the same genome-wide haplotype.">
                                  Isotype
                                </span>
                              </th>
                              <th style="width:18%;">
                                <span class="tooltip-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Individually isolated strains; If strains are assigned to the same isotype they are > 99.93% genetically identical">
                                  Strains
                                </span>
                              </th>
                              <th style="width:18%;"><span class="tooltip-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Date of original release">Release</span></th>
                              <th style="width:21%;"><span class="tooltip-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Previous names assigned to a strain or alternative names">Alternative Names</span>
                            </tr>
                        </thead>
                        <tbody class="searchable">
                            {% for isotype, strains in strain_listing|groupby('isotype') %}
                              <tr>
                                <td>{{ loop.index }}</td>
                                <td>
                                    {% set isotype_loop_index = loop.index %}
                                    <input class="form-check-input" type="checkbox" name="items-{{ loop.index }}" id="items-{{ loop.index }}" value="{{ isotype }}" info="{{ isotype + " " + strains|join(" ") }}" />
                                    <label class="form-check-label" for="items-{{ isotype_loop_index }}">&nbsp;</label>
                                </td>
                                <td class="species"><i>{{ strains[0].species }}</i></td>
                                <td><a href="{{ url_for('request_strains.isotype_page', isotype_name=isotype) }}">{{ isotype }}</a></td>
                                <td>{{ strains|join(", ") }}</td>
                                <td>{{ strains[0]['release'] }}</td>
                              {% if strains[0].previous_names %}
                                <td>{{ strains[0].previous_names.replace(',', '|').split('|') | join(', ') }}</td>
                              {% else %}
                                <td> </td>
                              {% endif %}
                              </tr>
                            {% endfor %}
                              <input name="from_catalog" type="hidden" value="true">
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
        <div id="checkout" data-offset-top="170" data-spy="affix">
            <button type="submit" value="Checkout" class="btn btn-secondary" id="checkoutBox">
                <i class="bi bi-cart-fill"></i>
                Order
            </button>
        </div>
    </div>
</form>

{% endblock %}
{% block script %}
<script>


    $(document).ready(function() {
            var patterns = [];
            $('#search').keyup(function() {
                $('.searchable tr').hide();
                $(this).val().split(',').forEach(function(r) {
                    var rex = new RegExp(r, "i");
                    var foundStrains = $('.searchable tr').filter(function() {
                        return rex.test($(this).text());
                    }).show();

                    $('#search-results').empty()
                    foundStrains.each(function() {
                        var foundStrain = $(this).find('td:nth-child(5)').text()
                        $('#search-results').append(`<li class='dropdown-item'>${foundStrain}</li>`)
                    })
                })

            })

        }(jQuery));

        $(document).ready(function() {
        if($("#species").val() === '') {
            $('#search').prop('disabled', true)
            $('#pasteStrains').prop('disabled', true)
            $('#downloadData').addClass('disabled')
        }

        $("#species").change(function() {
            var selectedVal = $(this).val()
            if (selectedVal) {
                $('.searchable tr').hide()
                $('.searchable tr td:nth-child(3):contains("' + selectedVal + '")').parent('tr').show()
                $('#search').prop('disabled', false)
                $('#pasteStrains').prop('disabled', false)
                $('#downloadData').removeClass('disabled')
            } else {
                $('.searchable tr').show()
                $('#search').prop('disabled', true)
                $('#pasteStrains').prop('disabled', true)
                $('#downloadData').addClass('disabled')
            }
        })

        
        $('#checkoutBox').prop('disabled', !$("input:checkbox").is(":checked"));

        $("input:checkbox").click(function(x) {
            highlight_set_buttons();
            $('#checkoutBox').prop('disabled', !$("input:checkbox").is(":checked"));
        });

        if($("#copyPasteStrains").val() === '') {
            $('#submitPaste').prop('disabled', true)
        }

        $("#copyPasteStrains").keyup(function() {
            if($(this).val() !== '') {
                $('#submitPaste').prop('disabled', false)
            } else {
                $('#submitPaste').prop('disabled', true)
            }
        })

        $("#submitPaste").click(function() {
            $('#alert').hide()
            pastedStrains = $("#copyPasteStrains").val().split(/[\s,\n,\t]+/);
            lost_strains = [];
            for (i in pastedStrains) {
                upperCaseStrain = pastedStrains[i].toUpperCase(); // Just in case users submit lower case
                found_strain = $("[info~='" + upperCaseStrain + "']");
                if (found_strain.length > 0) {
                    pasted = found_strain.prop("checked", true); // Use the word selector (~=)
                } else {
                    lost_strains.push(pastedStrains[i])
                }
            }
            if (lost_strains.length > 0) {
                set_alert(`The following strain(s) were not found ${lost_strains.join(", ")}`)
            }
            var rows = $('.searchable tr')
            rows.sort(function(a, b) {
                var value1 = $(a).find('td > input:checkbox').is(":checked")
                var value2 = $(b).find('td > input:checkbox').is(":checked")
                return (value1 > value2) ? -1 : 1
            })
            $.each(rows, function (idx, row) {
                $('#indStrainsTable > tbody').append(row)
            })
            $('#checkoutBox').prop('disabled', !$("input:checkbox").is(":checked"));
        })

        $("button[id^='set']").click(function() {
            set_name = $(this).attr("id");
            if ($("." + set_name).first().prop("checked") == false) {
                $("." + set_name).prop("checked", true);
            } else {
                $("." + set_name).prop("checked", false);
            }
            $('#checkoutBox').prop('disabled', !$("input:checkbox").is(":checked"));
            highlight_set_buttons();
        })

        $("button[id^='checkout']").click(function() {
            checkedValues = $('input:checkbox:checked').map(function() {
                return $(this).next();
            }).get();
            console.log(checkedValues);
        });
    });

    set_alert = function(msg) {
            $('#alert > p').html(msg)
            $('#alert').show()
    }

    highlight_set_buttons = function() {
        set_names = ["set_divergent", "set_1", "set_2", "set_3", "set_4"];
        for (i in set_names) {
            if ($("." + set_names[i] + ":checkbox:checked").length == $("." + set_names[i]).length) {
                $("#" + set_names[i]).addClass("btn-success");
            } else {
                $("#" + set_names[i]).removeClass("btn-success");
            }
        }
    }


    $(document).ready(function() {
        $('#search').keydown(function(event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
    });

    $(function() {
        $('[data-bs-toggle="tooltip"]').tooltip()
    })

</script>
{% endblock %}
