{% extends "_layouts/default.html" %} 

{% block custom_head %}
<style>
.view-strain-list {
    list-style-type: none;
    column-count: 3
}
#notFoundAlert {
    display: none;
    text-align:center
}
thead {
    position: sticky;
    top: 0;
    z-index: 1
}
.input-wrapper {
    position: relative;
}
.input-wrapper i {
  position: absolute;
  top: 20%;
  right: 5px;
  color: grey
}

</style>
{% endblock %}

{% block content %}
{% from "_includes/macros.html" import render_field %}

<div class="container">
    <div class="row">
        <form class="col mt-5" autocomplete="off">
            <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}" />
            <div>
                <!--  Navigation Tabs -->
                <ul class="nav nav-tabs" id="strainsTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="strain-sets-tab" data-bs-toggle="tab" data-bs-target="#strain-sets-tab-pane" type="button" role="tab" aria-controls="strain-sets-tab-pane" aria-selected="false">Home</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="individual-strains-tab" data-bs-toggle="tab" data-bs-target="#individual-strains-tab-pane" type="button" role="tab" aria-controls="individual-strains-tab-pane" aria-selected="true">Individual Strains</button>
                    </li>
                </ul>
                <!-- Tabs Content -->
                <div class="tab-content" id="strainsTabContent">
                    <!-- Strain Sets Content -->
                    <div class="tab-pane fade show active" id="strain-sets-tab-pane" role="tabpanel" aria-labelledby="strain-sets-tab">
                        <div class="p-5 mb-5 rounded shadow-sm text-bg-light">
                            <div class="row">
                                <div class="col-6 col-md-3 mb-3 mx-auto species" id="strains_sets_filter">
                                    {{ render_field(form.species, onchange="filter_species_sets") }}
                                </div>
                                <div class="col-9 mx-auto">
                                    <p>Pre-defined sets of strains can be ordered below.</p>
                                    <div class="accordion accordion-flush" id="strainSetInfoAccordion">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="divergentSets">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#divergentSets-collapse" aria-expanded="true" aria-controls="divergentSets">About Divergent Sets</button>
                                            </h2>
                                            <div id="divergentSets-collapse" class="accordion-collapse collapse show" aria-labelledby="divergentSets">
                                                <div class="accordion-body">
                                                    <p>The <strong>divergent set</strong> includes 12 genotypically different strains and can be used to determine broad-sense heritability after repeated independent measures of your favorite phenotype. <strong>We recommend starting with the divergent set.</strong></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="mappingSets">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#mappingSets-collapse" aria-expanded="false" aria-controls="mappingSets">About Mapping Sets</button>
                                            </h2>
                                            <div id="mappingSets-collapse" class="accordion-collapse collapse" aria-labelledby="mappingSets">
                                                <div class="accordion-body">
                                                    <p>Mapping sets comprise 48 strains that can be used to collect phenotype data for broad diversity or genome-wide association studies. Multiple sets of strains can be measured for quantitative traits to increase statistical power in genome-wide association studies.</p>
                                                    <p><strong>Please note: </strong>We are actively creating mapping sets for all strains in the most current release of CaeNDR. We hope to release these new sets in the first quarter of 2024 once CaeNDR's move to Johns Hopkins University is complete.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive mb-5 strainSets">
                            <table class="table table-hover table-bordered text-center strain-table">
                                <caption class="visually-hidden">A list of strain sets available for purchase.</caption>
                                <thead class="table-secondary">
                                    <tr>
                                        <th style="width:7%;">Select</th>
                                        <th style="width:20%;">Species</th>
                                        <th style="width:20%;">Set Name</th>
                                        <th style="width:20%;">Number of Strains</th>
                                        <th style="width:33%;">Strains</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider strainSetsTable">
                                    {% for k, v in strain_sets.items() %}
                                    {% set species = k[1] %}
                                    {% if k[0] == 'D' %}
                                    <tr>
                                        <td>
                                            <input class="form-check-input"  type="checkbox" name="items-10000" id="divergent" value="set_divergent" class="styled-checkbox" />
                                            <label class="form-check-label visually-hidden"  for="divergent">Select row</label>
                                        </td>
                                        <td class="species" data-value="{{ species }}"><em>{{ species|capitalize|replace('_', '. ')  }}</em></td>
                                        <td class="strainName"><label for="divergent">Divergent Set</label></td>
                                        <td>{{ len(v) }}</td>
                                        <td>{{ v|join(' ') }}</td>
                                    </tr>

                                    {% else %}
                                        {% set set = k[0]|int %}
                                    <tr class="{% if set>= 9 %}d-none{% endif %}">
                                        <td>
                                            <input class="form-check-input" id="set-{{ set }}" type="checkbox" name="items-{{ set + 1000 }}" value="set_{{ set }}" class="styled-checkbox" />
                                            <label class="form-check-label visually-hidden" for="set-{{ set }}">Select row</label>
                                        </td>
                                        <td class="species" data-value="{{ species }}"><em>{{ species|capitalize|replace('_', '. ') }}</em></td>
                                        <td class="strainName"><label for="set-{{ set }}">Mapping Set {{ set }}</label></td>
                                        <td>{{ len(v) }}</td>
                                        <td>
                                            <a class="btn btn-link btn-block view-strain-link" data-bs-toggle="collapse" data-bs-target="#view_set_{{ set }}">View Strains</a>
                                            <div class="collapse" id="view_set_{{ set }}">
                                                <ul class="view-strain-list">
                                                    {% for strain in v %}
                                                    <li class="col-list">{{ strain }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Individual Strains Content -->
                    <div class="tab-pane fade" id="individual-strains-tab-pane" role="tabpanel" aria-labelledby="individual-strains-tab">
                        <!-- Filter Facets -->
                        <div class="filters px-2 py-2 mb-5 rounded shadow-sm text-bg-light">
                            <!-- Download Data section -->
                            <div class="d-flex flex-wrap justify-content-end mb-3">
                                <button type="button" class="btn border-0 fw-bold fs-6" id="downloadData"><i
                                        class="bi bi-box-arrow-down text-secondary fs-5" aria-hidden="true"></i> Download Species-wide Strain
                                    Data</button>
                            </div>
                            <!-- /Download Data section -->
                            <div class="d-flex flex-wrap justify-content-around p-3">
                                <div class="col-12 col-md-3 mx-1 mb-3 species" id="ind_strains_filter">
                                    {{ render_field(form.species, onchange="filter_species_ind") }}
                                </div>
                                <div class="col-12 col-md-3 mx-1 mb-3">
                                    <label for="search" class="form-label">Search by Strains:</label>
                                    <div class="dropdown">
                                        <div class="input-wrapper" data-bs-toggle="dropdown">
                                            <input id="search" type="text" class="form-control dropdown-toggle" placeholder="For example, AB1" action="#" autocomplete="off">
                                            <i class="bi bi-x-circle-fill" id="clear"></i>
                                        </div>
                                        <div class="dropdown-menu table-responsive p-1 dropdownSelect" role="menu">
                                            <table class="table table-hover table-striped">
                                                <caption class="visually-hidden">A list of strains.</caption>
                                                <thead class="align-middle">
                                                    <tr>
                                                        <th scope="col"></th>
                                                    </tr>
                                                </thead>
                                                <tbody class="align-middle" id="search-results"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3 mx-1 mb-3"> 
                                    <label for="pasteStrainsDropdown" class="form-label">Paste List:</label> 
                                    <div class="dropdown-center d-grid" id="pasteStrainsDropdown"> 
                                        <button type='button' class="btn btn-secondary dropdown-toggle text-light" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="true">Paste Strains</button> 
                                        <div class="dropdown-menu p-3">
                                             <form> 
                                                <label for="copyPasteStrains" class="form-label">Paste List:</label> 
                                                <textarea id="copyPasteStrains" class="form-control" placeholder="Paste a tab, comma, or newline delimited list of strains here"></textarea> 
                                                <div class="my-3 text-end"> 
                                                    <button type="button" class="btn btn-secondary text-light" id="submitPaste" data-bs-toggle="dropdown" aria-expanded="false">Submit</button> 
                                                </div> 
                                            </form> 
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="notFoundAlert" class="alert alert-danger" role="alert">
                            <i class="bi bi-exclamation-triangle-fill d-inline"></i>
                            <p class="d-inline m-2"></p>
                        </div>
                        <!-- Individual Strains Table -->
                        <div class="table-responsive my-5 strainSets">
                            <table class="table table-hover table-bordered text-center" id="indStrainsTable">
                                <thead class="table-secondary">
                                    <tr>
                                      <th style="width:7%;">Select</th>
                                      <th style="width:18%;">
                                        <span class="tooltip-item" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                            Species
                                        </span>
                                      </th>
                                      <th style="width:18%;">
                                        <span class="tooltip-item" data-bs-toggle="tooltip" data-placement="bottom" title="Name assigned to a group of strains that share the same genome-wide haplotype.">
                                          Isotype
                                        </span>
                                      </th>
                                      <th style="width:18%;">
                                        <span class="tooltip-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Individually isolated strains; If strains are assigned to the same isotype they are > 99.93% genetically identical">
                                          Strains
                                        </span>
                                      </th>
                                      <th style="width:18%;"><span class="tooltip-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Date of original release">Release</span></th>
                                      <th style="width:21%;"><span class="tooltip-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Previous names assigned to a strain or alternative names">Alternative Names</span>
                                    </tr>
                                </thead>
                                <tbody class="searchable">
                                    {% for isotype, strains in strain_listing|groupby('isotype') %}
                                      <tr>
                                        <td>
                                            {% set isotype_loop_index = loop.index %}
                                            <input class="form-check-input" type="checkbox" name="items-{{ loop.index }}" id="items-{{ loop.index }}" value="{{ isotype }}" info="{{ isotype + " " + strains|join(" ") }}" />
                                            <label class="form-check-label visually-hidden" for="items-{{ loop.index }}">Select row</label>
                                        </td>
                                        <td class="species" data-value="{{ strains[0].species_name }}"><i>{{ strains[0].species_name|capitalize|replace('_', '. ') }}</i></td>
                                        <td class="strainName"><a href="{{ url_for('request_strains.isotype_page', isotype_name=isotype) }}">{{ isotype }}</a></td>
                                        <td>{{ strains|join(", ") }}</td>
                                        <td>{{ strains[0]['release'] }}</td>
                                      {% if strains[0].previous_names %}
                                        <td>{{ strains[0].previous_names.replace(',', '|').split('|') | join(', ') }}</td>
                                      {% else %}
                                        <td> </td>
                                      {% endif %}
                                      </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
                <div class="d-grid d-flex justify-content-end" id="checkout">
                    <button type="submit" value="Checkout" name="add_to_cart" class="btn btn-secondary text-light" id="checkoutBox">
                        <i class="me-2 bi bi-cart-fill"></i>
                        Order
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}
{% block script %}
<script>

    $(document).ready(function() {
        
        let filtered_by_species;
        
        if($("#speciesSelect").val() === '') {
            $('#search').prop('disabled', true)
            $('#pasteStrainsDropdown>button').prop('disabled', true)
            $('#downloadData').addClass('disabled')
        }

        filter_species_ind = function() {
            $(document).on('change', '#ind_strains_filter #speciesSelect', function(e) {
                e.preventDefault()
                const selectedVal = $(this).val()
                if (selectedVal) {
                    filtered_by_species =  $('.searchable tr').hide().filter(function() {
                        return $(this).find('td:nth-child(2)').attr('data-value') == selectedVal
                    })
                    filtered_by_species.show()
                    reset_values()
                    $('#search').prop('disabled', false)
                    $('#pasteStrainsDropdown>button').prop('disabled', false)
                    $('#downloadData').removeClass('disabled')
                } else {
                    $('.searchable tr').show()
                    $('#search').prop('disabled', true)
                    $('#pasteStrainsDropdown>button').prop('disabled', true)
                    $('#downloadData').addClass('disabled')
                }                
            })
        }


        filter_species_sets = function() {
            $(document).on('change', '#strains_sets_filter #speciesSelect', function(e) {
                e.preventDefault()
                reset_values()
                const selectedVal = $(this).val()
                $('.strainSetsTable tr').hide().filter(function() {
                        return $(this).find('td:nth-child(2)').attr('data-value') == selectedVal
                    }).show()
            })
        }

        $('#search').keyup(function() {
            $('#notFoundAlert').hide()
            filtered_by_species.hide();
            $(this).val().split(',').forEach(function(r) {
                var rex = new RegExp(r, "i");
                var foundStrains = filtered_by_species.filter(function() {
                    return rex.test($(this).text());
                }).show();

                $('#search-results').empty()
                if (!foundStrains.length) {
                    $('#search-results').append(`<tr><td>Strain not found</td></tr>`)
                } else {
                    foundStrains.each(function() {
                    var foundStrain = $(this).find('td:nth-child(4)').text()
                    $('#search-results').append(`<tr><td><button type="button" class="btn btn-link text-start found-strain" data-value="${foundStrain}">${foundStrain}</button></td></tr>`)
                })
                }
            })
        })

        $('#clear').on('click', function() {
            filtered_by_species.show()
            $('#search').val('')
        })

        $(document).on('click', '.found-strain', function(){
            var strain = $(this).attr('data-value')
            $('#search').val(strain)
            filtered_by_species.hide().filter(function() {
                return $(this).find('td:nth-child(4)').text() == strain
            }).show()
            $('#search-results').empty()
        })
        
        $('#checkoutBox').prop('disabled', !$("input:checkbox").is(":checked"));

        $("input:checkbox").click(function(x) {
            highlight_set_buttons();
            $('#checkoutBox').prop('disabled', !$("input:checkbox").is(":checked"));
        });

        $('#submitPaste').prop('disabled', ($("#copyPasteStrains").val() === ''))

        $("#copyPasteStrains").keyup(function() {
            $('#submitPaste').prop('disabled', ($(this).val() === ''))
        })

        $("#submitPaste").click(function() {
            $('#notFoundAlert').hide()
            pastedStrains = $("#copyPasteStrains").val().split(/[\s,\n,\t]+/);
            lost_strains = [];
            for (i in pastedStrains) {
                upperCaseStrain = pastedStrains[i].toUpperCase(); // Just in case users submit lower case
                found_strain = filtered_by_species.find("[info~='" + upperCaseStrain + "']");
                if (found_strain.length > 0) {
                    pasted = found_strain.prop("checked", true); // Use the word selector (~=)
                } else {
                    lost_strains.push(pastedStrains[i])
                }
            }
            $("#copyPasteStrains, #search").val('')

            var species = filtered_by_species[0].cells[1].innerText

            if (lost_strains.length > 0) {
                set_alert(`The following strain(s) were not found ${lost_strains.join(", ")} for ${species.italics()} species`)
            }
            
            filtered_by_species.sort(function(a, b) {
                var value1 = $(a).find('td > input:checkbox').is(":checked")
                var value2 = $(b).find('td > input:checkbox').is(":checked")
                return (value1 > value2) ? -1 : 1
            })
            $.each(filtered_by_species, function (idx, row) {
                $('#indStrainsTable > tbody').append(row)
            })
            $('#checkoutBox').prop('disabled', !$("input:checkbox").is(":checked"));
            filtered_by_species.show()
        })

        $('#downloadData').click(function() {
            const selectedVal = $('#ind_strains_filter #speciesSelect').val();
            let url = '{{ url_for("request_strains.strains_data_csv", release_name="latest", species_name="SPECIES", file_ext="csv") }}';
            if (selectedVal) {
                url = url.replace("SPECIES", selectedVal);
            } else {
                throw Error('No species selected.');
            }
            window.location.href = url;
        });

        $("button[id^='set']").click(function() {
            set_name = $(this).attr("id");
            if ($("." + set_name).first().prop("checked") == false) {
                $("." + set_name).prop("checked", true);
            } else {
                $("." + set_name).prop("checked", false);
            }
            $('#checkoutBox').prop('disabled', !$("input:checkbox").is(":checked"));
            highlight_set_buttons();
        })

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
              if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
              }
            }
        });
     

        $(document).on('click', "button[id^='checkout']", function(e) {
            e.preventDefault()
            const data = {csrf_token: $('#csrf_token').val(), strains: []}
            $('input:checkbox:checked').each(function() {
                data.strains.push({name: $(this).attr('value'), species: $(this).parent().siblings('.species').text()})
            })
            $.ajax({
                type: "POST",
                url: "{{ url_for('request_strains.order_page_post') }}",
                data: JSON.stringify(data),
                contentType: "application/json",
                dataType: "json",
                success: function(response) {
                    window.location.href = "/request-strains/checkout";
                },
                error: function(error){
                    console.log('something went wrong', error)
                }
            })

        });

    });

    set_alert = function(msg) {
            $('#notFoundAlert > p').html(msg)
            $('#notFoundAlert').show()
    }

    highlight_set_buttons = function() {
        set_names = ["set_divergent", "set_1", "set_2", "set_3", "set_4"];
        for (i in set_names) {
            if ($("." + set_names[i] + ":checkbox:checked").length == $("." + set_names[i]).length) {
                $("#" + set_names[i]).addClass("btn-success");
            } else {
                $("#" + set_names[i]).removeClass("btn-success");
            }
        }
    }

    reset_values = function() {
        $('#notFoundAlert').hide()
        $("input:checkbox").prop("checked", false)
        $('#search').val('')
        $('#search-results').empty()
        $("#copyPasteStrains").val('')
    }

    $(document).ready(function() {
        $('#search').keydown(function(event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
    });


</script>
{% endblock %}



