{% extends "_layouts/default.html" %}

{% block content %}
<div class="container pb-5">
    <div class="d-flex flex-wrap justify-content-around my-5">
        <!-- Strains Card Column -->
        <div class="d-flex flex-column col-12 col-md-3 mb-3" id="strains-card">
            <div class="card mb-5">
                <div class="card-header text-bg-secondary text-light fw-bold">
                    Strains
                </div>
                <div class="card-body">
                    <p class="card-text">
                    <ul>
                        {% for i in isotype %}
                        {% if i.isotype_ref_strain %}
                        <li><strong><span class="tooltip-item" data-toggle="tooltip" data-placement="bottom"
                                    title="reference strain">{{ i.strain }}</span></strong></li>
                        {% else %}
                        <li>{{ i.strain }}</li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    </p>
                </div>
            </div>
            {% if isotype[0].previous_names %}
            <div class="card mb-5">
                <div class="card-header text-bg-secondary text-light fw-bold">
                    Alternative Names
                </div>
                <div class="card-body">
                    <p class="card-text">
                    <ul>
                        {% for i in isotype[0].previous_names.split("|") %}
                        <li>{{ i }}</li>
                        {% endfor %}
                    </ul>
                    </p>
                </div>
            </div>
            {% endif %}
        </div>
        <!-- /Strains Card Column -->

        <!-- Summary Card Column -->
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-header text-bg-secondary text-light fw-bold">
                    Summary
                </div>
                {% if isotype_ref_strain.latitude %}
                <div id="map" style="height: 200px; width:100%">
                    <script>
                        mapboxgl.accessToken = 'pk.eyJ1Ijoic3dhY2hzcHJlc3MiLCJhIjoiY2trZDJyZWtmMHM3OTJvcWlpNmE3cTQ1ZSJ9.UwY-WYd78c7SnO1S_37vtg';
                        var map = new mapboxgl.Map({
                            container: 'map',
                            style: 'mapbox://styles/mapbox/outdoors-v11', // stylesheet location
                            center: [ "{{ isotype_ref_strain.longitude }}", "{{ isotype_ref_strain.latitude }}"], // starting position [lng, lat]
                            zoom: 7 // starting zoom
                        });
                        </script>
                    </div>
                {% endif %}
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <strong>
                                <span class="tooltip-item" data-toggle="tooltip" data-placement="bottom"
                                    title="Name assigned to a group of strains that share the same genome-wide haplotype.">
                                    Isotype:
                                </span></strong>{{ isotype_ref_strain["isotype"] }}
                        </li>
                        <li class="list-group-item"><strong> <span class="tooltip-item" data-toggle="tooltip" data-placement="bottom"
                                    title="Name of strain we distribute as a representative of an isotype.">
                                    Reference Strain:
                                </span></strong>
                            {{ isotype_ref_strain["strain"]}}
                        </li>
                        <li class="list-group-item">
                            <strong> <span class="tooltip-item" data-toggle="tooltip" data-placement="bottom"
                                    title="">Species:</span>
                            </strong>
                            <em>{{ isotype_ref_strain["species_name"]|replace('c_', 'C. ')}}</em>
                        </li>
                        <li class="list-group-item"><span class="tooltip-item" data-toggle="tooltip" data-placement="bottom"
                                title="Dataset in which isotype was originally released."><strong>Release:</strong></span>
                            {{ isotype_ref_strain['release']|format_release }}
                        </li>
                        <li class="list-group-item"><strong>Sampling Date:</strong>
                            {{ isotype_ref_strain["sampling_date"] }}
                        </li>
                        <li class="list-group-item"><strong>Strain Issues:</strong>
                            {{ isotype_ref_strain["issue_notes"] }}
                        </li>
                        <li class="list-group-item"><strong>Latitude, Longitude:</strong>
                            {% if isotype_ref_strain['latitude'] %}
                            {{ isotype_ref_strain["latitude"] }}, {{ isotype_ref_strain["longitude"] }}
                            {% else %}
                            Unknown
                            {% endif %}
                        </li>
                        <li class="list-group-item"><strong>Elevation:</strong>
                            {% if isotype_ref_strain['elevation'] %}
                            {{ isotype_ref_strain["elevation"] }} m
                            {% else %}
                            Unknown
                            {% endif %}
                        </li>
                        <li class="list-group-item">
                            <span class='tooltip-item' data-toggle='tooltip' title='Environment type class'>
                                <strong>Landscape:</strong></span>
                            {{ isotype_ref_strain["landscape"] or "ND"}}
                        </li>
                        <li class="list-group-item"><span class='tooltip-item' data-toggle='tooltip'
                                title='Material in or on which nematodes were isolated'>
                                <strong>Substrate:</strong></span>
                            {{ isotype_ref_strain["substrate"] or "ND" }}
                        </li>
                        <li class="list-group-item">
                            <strong>Sampled By:</strong>
                            {{ isotype_ref_strain["sampled_by"] }}
                        </li>
                        <li class="list-group-item"><strong>Substrate Temperature (C):</strong>
                            {{ isotype_ref_strain['substrate_temp'] or "ND" }}
                        </li>
                        <li class="list-group-item"><strong>Ambient Temperature (C):</strong>
                            {{ isotype_ref_strain['ambient_temp'] or "ND" }}
                        </li>
                        <li class="list-group-item"><strong>Ambient Humidity (%):</strong>
                            {{ isotype_ref_strain['ambient_humidity'] or "ND" }}
                        </li>
                        <li class="list-group-item">
                            <small>Data in this table are for the isotype reference strain.</small>
                        </li>
                        <li class="list-group-item">
                            <small>ND = not done</small>
                        </li>
                    </ul>
                </div>
              </div>
        </div>
        <!-- /Summary Card Column -->
        </div>
        <!-- /Flex -->
</div> <!-- /Container -->
{% endblock %}

{% block script %}

<script>

$( document ).ready( function() {
  $('[data-toggle="tooltip"]').tooltip();
});

function getSpeciesMarker(species){
    if (species === 'c_elegans') {
        return '{{ext_asset("img/icons/elegansMarkerOutline.svg")}}'
    } else if (species === 'c_briggsae') {
        return '{{ext_asset("img/icons/briggsaeMarkerOutline.svg")}}'
    } else {
        return '{{ext_asset("img/icons/tropicalisMarkerOutline.svg")}}'
    }
}

const species_name = {{species|tojson}}

const markerUrl = getSpeciesMarker(species_name)

function createCustomMarkerElement(markerUrl) {
  var markerEl = document.createElement('div');
  markerEl.className = 'custom-marker';
  markerEl.style.backgroundImage = `url(${markerUrl})`;
  markerEl.style.backgroundSize = 'contain';
  markerEl.style.backgroundRepeat = 'no-repeat';
  markerEl.style.width = '30px'; 
  markerEl.style.height = '30px';

  return markerEl;
}

if (document.getElementById('map')) {
    ACCESS_TOKEN = mapboxgl.accessToken;
    var markerHeight = 50, markerRadius = 10, linearOffset = 25;
    var popupOffset = {
        'top': [0, 0],
        'top-left': [0,0],
        'top-right': [0,0],
        'bottom': [0, -markerHeight],
        'bottom-left': [linearOffset, (markerHeight - markerRadius + linearOffset) * -1],
        'bottom-right': [-linearOffset, (markerHeight - markerRadius + linearOffset) * -1],
        'left': [markerRadius, (markerHeight - markerRadius) * -1],
        'right': [-markerRadius, (markerHeight - markerRadius) * -1]
    };



    data = {{ strain_json_output|safe }}

    data.forEach(function(d) {
        if (d.latitude) {
            const innerHTML = `
                <div>
                    <ul style="list-style-type:none; padding-left:0px">
                        ${d.isotype ? '<li><b><a href="../' + d.isotype + '">Isotype: ' + d.isotype + '</a></b></li>': ''}
                        ${d.strain ? '<li><b>Strain: ' + d.strain + '</b></li>': ''}
                        ${d.isolation ? '<li>Isolation: ' + d.isolation + '</li>': ''}
                        ${d.elevation ? '<li>Elevation: ' + d.elevation + '</li>': ''}
                    </ul>
                </div>
            `;
            p = new mapboxgl.Popup()
                .setHTML(innerHTML)
                .setOffset(popupOffset);
            m = new mapboxgl.Marker({ element: createCustomMarkerElement(markerUrl) })
                .setLngLat([d.longitude, d.latitude])
                .setPopup(p)
                .addTo(map);
        }
    })
}


const isotype = {{isotype_name|tojson|safe}}
$.getJSON(`/request-strains/isotype-img/${isotype}`, function(data) {
    for (const [strain, img] of Object.entries(data)) {
        if (img.url) {
            const html = `
                <div class="card mb-5">
                    <div class="card-header text-bg-secondary text-light fw-bold">
                        Images
                    </div>
                    <div class="d-flex flex-wrap justify-content-between card-body p-3">
                        <a href="${img.url}">
                            <figure class="text-center" style="width:45%">
                            <img class="img-thumbnail" src="${img.thumb ?? img.url}" name="${strain}" style="width:100%;" alt="">
                            <figcaption>${strain}</figcaption>
                            </figure>
                        </a>
                    </div>
                </div>`
            $(html).appendTo($('#strains-card'))
        }
    }
  })
</script>

{% endblock %}
