{% extends "_layouts/default.html" %}

{% block content %}

<style>
    h4, h5 {
        text-align: center;
        color: black;
        font-weight: bold;
    }
    .card a {
        text-decoration: none;
        color: black
    }
    .container {
        display: flex;
        justify-content: center;
    }
    .card {
        text-align: center;
        width: 25rem;
        margin: 2rem
    }
    @media only screen and (max-width: 770px) {
        .container {
            flex-direction: column;
        }
        .card {
            width:auto
        }
    }
</style>

<div class="container-fluid">
    <h2>Request Strains</h2>
    <h4>Please choose your affiliation:</h4>
    <div class="container">
        <div class="card shadow cardBorderBottom">
            <a href="{{ url_for('request_strains.strains_catalog')}}">
                <i class="bi bi-book-fill text-info" aria-hidden="true"></i>
                <div class="card-body">
                    <h5 class="card-title">Academia</h5>
                    <p class="card-text">I am a researcher, post-doc, graduate student, undergraduate student, staff member, or other affiliate of a post-secondary educational institution.</p>
                </div>
            </a>
        </div>
        <div class="card shadow cardBorderBottom">
            <a href="https://nulive.technologypublisher.com/tech/The_Caenorhabditis_Natural_Diversity_Resource">
                <i class="bi bi-briefcase-fill text-info" aria-hidden="true"></i>
                <div class="card-body">
                    <h5 class="card-title">Industry</h5>
                    <p class="card-text">I work at a for-profit company or other organization that is not affiliated with post-secondary education.</p>
                </div>
            </a>
        </div>
    </div>
</div>


{% endblock %}

