{% extends "_layouts/default.html" %}

{% block custom_head %}

<script src='https://api.mapbox.com/mapbox-gl-js/v2.0.1/mapbox-gl.js'></script> 
<link href='https://api.mapbox.com/mapbox-gl-js/v2.0.1/mapbox-gl.css' rel='stylesheet' /> 
<style>
  video {
    width: 100%;
    height: auto;
  }
  #map {
    z-index: 0;
  }
  
  .zoomContainer {
    position: relative;
    z-index: 1000;
  }

  #zoomIn {
    border-bottom: 2px solid var(--bs-dark);
  }
</style>

{% endblock %}



{% block content %}

<div class="container-fluid px-5">
  <!-- Hiding video section until final version is available --> 
  <!-- <video class="d-block mx-auto" controls preload="auto" poster="/static/img/video-placeholder.png" aria-hidden="true">
    <source src="/static/video/test-video.mp4" type="video/mp4">
  </video>
  <div class="row mb-5">
    <div class="d-flex flex-wrap justify-content-end text-end mx-auto my-2 optionsToolbar">
      <a href="#collapseTranscript" data-bs-toggle="collapse" data-bs-target="#collapseTranscript" aria-expanded="false"
        aria-control="collapseTranscript"><i class="bi bi-card-text" aria-hidden="true"></i> View Video Transcript</a>
    </div>
    <div clas="d-flex flex-wrap justify-content-start">
      <div class="collapse" id="collapseTranscript">
        <div class="card card-body">
          A video transcript can go here.
        </div>
      </div>
    </div>
  </div> -->
  <!-- /Row -->
  <!-- /video section -->
  <div class="row px-2 mb-5">
    <div class="col-12 col-md-6">
      <h2>What is <em>C. elegans</em>?</h2>
      <p>
        <em>Caenorhabditis elegans</em>  is a non-parasitic nematode roundworm that lives in rotting material and eats bacteria and fungi. 
        Because this species grows easily and quickly in the laboratory, it is a powerful model to learn about human development, complex behaviors, 
        and evolutionary processes. For more information about <em>C. elegans</em> 
        see this<a href="https://en.wikipedia.org/wiki/Caenorhabditis_elegans"> Wikipedia </a>page
      </p>
    </div>
    <div class="col-12 col-md-6 p-0 mb-5">
      <figure class="text-center">
        <img class="d-block mx-auto rounded shadow-sm" src="{{ ext_asset('img/crawl.gif') }}" style="max-width:100%;">
        <figcaption class="small mx-auto">Movie of <em>C. elegans</em> taken by the <a href="https://goldsteinlab.weebly.com/">Goldstein Lab</a></figcaption>
      </figure>
    </div>
  </div>
  <!-- /Row -->
  <div class="row px-2 mb-5">
    <div class="col-12 text-bg-light p-5 mb-5 rounded shadow-sm" style="min-height:30vh">
      <h2 class="text-center mb-5">What about <em>C. briggsae</em> and <em>C. tropicalis</em>?</h2>
      <p>
        These two species are distantly related to <em>C. elegans</em>. For this reason, they can be used for comparative studies. Additionally, the two species are found worldwide and enable studies of population genomics and natural diversity in their own ways.
      </p>
    </div>
  </div>
  <!-- /Row -->
  <div class="row px-2 mb-5">
    <div class="col-12 col-md-6">
      <h2>Global Distribution of wild isolates</h2>
      <p>
        Most research groups that study the <em>C. elegans</em> focus on the laboratory-adapted strain (called N2) isolated in 
        Bristol, England in the 1950s. We have learned a great deal about basic biological processes from studies of this one strain. The same goes for <em>C. briggsae</em> and <em>C. tropicalis</em>.
      </p>
      <p>
        All wild strains are as different from one another as humans are different from one another. 
        These strains are isolated from a variety of environments in nature when researchers collect rotting materials, including fruits, 
        flowers, nuts, berries, stems, leaves, and compost. We can use the natural diversity of these strains to learn about how populations 
        of individuals are genetically different from another and how those differences might impact disease.
      </p>
    </div>
    <div class="col-12 col-md-6 mb-5">
      <!-- Map -->
      <div id="map" style="height: 500px; width:100%">
        <div class="btn-group-vertical shadow-sm m-3 zoomContainer" role="group" aria-hidden="true">
          <button class="btn text-bg-light d-none d-md-block" id="zoomIn" tabindex="-1"><i
              class="bi bi-plus-circle"></i></button>
          <button class="btn text-bg-light d-none d-md-block" id="zoomOut" tabindex="-1"><i
              class="bi bi-dash-circle"></i></button>
        </div>
      </div>
      <div class="d-flex justify-content-around mt-2">
        <div>
          <img src='{{ ext_asset("img/icons/elegansMarkerOutline.svg") }}' style="height:18px;width:auto;" alt="">
          <i>C. elegans</i>
        </div>
        <div>
          <img src='{{ ext_asset("img/icons/briggsaeMarkerOutline.svg") }}' style="height:18px;width:auto;" alt="">
          <i>C. briggsae</i>
        </div>
        <div>
          <img src='{{ ext_asset("img/icons/tropicalisMarkerOutline.svg") }}' style="height:18px;width:auto;" alt="">
          <i>C. tropicalis</i>
        </div>
      </div>
      <!-- /Map -->
    </div>
  </div>
  <!-- /Row -->
  <div class="row px-2 mb-5">
    <div class="col-12 col-md-6">
      <h2>CaeNDR goals</h2>
      <p>
        To facilitate the study of natural diversity by <em>Caenorhabditis</em> research groups, we created the <em>Caenorhabditis</em> 
        Natural Diversity Resource (CaeNDR). We have three major goals:
      </p>
  
      <ol>
        <li>
          To accept, organize, and distribute wild strains to research groups that want to investigate their favorite trait(s) 
          across natural <em>Caenorhabditis</em> strains. See <a href="/">strains</a>.
        </li>
        <li>
          To sequence the whole genomes of wild <em>C. elegans</em>, <em>C. briggsae</em>, and <em>C. tropicalis</em> strains, provide the aligned sequence data, and facilitate discovery 
          of genetic variation across the entire species. See <a class="txt-link" href="{{ url_for('data.data') }}">Data</a>.
        </li>
        <li>
          To perform genome-wide association mappings to correlate genotype with phenotype and identify genetic variation underlying quantitative traits. 
        </li>
      </ol>
  
      <p>
        Please <a href="{{ url_for('about.contact_us') }}">let us know</a> what we can do to facilitate your discoveries! We are interested in
        adding new resources and tools.
      </p>
    </div>
    <div class="col-12 col-md-6">
      <img src="/static/img/caeNDRLogo.png" class="d-none d-md-block img-fluid mx-auto" style="width:50%" alt="CaeNDR logo">
    </div>
  </div>
  <!-- /Row -->
</div>
{% endblock %}



{% block script %}

<script>

    // Icons
{% autoescape off %}
const icon_elegans = L.icon({
    iconUrl: '{{ ext_asset("img/icons/elegansMarkerOutline.svg") }}',
    iconSize: [20, 30],
    iconAnchor: [12, 16],
    popupAnchor: [0, -15],
});

const icon_briggsae = L.icon({
    iconUrl: '{{ ext_asset("img/icons/briggsaeMarkerOutline.svg") }}',
    iconSize: [20, 30],
    iconAnchor: [12, 16],
    popupAnchor: [0, -15],
});
const icon_tropicalis = L.icon({
    iconUrl: '{{ ext_asset("img/icons/tropicalisMarkerOutline.svg") }}',
    iconSize: [20, 30],
    iconAnchor: [12, 16],
    popupAnchor: [0, -15],
});


const icon_hover = L.icon({
    iconUrl: '{{ ext_asset("img/icons/hoverMarkerOutline.svg") }}',
    iconSize: [20, 30],
    iconAnchor: [12, 16],
    popupAnchor: [0, -15],
});
{% endautoescape %}

const MB_ATTR = 'Tiles &copy; Esri &mdash; Source: Esri, DeLorme, NAVTEQ, USGS, Intermap, iPC, NRCAN, METI, TomTom, 2012';
const MB_URL = 'https://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}';
const OSM_URL = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
const OSM_ATTRIB = '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap</a> contributors';

const southWest = L.latLng(-100, -200);
const northEast = L.latLng(100, 200);
const bounds = L.latLngBounds(southWest, northEast);

const map = L.map('map', {minZoom:1, maxZoom:8, maxBounds: bounds, scrollWheelZoom: false, zoomControl: false, attributionControl: false,}).setView([20, -100], 1);
L.tileLayer(MB_URL, {attribution: MB_ATTR, id: 'mapbox.streets', continuousWorld: false, worldCopyJump: true}).addTo(map);

const Species = Object.freeze({
  ELEGANS: 'Caenorhabditis elegans',
  BRIGGSAE: 'Caenorhabditis briggsae',
  TROPICALIS: 'Caenorhabditis tropicalis'
});

$(document).ready(function () {

  const data = {{ strain_listing|tojson|safe }}

  data.forEach(function(d) {
    if (d.latitude) {
      const popup_content = `
        <div>
          <ul style="list-style-type:none; padding-left:0px">
            ${d.isotype ? '<li><b><a href="../isotype/' + d.isotype + '">Isotype: ' + d.isotype + '</a></b></li>': ''}
            ${d.strain ? '<li>Strain: ' + d.strain + '</li>': ''}
            ${d.isolation ? '<li>Isolation: ' + d.isolation + '</li>': ''}
            ${d.elevation ? '<li>Elevation: ' + d.elevation + '</li>': ''}
            ${d.isolation ? '<li>Location: ' + d.location + '</li>': ''}
          </ul>
        </div>
        `;

      const marker = L.marker([d.latitude, d.longitude], { keyboard: false, alt: "a marker showing the geographic location of a strain", icon: set_marker_color(d.species),
                                                      species: d.species})
                                                      .on('mouseover', function(){
                                                        marker.setIcon(icon_hover)
                                                      })
                                                      .on('mouseout', function(){
                                                        const original_icon = set_marker_color(d.species)
                                                        marker.setIcon(original_icon)
                                                      })
                              
      marker.bindPopup(popup_content).addTo(map)

      // if (marker.options.species === Species.ELEGANS) {
      //   elegans.push(marker)
      // }
      // if (marker.options.species === Species.BRIGGSAE) {
      //   briggsae.push(marker)
      // }
      // if (marker.options.species === Species.TROPICALIS) {
      //   tropicalis.push(marker)
      // }
    //     p = new mapboxgl.Popup()
    //         .setHTML(innerHTML)
    //         .setOffset(popupOffset);
    //     m = new mapboxgl.Marker()
    //         .setLngLat([d.longitude, d.latitude])
    //         .setPopup(p)
    //         .addTo(map);
    //   }
    // })
    }
  })
});

function set_marker_color (species) {
  if (species === Species.ELEGANS) {
    return icon_elegans;
  }
  if (species === Species.BRIGGSAE) {
    return icon_briggsae;
  }
  if (species === Species.TROPICALIS) {
    return icon_tropicalis;
  }
}

// zoom in function
$('#zoomIn').click(function () {
  map.setZoom(map.getZoom() + 1)
});

// zoom out function
$('#zoomOut').click(function () {
  map.setZoom(map.getZoom() - 1)
});
</script>

{% endblock %}
