{% extends "_layouts/default.html" %}

{% block custom_head %}

<script src='https://api.mapbox.com/mapbox-gl-js/v2.0.1/mapbox-gl.js'></script> 
<link href='https://api.mapbox.com/mapbox-gl-js/v2.0.1/mapbox-gl.css' rel='stylesheet' /> 
<style>
  video {
    width: 100%;
    height: auto;
  }
</style>

{% endblock %}



{% block content %}

<div class="container-fluid px-5">
  <div class="row">  
    <div class="pb-5 mb-0 mb-md-5">
      <script src="https://fast.wistia.com/embed/medias/vss2540hx4.jsonp" async></script>
      <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
      <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
        <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
          <div class="wistia_embed wistia_async_vss2540hx4 videoFoam=true" style="height:100%;position:relative;width:100%">
            <div class="wistia_swatch"
              style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
              <img src="https://fast.wistia.com/embed/medias/vss2540hx4/swatch"
                style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true"
                onload="this.parentNode.style.opacity=1;" /></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /row -->
  <div class="row px-2 mb-5">
    <div class="col-12 col-md-6">
      <h2>What is <em>C. elegans</em>?</h2>
      <p>
        <em>Caenorhabditis elegans</em>  is a non-parasitic nematode roundworm that lives in rotting material and eats bacteria and fungi. 
        Because this species grows easily and quickly in the laboratory, it is a powerful model to learn about human development, complex behaviors, 
        and evolutionary processes. For more information about <em>C. elegans</em> 
        see this<a href="https://en.wikipedia.org/wiki/Caenorhabditis_elegans"> Wikipedia </a>page
      </p>
    </div>
    <div class="col-12 col-md-6 p-0 mb-5">
      <figure class="text-center">
        <img class="d-block mx-auto rounded shadow-sm" src="{{ ext_asset('img/crawl.gif') }}" style="max-width:100%;">
        <figcaption class="small mx-auto">Movie of <em>C. elegans</em> taken by the <a href="https://goldsteinlab.weebly.com/">Goldstein Lab</a></figcaption>
      </figure>
    </div>
  </div>
  <!-- /Row -->
  <div class="row px-2 mb-5">
    <div class="col-12 text-bg-light p-5 mb-5 rounded shadow-sm" style="min-height:30vh">
      <h2 class="text-center mb-5">What about <em>C. briggsae</em> and <em>C. tropicalis</em>?</h2>
      <p>
        These two species are distantly related to <em>C. elegans</em>. For this reason, they can be used for comparative studies. Additionally, the two species are found worldwide and enable studies of population genomics and natural diversity in their own ways.
      </p>
    </div>
  </div>
  <!-- /Row -->
  <div class="row px-2 mb-5">
    <div class="col-12 col-md-6">
      <h2>Global Distribution of wild isolates</h2>
      <p>
        Most research groups that study the <em>C. elegans</em> focus on the laboratory-adapted strain (called N2) isolated in 
        Bristol, England in the 1950s. We have learned a great deal about basic biological processes from studies of this one strain. The same goes for <em>C. briggsae</em> and <em>C. tropicalis</em>.
      </p>
      <p>
        All wild strains are as different from one another as humans are different from one another. 
        These strains are isolated from a variety of environments in nature when researchers collect rotting materials, including fruits, 
        flowers, nuts, berries, stems, leaves, and compost. We can use the natural diversity of these strains to learn about how populations 
        of individuals are genetically different from another and how those differences might impact disease.
      </p>
    </div>
    <div class="col-12 col-md-6 mb-5">
      <div id="map" style="height: 500px; width:100%">
        <script>
          mapboxgl.accessToken = 'pk.eyJ1Ijoic3dhY2hzcHJlc3MiLCJhIjoiY2trZDJyZWtmMHM3OTJvcWlpNmE3cTQ1ZSJ9.UwY-WYd78c7SnO1S_37vtg';
          var map = new mapboxgl.Map({
              container: 'map',
              style: 'mapbox://styles/mapbox/outdoors-v11', // stylesheet location
              center: [ '0', '0'], // starting position [lng, lat]
              zoom: -2 // starting zoom
          });
        </script>
      </div>
    </div>
  </div>
  <!-- /Row -->
  <div class="row px-2 mb-5">
    <div class="col-12 col-md-6">
      <h2>CaeNDR goals</h2>
      <p>
        To facilitate the study of natural diversity by <em>Caenorhabditis</em> research groups, we created the <em>Caenorhabditis</em> 
        Natural Diversity Resource (CaeNDR). We have three major goals:
      </p>
  
      <ol>
        <li>
          To accept, organize, and distribute wild strains to research groups that want to investigate their favorite trait(s) 
          across natural <em>Caenorhabditis</em> strains. See <a href="/">strains</a>.
        </li>
        <li>
          To sequence the whole genomes of wild <em>C. elegans</em>, <em>C. briggsae</em>, and <em>C. tropicalis</em> strains, provide the aligned sequence data, and facilitate discovery 
          of genetic variation across the entire species. See <a class="txt-link" href="{{ url_for('data.data') }}">Data</a>.
        </li>
        <li>
          To perform genome-wide association mappings to correlate genotype with phenotype and identify genetic variation underlying quantitative traits. 
        </li>
      </ol>
  
      <p>
        Please <a href="{{ url_for('about.contact_us') }}">let us know</a> what we can do to facilitate your discoveries! We are interested in
        adding new resources and tools.
      </p>
    </div>
    <div class="col-12 col-md-6">
      <img src="/static/img/caeNDRLogo.png" class="d-none d-md-block img-fluid mx-auto" style="width:50%" alt="CaeNDR logo">
    </div>
  </div>
  <!-- /Row -->
</div>
{% endblock %}



{% block script %}

<script>
  $(document).ready(function () {

  if (document.getElementById('map')) {
    ACCESS_TOKEN = mapboxgl.accessToken;
    var markerHeight = 50, markerRadius = 10, linearOffset = 25;
    var popupOffset = {
      'top': [0, 0],
      'top-left': [0,0],
      'top-right': [0,0],
      'bottom': [0, -markerHeight],
      'bottom-left': [linearOffset, (markerHeight - markerRadius + linearOffset) * -1],
      'bottom-right': [-linearOffset, (markerHeight - markerRadius + linearOffset) * -1],
      'left': [markerRadius, (markerHeight - markerRadius) * -1],
      'right': [-markerRadius, (markerHeight - markerRadius) * -1]
    };

  data = {{ strain_listing|tojson|safe }}

  data.forEach(function(d) {
    if (d.latitude) {
      const innerHTML = `
        <div>
          <ul style="list-style-type:none; padding-left:0px">
            ${d.isotype ? '<li><b><a href="../strains/isotype/' + d.isotype + '">Isotype: ' + d.isotype + '</a></b></li>': ''}
            ${d.strain ? '<li>Strain: ' + d.strain + '</li>': ''}
            ${d.isolation ? '<li>Isolation: ' + d.isolation + '</li>': ''}
            ${d.elevation ? '<li>Elevation: ' + d.elevation + '</li>': ''}
            ${d.isolation ? '<li>Location: ' + d.location + '</li>': ''}
          </ul>
        </div>
        `;
        p = new mapboxgl.Popup()
            .setHTML(innerHTML)
            .setOffset(popupOffset);
        m = new mapboxgl.Marker()
            .setLngLat([d.longitude, d.latitude])
            .setPopup(p)
            .addTo(map);
      }
    })
  }

});

</script>

{% endblock %}
