{% extends "_layouts/default.html" %}

{% block content %}


<div class="row" fs-4>
    <div class="col-12 text-bg-light p-2 mb-2 rounded shadow-sm" >
      <p>
        The <em>Caenorhabditis</em> Natural Diversity Resource (CaeNDR) is a community resource providing accurate, current, and accessible information about wild strains, 
        their genomes, and genomic variation from the three selfing species <em>C. briggsae</em>, <em>C. elegans</em>, and <em>C. tropicalis</em>. CaeNDR provides genome-sequence verified 
        wild strains for these species along with tools that enable quantitative and population genetics studies. Based at Johns Hopkins University, it was founded 
        in 2016 by Erik Andersen, Robyn Tanny, and Dan Cook. 
      </p>
    </div>
</div>

  <!-- /row -->
  <div class="row px-2">
    <div class="col-12 text-bg-light p-2 mb-2 rounded shadow-sm" >
      <p>
        <b>Privacy Policy:</b> CaeNDR logs the IP address of your browser and query against the website. These data are collected to track usage statistics and to identify 
        operational issues. We do not use these data to identify individuals or organizations, and these data are never shared with any parties outside of CaeNDR 
        leadership and the Scientific Advisor Committee. Cookies are used to provide persistence across browsing sessions. User login allows retention of data for 
        specific tools, and those data are retained in a cloud-based storage bucket. Data associated with specific users are not accessible to any parties outside 
        of CaeNDR leadership and not used for any research purposes outside of tool performance testing and to identify operational issues.
      </p>
    </div>
  </div>

  <!-- /row -->
  <div class="row px-2">
    <div class="col-12 text-bg-light p-2 mb-2 rounded shadow-sm" >
      <p>
        <b>Acceptable Use:</b> Wild strains cryopreserved and distributed by CaeNDR were collected by researchers and donated to CaeNDR. The genomes of these wild strains 
        are sequenced and analyzed for variation with the release of these data to the community. Both the wild strains and the data associated with those strains 
        can be used freely by the community once released by CaeNDR. Some wild strains can also be obtained from the original labs that collected these strains, but 
        these strains are not genome-validated and the genomic data on CaeNDR might not match strains obtained from other labs. None of these strains or genomic data 
        should be used by for-profit entities without communication with the labs that originally collected the wild strain(s) of interest.
      </p>
    </div>
  </div>

  <!-- /row -->
  <div class="row px-2">
    <div class="col-12 text-bg-light p-2 mb-2 rounded shadow-sm" >
      <p>
        <b>Citing:</b> Please cite CaeNDR if you use the data or tools. The link is <a href="https://doi.org/10.1093/nar/gkad887">here</a>.
      </p>
    </div>
  </div>

  <!-- /row -->
  <div class="row px-2 mb-2">
    <div class="col-12 text-bg-light p-2 mb-2 rounded shadow-sm" >
      <p>
        <b>Release Schedule:</b> We endeavor to release new strains and associated genomic data on an annual basis. However, these efforts are based on available funding and 
        personnel in the Andersen lab. Please reach out to co-directors or members of the Scientific Advisory Committee if you would like to contribute funding or 
        efforts towards data in a future release.
      </p>
    </div>
  </div>

  <!-- /row -->
  <div class="row px-2 mb-2">
    <div class="col-12 text-bg-light p-2 mb-2 rounded shadow-sm" >
      <h2 class="text-center">What is <em>C. elegans</em>?</h2>
      <p>
        <em>Caenorhabditis elegans</em>  is a non-parasitic nematode roundworm that lives in rotting material and eats bacteria and fungi. 
              Because this species grows easily and quickly in the laboratory, it is a powerful model to learn about human development, complex behaviors, 
              and evolutionary processes. For more information about <em>C. elegans</em> 
              see this<a href="https://en.wikipedia.org/wiki/Caenorhabditis_elegans"> Wikipedia </a>page.
      </p>
    </div>
  </div>
  <!-- /Row -->
  <div class="row px-2 mb-2">
    <div class="col-12 text-bg-light p-2 mb-2 rounded shadow-sm" >
      <h2 class="text-center">What about <em>C. briggsae</em> and <em>C. tropicalis</em>?</h2>
      <p>
        These two species are distantly related to <em>C. elegans</em>. For this reason, they can be used for comparative studies. Additionally, the two species are found worldwide and enable studies of population genomics and natural diversity in their own ways.
      </p>
    </div>
  </div>
  <!-- /Row -->
  <div class="row px-2 mb-5">
    <div class="col-12 col-md-6">
      <h2>Global distribution of wild isolates</h2>
      <p>
        Most research groups that study <em>C. elegans</em> focus on the laboratory-adapted strain (called N2) isolated in Bristol, England in the 1950s.
        We have learned a great deal about basic biological processes from studies of this one strain.
        For the two other selfing <em>Caenorhabditis</em> species (<em>C. briggsae</em> and <em>C. tropicalis</em>), most studies focus on a single laboratory strain as well.
      </p>
      <p>
        All wild strains are as different from one another as humans are different from one another. 
        These strains are isolated from a variety of environments in nature when researchers collect rotting materials, including fruits, 
        flowers, nuts, berries, stems, leaves, and compost. We can use the natural diversity of these strains to learn about how populations 
        of individuals are genetically different from another and how those differences might impact disease.
      </p>
    </div>
    <div class="col-12 col-md-6 mb-5">
      <!-- Map -->
      {% include "_includes/map-static.html" %}
      <!-- /Map -->
    </div>
  </div>
  <!-- /Row -->
  <div class="row px-2 mb-5">
    <div class="col-12 col-md-6">
      <h2>CaeNDR goals</h2>
      <p>
        To facilitate the study of natural diversity by <em>Caenorhabditis</em> research groups, we created the <em>Caenorhabditis</em> 
        Natural Diversity Resource (CaeNDR). We have three major goals:
      </p>
  
      <ol>
        <li>
          To accept, organize, and distribute wild strains to research groups that want to investigate their favorite trait(s) across natural <em>Caenorhabditis</em> strains. Wild strains were
           collected by <a href="{{ url_for('about.major_strain_contributors') }}">major strain contributors</a> and citizen scientists who are passionate about natural ecology and evolution of <em>Caenorhabditis</em> 
           nematodes. See <a href="{{ url_for('data.strain_database') }}">strains</a> for examples of how this community has build a community-wide resource.
        </li>
        <li>
          To sequence the genomes of wild <em>C. elegans</em>, <em>C. briggsae</em>, and <em>C. tropicalis</em> strains, provide the aligned sequence data, and facilitate discovery 
          of genetic variation across all three species. See <a class="txt-link" href="{{ url_for('data.data') }}">Data</a>.
        </li>
        <li>
          To perform genome-wide association mappings to correlate genotype with phenotype and identify genetic variation underlying quantitative traits. 
        </li>
      </ol>
  
      <p>
        Please <a href="{{ url_for('about.contact_us') }}">let us know</a> what we can do to facilitate your discoveries! We are interested in
        adding new resources and tools.
      </p>
    </div>
    <div class="col-12 col-md-6">
      <img src="/static/img/caeNDRLogo.png" class="d-none d-md-block img-fluid mx-auto" style="width:50%" alt="CaeNDR logo">
    </div>
  </div>
  <!-- /Row -->
</div>
{% endblock %}