{% extends "_layouts/default.html" %}

{% block content %}
<div class="row">
    <p>This resource would not exist if it were not for the amazing efforts of researchers who collect nematodes from nature. The nematode evolution community owes each of them a debt of gratitude for these efforts. CaeNDR would like to formally thank each person (scientist or citizen-scientist) who has collected wild nematodes and contributed them to this resource. Some of the collectors who have contributed the most strains are shown below. Thank you to each of them for their efforts!</p>
    <h2>Thank you wild worm collectors!</h2>
</div>
{% endblock %}