{% extends "_layouts/default-nocontainer.html" %}

{% block custom_head %}
<style>
    .card img {
        width: 150px;
        height: auto;
    }

    .detailsLink {
        font-size: 1.25rem !important;
        color: #000;
    }
</style>
{% endblock %}

{% block content %}

<div class="container-fluid px-5 pb-5">
    <div class="row">
        <div class="col col-md-3 mt-5">
            <nav class="nav flex-column mx-auto" style="width:60%;">
                <a class="nav-link" href="#staff">Staff</a>
                <a class="nav-link" href="#SAC">Scientific Advisory Committee</a>
                <a class="nav-link" href="#collaborators">Collaborators</a>
            </nav>
        </div>
        <div class="col col-md-9 mt-5">
            <!-- Staff section -->
            <div class="row">
                <h2 id="staff">Staff</h2>
            </div>
            <!-- /Row -->
            <div class="row row-cols-1 row-cols-md-3 g-5 mb-5">
                <!-- Card Column -->
                {% for p in profiles['staff'] %}
                <div class="col mb-3">
                    <div class="card p-0 pt-3 mt-5 h-100 shadow text-center cardBorderBottom">
                        <img src="{{ p.img_url }}" class="img-fluid rounded mb-3 mx-auto"
                            alt="{{ p.first_name }} {{ p.last_name }}">
                        <div class="card-body">
                            <h3 class="h5 card-title">{{ p.first_name }} {{ p.last_name }}</h3>
                            <p class="card-text">
                                <small>{{ p.title }}</small>
                                {% if p.email %}
                            <p><i class="bi bi-envelope-fill detailsLink"></i> <a href="mailto:{{ p.email }}">{{ p.email
                                    }}</a></p>
                            {% endif %}
                            {% if p.website %}
                            <p><i class="bi bi-box-arrow-up-right"></i> <a href="{{ p.website }}">{{ p.website }}</a>
                            </p>
                            {% endif %}
                            {% if p.github %}
                            <p><i class="bi bi-github"></i> <a href="https://github.com/{{ p.github }}">{{ p.github
                                    }}</a></p>
                            {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- /Card Column -->
            </div>
            <!-- /Row -->
            <!-- /Staff section -->
            <!-- Scientific Advisory Committee section -->
            <div class="row">
                <h2 class="mt-5" id="SAC">Scientific Advisory Committee</h2>
            </div>
            <!-- /Row -->
            <div class="row row-cols-1 row-cols-md-3 g-5 mb-5">
                <!-- Card Column -->
                {% for p in profiles['committee']|sort(attribute='last_name') %}
                <div class="col mb-3">
                    <div class="card p-0 pt-3 mt-5 h-100 shadow text-center cardBorderBottom" style="min-height:35vh;">
                        <img src="{{ p.img_url }}" class="img-fluid rounded mb-3 mx-auto"
                            alt="{{ p.first_name }} {{ p.last_name }}">
                        <div class="card-body">
                            <h3 class="h5 card-title"><a href="{{ p.website }}" target="_blank">{{ p.first_name }} {{
                                    p.last_name }}</a></h3>
                            <p class="card-text">
                                <small>{{ p.org }}</small>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- /Card Column -->
            </div>
            <!-- /Row -->
            <!-- /Staff section -->
            <!-- Collaborators section -->
            <div class="row">
                <h2 class="mt-5" id="collaborators">Collaborators</h2>
            </div>
            <!-- /Row -->
            <div class="row row-cols-1 row-cols-md-3 g-5 mb-5">
                <!-- Card Column -->
                {% for p in profiles['collaborators']|sort(attribute='last_name') %}
                <div class="col mb-3">
                    <div class="card p-0 pt-3 mt-5 h-100 shadow text-center cardBorderBottom" style="min-height:35vh;">
                        <img src="{{ p.img_url }}" class="img-fluid rounded mb-3 mx-auto"
                            alt="{{ p.first_name }} {{ p.last_name }}">
                        <div class="card-body">
                            <h3 class="h5 card-title"><a href="{{ p.website }}" target="_blank">{{ p.first_name }} {{
                                    p.last_name }}</a></h3>
                            <p class="card-text">
                                <small>{{ p.org }}</small>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- /Card Column -->
            </div>
            <!-- /Row -->
            <!-- /Collaborators section -->
        </div>

    </div>
    <!-- /Row -->
</div> <!-- /Container -->
{% endblock %}